<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
   <head>
	   <!-- Required meta tags -->
	   <meta charset="utf-8" />
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	   <meta content="Codescandy" name="author" />
	   <title>Inicio</title>
	   <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
	   <!-- Favicon icon-->
	   <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

	   <!-- Libs CSS -->
	   <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
	   <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
	   <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

	   <!-- Theme CSS -->
	   <link rel="stylesheet" th:href="@{/css/theme.min.css}" />



	   <!--Prueba de logo para ver si usamos jpg o svg -->
	   <style>

		   .logoImagen{
			   height: 80px;
			   width: 250px;
		   }
		   .logoImagenCelulares{
			   height: 80px;
			   width: 220px;
		   }
	   </style>


   </head>

   <body>

   <!-- BARRA SUPERIOR -->

   <div th:insert="~{fragments/navbarAgente.html :: barraSuperior}"></div>
	<!-- CONTENIDO DE PÁGINA -->
   <div class="main-wrapper">

	   <!-- navbar -->
	   <!-- navbar vertical (para pc)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalPc('inicio')}"></div>

	   <!-- navbar vertical (para celular)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalCelulares('inicio')}"></div>



   <!-- COONTENIDO DE LA PAGINA -->
   <main class="main-content-wrapper">
	   <!-- SLIDER-->
	   <section class="container ">
		   <div class="hero-slider">
			   <div
					   style="background-size: cover; border-radius: .5rem; background: url(/images/slider/slide-1.jpg) no-repeat center;">
				   <div class="ps-lg-12 py-lg-12 col-xxl-5 col-md-7 py-17 px-8 text-xs-center">
					   <span class="badge text-bg-warning">Control</span>
					   <h2 class="text-dark display-5 fw-bold mt-4">Órdenes </h2>
					   <p class="lead">Observa, edita y elimina las órdenes de los usuarios que se te han asignado</p>
					   <a th:href="@{/Agente/Ordenes}" class="btn btn-dark mt-3">Mostrar ahora<i class="feather-icon icon-arrow-right ms-1"></i></a>
				   </div>
			   </div>
			   <div class=" "
					style="background-size: cover; border-radius: .5rem; background: url(/images/slider/slider-2.jpg) no-repeat center;">
				   <div class="ps-lg-12 py-lg-9 col-xxl-7 col-md-10 py-14 px-8 py-md-7 text-xs-center">
					   <span class="badge text-bg-warning">Gestión</span>
					   <h2 class="text-dark display-5 fw-bold mt-4">Gestiona hasta <span class="text-primary">100 </span> usuarios <br>y<span class="text-primary"> trackealos</span> a todos</h2> </h2>
					   <p class="lead">Mira la información y gestiona a los usuarios que se te han asignado, junto con las órdenes que les pertenecen</p>
					   <a th:href="@{/Agente/UsuariosAsignados}" class="btn btn-dark mt-3">Mostrar ahora <i class="feather-icon icon-arrow-right ms-1"></i></a>
				   </div>
			   </div>
		   </div>
	   </section>

		<!-- ÓRDENES RECIENTES-->
	   <section class="mb-lg-14 mb-8">
		   <div class="container">
			   <!-- FILTRO DE ÓRDENES RECIENTES-->
			   <div class="row">
				   <div class="col-12">
					   <div class="mb-6 d-xl-flex justify-content-between align-items-center">
						   <!-- heading -->
						   <div class="mb-5 mb-xl-0">
							   <h3 class="mb-0">Recientes</h3>
							   <p class="mb-0">Mira las ordenes de acuerdo a su estado</p>
						   </div>
						   <div>
							   <!-- nav -->
							   <nav>
								   <ul class="nav nav-pills nav-scroll border-bottom-0 gap-1" id="nav-tab" role="tablist">
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a
												   href="#"
												   class="nav-link active"
												   id="nav-fruitsandveg-tab"
												   data-bs-toggle="tab"
												   data-bs-target="#nav-fruitsandveg"
												   role="tab"
												   aria-controls="nav-fruitsandveg"
												   aria-selected="true">
											   Todos
										   </a>
									   </li>
									   <!-- nav item -->

									   <li class="nav-item">
										   <!-- nav link -->
										   <a
												   href="#"
												   class="nav-link"
												   id="nav-snackMunchies-tab"
												   data-bs-toggle="tab"
												   data-bs-target="#nav-snackMunchies"
												   role="tab"
												   aria-controls="nav-snackMunchies"
												   aria-selected="false">
											   Sin asignar
										   </a>
									   </li>
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a href="#" class="nav-link" id="nav-bakery-tab" data-bs-toggle="tab" data-bs-target="#nav-bakery" role="tab" aria-controls="nav-bakery" aria-selected="false">
											   Pendiente
										   </a>
									   </li>
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a href="#" class="nav-link" id="nav-tea-tab" data-bs-toggle="tab" data-bs-target="#nav-tea" role="tab" aria-controls="nav-tea" aria-selected="false">
											   En proceso
										   </a>
									   </li>
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a href="#" class="nav-link" id="nav-drinks-tab" data-bs-toggle="tab" data-bs-target="#nav-drinks" role="tab" aria-controls="nav-drinks" aria-selected="false">
											   Resueltas
										   </a>
									   </li>
								   </ul>
							   </nav>
						   </div>
					   </div>
				   </div>
			   </div>
			   <!--ORDENES RECIENTES-->
			   <div class="row">
				   <div class="col-12">
					   <!-- tab -->
					   <div class="tab-content" id="nav-tabContent">
						   <!-- filtro 1-->
						   <div class="tab-pane fade show active" id="nav-fruitsandveg" role="tabpanel" aria-labelledby="nav-fruitsandveg-tab" tabindex="0">
							   <!-- row -->
							   <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-primary">En proceso</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-primary">En proceso</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-primary">En proceso</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-primary">En proceso</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-primary">En proceso</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
							   </div>
						   </div>
						   <!-- filtro 2-->
						   <div class="tab-pane fade show active" id="nav-snackMunchies" role="tabpanel" aria-labelledby="nav-snackMunchies-tab" tabindex="0">
							   <!-- row -->
							   <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-danger">Sin asignar</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-danger">Sin asignar</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-danger">Sin asignar</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-danger">Sin asignar</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
								   <!-- ORDEN 1-->
								   <div class="col">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" /></a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a href="#!" class="btn-action mb-1" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="bi bi-eye"></i></a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6"><a href="#!" class="text-inherit text-decoration-none">Orden: #12554</a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary">S/. 135.00</span>
												   </div>
												   <div><span class="text-uppercase small text-danger">Sin asignar</span></div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
							   </div>
						   </div>

					   </div>
				   </div>
			   </div>

		   </div>
	   </section>





   </main>



	</div>


   	<!-- LIBRERIAS -->
	<div>
		<!-- Javascript-->
		<!-- Libs JS -->
		<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
		<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

		<!-- Theme JS -->
		<script th:src="@{/js/theme.min.js}"></script>

		<script th:src="@{/js/vendors/jquery.min.js}"></script>
		<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
		<script th:src="@{/js/vendors/slick-slider.js}"></script>
		<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
		<script th:src="@{/js/vendors/tns-slider.js}"></script>
		<script th:src="@{/js/vendors/zoom.js}"></script>

		<script th:src="@{/js/vendors/countdown.js}"></script>
		<script th:src="@{/libs/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
		<script th:src="@{/js/vendors/sticky.js}"></script>
		<script th:src="@{/js/vendors/modal.js}"></script>
	</div>

   </body>
</html>
