<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
   <head>
	   <!-- Required meta tags -->
	   <meta charset="utf-8" />
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	   <meta content="Codescandy" name="author" />
	   <title>Inicio</title>
	   <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
	   <!-- Favicon icon-->
	   <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

	   <!-- Libs CSS -->
	   <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
	   <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
	   <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

	   <!-- Theme CSS -->
	   <link rel="stylesheet" th:href="@{/css/theme.min.css}" />



	   <!--Prueba de logo para ver si usamos jpg o svg -->
	   <style>

		   .logoImagen{
			   height: 80px;
			   width: 250px;
		   }
		   .logoImagenCelulares{
			   height: 80px;
			   width: 220px;
		   }

		   .img-fixed-size {
			   width: 150px; /* Cambia el valor según el tamaño deseado */
			   height: 150px; /* Cambia el valor según el tamaño deseado */
			   object-fit: cover; /* Ajusta la imagen para que no se deforme */
		   }

	   </style>


   </head>

   <body>

   <!-- BARRA SUPERIOR -->

   <div th:insert="~{fragments/navbarAgente.html :: barraSuperior}"></div>
	<!-- CONTENIDO DE PÁGINA -->
   <div class="main-wrapper">

	   <!-- navbar -->
	   <!-- navbar vertical (para pc)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalPc('inicio')}"></div>

	   <!-- navbar vertical (para celular)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalCelulares('inicio')}"></div>



   <!-- COONTENIDO DE LA PAGINA -->
   <main class="main-content-wrapper">
	   <!-- SLIDER-->
	   <section class="container ">
		   <div class="hero-slider">
			   <div
					   style="background-size: cover; border-radius: .5rem; background: url(/images/slider/slide-1.jpg) no-repeat center;">
				   <div class="ps-lg-12 py-lg-12 col-xxl-5 col-md-7 py-17 px-8 text-xs-center">
					   <span class="badge text-bg-warning">Control</span>
					   <h2 class="text-dark display-5 fw-bold mt-4">Órdenes </h2>
					   <p class="lead">Observa, edita y elimina las órdenes de los usuarios que se te han asignado</p>
					   <a th:href="@{/Agente/Ordenes}" class="btn btn-dark mt-3">Mostrar ahora<i class="feather-icon icon-arrow-right ms-1"></i></a>

				   </div>
			   </div>
			   <div class=" "
					style="background-size: cover; border-radius: .5rem; background: url(/images/slider/slider-2.jpg) no-repeat center;">
				   <div class="ps-lg-12 py-lg-9 col-xxl-7 col-md-10 py-14 px-8 py-md-7 text-xs-center">
					   <span class="badge text-bg-warning">Gestión</span>
					   <h2 class="text-dark display-5 fw-bold mt-4">Gestiona hasta <span class="text-primary">100 </span> usuarios <br>y<span class="text-primary"> trackealos</span> a todos</h2> </h2>
					   <p class="lead">Mira la información y gestiona a los usuarios que se te han asignado, junto con las órdenes que les pertenecen</p>
					   <a th:href="@{/Agente/UsuariosAsignados}" class="btn btn-dark mt-3">Mostrar ahora <i class="feather-icon icon-arrow-right ms-1"></i></a>
				   </div>
			   </div>
		   </div>
	   </section>

		<!-- ÓRDENES RECIENTES-->
	   <section class="mb-lg-14 mb-8">
		   <div class="container">
			   <!-- FILTRO DE ÓRDENES RECIENTES-->
			   <div class="row">
				   <div class="col-12">
					   <div class="mb-6 d-xl-flex justify-content-between align-items-center">
						   <!-- heading -->
						   <div class="mb-5 mb-xl-0">
							   <h3 class="mb-0">Recientes</h3>
							   <p class="mb-0">Mira las ordenes de acuerdo a su estado</p>
						   </div>
						   <div>
							   <!-- nav -->
							   <nav>
								   <ul class="nav nav-pills nav-scroll border-bottom-0 gap-1" id="nav-tab" role="tablist">
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a
												   href="#"
												   class="nav-link active"
												   id="sinAsignar"
												   data-bs-toggle="tab"
												   data-bs-target="#sinAsignar_"
												   role="tab"
												   aria-controls="sinAsignar_"
												   aria-selected="true">
											   Sin asignar
										   </a>
									   </li> <!-- Sin asignar-->
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a
												   href="#"
												   class="nav-link"
												   id="pendiente"
												   data-bs-toggle="tab"
												   data-bs-target="#pendiente_"
												   role="tab"
												   aria-controls="pendiente_"
												   aria-selected="false">
											   Pendiente
										   </a>
									   </li><!-- Pendiente-->
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a href="#" class="nav-link" id="resuelta" data-bs-toggle="tab" data-bs-target="#resuelta_" role="tab" aria-controls="resuelta_" aria-selected="false">
											   Resuelta
										   </a>
									   </li><!-- En proceso-->
									   <!-- nav item -->
									   <li class="nav-item">
										   <!-- nav link -->
										   <a href="#" class="nav-link" id="enProceso" data-bs-toggle="tab" data-bs-target="#enProceso_" role="tab" aria-controls="enProceso_" aria-selected="false">
											   En proceso
										   </a>
									   </li><!-- Resueltas-->

								   </ul>
							   </nav>
						   </div>
					   </div>
				   </div>
			   </div>
			   <!--ORDENES SIN ASIGNAR-->
			   <div class="row">
				   <div class="col-12">
					   <!-- tab -->
					   <div class="tab-content" id="nav-tabContent">
						   <!-- Sin asignar-->
						   <div class="tab-pane fade show active" id="sinAsignar_" role="tabpanel" aria-labelledby="sinAsignar" tabindex="0">
							   <!-- row -->
							   <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4" >
								   <!-- ORDENES-->
								   <div class="col" th:each="orden,var : ${listaOrdenesSinAsignar}">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <!--<a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" /></a>-->
												   <a th:href="@{/Agente/Ordenes/DetallesOrdenSinAsignar(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}">
													   <img th:src="@{'/productos/' + ${orden.primerIdProducto}}" alt="Imagen del producto" class="mb-3 img-fixed-size" />
												   </a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a th:href="@{/Agente/Ordenes/DetallesOrdenSinAsignar(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}"
														  class="btn-action mb-1">
														   <i class="bi bi-eye"></i>
													   </a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6" th:text="|Orden: ${var.index+1}|"><a href="#!" class="text-inherit text-decoration-none"></a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary" th:text="|${orden.nombre} ${orden.apellidoPaterno} |"></span>
												   </div>
												   <div th:switch="${orden.estadoOrden}">
													   <span th:case="1" th:text="'Creado'" class="badge bg-light-primary text-dark-primary"></span>
													   <span th:case="2" th:text="'En validación'" class="badge bg-light-secondary text-dark-secondary"></span>
													   <span th:case="3" th:text="'En proceso'" class="badge bg-light-info text-dark-info"> </span>
													   <span th:case="4" th:text="'Arribo al país'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="5" th:text="'En aduanas'" class="badge bg-light-danger text-dark-danger"></span>
													   <span th:case="6" th:text="'En ruta'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="7" th:text="'Recibido'" class="badge bg-light-success text-dark-success"></span>
												   </div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>

							   </div>
						   </div>
						   <!-- Pendiente-->
						   <div class="tab-pane fade  " id="pendiente_" role="tabpanel" aria-labelledby="pendiente" tabindex="0">
							   <!-- row -->
							   <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
								   <!-- ORDENES-->
								   <div class="col" th:each="orden,var : ${listaOrdenesPendientes}">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <!--<a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" /></a>-->
												   <a th:href="@{/Agente/Ordenes/Detalles(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}">
													   <img th:src="@{'/productos/' + ${orden.primerIdProducto}}" alt="Imagen del producto" class="mb-3 img-fixed-size" />
												   </a>

												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a th:href="@{/Agente/Ordenes/Detalles(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}"
														  class="btn-action mb-1">
														   <i class="bi bi-eye"></i>
													   </a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6" th:text="|Orden: ${var.index+1}|"><a href="#!" class="text-inherit text-decoration-none"></a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary" th:text="|${orden.nombre} ${orden.apellidoPaterno} |"></span>
												   </div>
												   <div th:switch="${orden.estadoOrden}">
													   <span th:case="1" th:text="'Creado'" class="badge bg-light-primary text-dark-primary"></span>
													   <span th:case="2" th:text="'En validación'" class="badge bg-light-secondary text-dark-secondary"></span>
													   <span th:case="3" th:text="'En proceso'" class="badge bg-light-info text-dark-info"> </span>
													   <span th:case="4" th:text="'Arribo al país'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="5" th:text="'En aduanas'" class="badge bg-light-danger text-dark-danger"></span>
													   <span th:case="6" th:text="'En ruta'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="7" th:text="'Recibido'" class="badge bg-light-success text-dark-success"></span>
												   </div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
							   </div>
						   </div>
						   <!-- enProgreso-->
						   <div class="tab-pane fade  " id="enProceso_" role="tabpanel" aria-labelledby="enProgreso" tabindex="0">
							   <!-- row -->
							   <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
								   <!-- ORDENES-->
								   <div class="col" th:each="orden,var : ${listaOrdenesEnProceso}">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!--<a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" /></a>-->
												   <a th:href="@{/Agente/Ordenes/Detalles(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}">
													   <img th:src="@{'/productos/' + ${orden.primerIdProducto}}" alt="Imagen del producto" class="mb-3 img-fixed-size" />
												   </a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a th:href="@{/Agente/Ordenes/Detalles(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}"
														  class="btn-action mb-1">
														   <i class="bi bi-eye"></i>
													   </a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6" th:text="|Orden: ${var.index+1}|"><a href="#!" class="text-inherit text-decoration-none"></a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary" th:text="|${orden.nombre} ${orden.apellidoPaterno} |"></span>
												   </div>
												   <div th:switch="${orden.estadoOrden}">
													   <span th:case="1" th:text="'Creado'" class="badge bg-light-primary text-dark-primary"></span>
													   <span th:case="2" th:text="'En validación'" class="badge bg-light-secondary text-dark-secondary"></span>
													   <span th:case="3" th:text="'En proceso'" class="badge bg-light-info text-dark-info"> </span>
													   <span th:case="4" th:text="'Arribo al país'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="5" th:text="'En aduanas'" class="badge bg-light-danger text-dark-danger"></span>
													   <span th:case="6" th:text="'En ruta'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="7" th:text="'Recibido'" class="badge bg-light-success text-dark-success"></span>
												   </div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
							   </div>
						   </div>
						   <!-- Resuelta-->
						   <div class="tab-pane fade " id="resuelta_" role="tabpanel" aria-labelledby="resuelta" tabindex="0">
							   <!-- row -->
							   <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
								   <!-- ORDENES-->
								   <div class="col" th:each="orden,var : ${listaOrdenesResueltas}">
									   <!-- card -->
									   <div class="card card-product-v2 h-100">
										   <div class="card-body position-relative">
											   <!-- badge -->
											   <div class="text-center position-relative">

												   <!-- img -->
												   <!--<a href="#!"><img th:src="@{/images/products/product-img-1.jpg}" alt="Grocery Ecommerce Template" /></a>-->
												   <a th:href="@{/Agente/Ordenes/Detalles(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}">
													   <img th:src="@{'/productos/' + ${orden.primerIdProducto}}" alt="Imagen del producto" class="mb-3 img-fixed-size" />
												   </a>
												   <!-- action btn -->
												   <div class="product-action-btn">
													   <a th:href="@{/Agente/Ordenes/Detalles(indicadorVistaARegresar=2, numOrden=${var.index + 1}, idOrden=${orden.idOrden})}"
														  class="btn-action mb-1">
														   <i class="bi bi-eye"></i>
													   </a>
												   </div>
											   </div>
											   <!-- title -->
											   <h2 class="fs-6" th:text="|Orden: ${var.index+1}|"><a href="#!" class="text-inherit text-decoration-none"></a></h2>

											   <!-- price -->
											   <div class="d-flex justify-content-between align-items-center mt-3">
												   <div>
													   <span class="text-primary" th:text="|${orden.nombre} ${orden.apellidoPaterno} |"></span>
												   </div>
												   <div th:switch="${orden.estadoOrden}">
													   <span th:case="1" th:text="'Creado'" class="badge bg-light-primary text-dark-primary"></span>
													   <span th:case="2" th:text="'En validación'" class="badge bg-light-secondary text-dark-secondary"></span>
													   <span th:case="3" th:text="'En proceso'" class="badge bg-light-info text-dark-info"> </span>
													   <span th:case="4" th:text="'Arribo al país'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="5" th:text="'En aduanas'" class="badge bg-light-danger text-dark-danger"></span>
													   <span th:case="6" th:text="'En ruta'" class="badge bg-light-warning text-dark-warning"></span>
													   <span th:case="7" th:text="'Recibido'" class="badge bg-light-success text-dark-success"></span>
												   </div>
											   </div>

										   </div>
										   <!-- hidden class for hover -->
										   <div class="product-content-fade border-info" style="margin-bottom: -10px"></div>
									   </div>
								   </div>
							   </div>
						   </div>


					   </div>
				   </div>
			   </div>

		   </div>
	   </section>





   </main>



	</div>


   	<!-- LIBRERIAS -->
	<div>
		<!-- Javascript-->
		<!-- Libs JS -->
		<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
		<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

		<!-- Theme JS -->
		<script th:src="@{/js/theme.min.js}"></script>

		<script th:src="@{/js/vendors/jquery.min.js}"></script>
		<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
		<script th:src="@{/js/vendors/slick-slider.js}"></script>
		<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
		<script th:src="@{/js/vendors/tns-slider.js}"></script>
		<script th:src="@{/js/vendors/zoom.js}"></script>

		<script th:src="@{/js/vendors/countdown.js}"></script>
		<script th:src="@{/libs/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
		<script th:src="@{/js/vendors/sticky.js}"></script>
		<script th:src="@{/js/vendors/modal.js}"></script>
	</div>

   </body>
</html>
