<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>Editar Usuario</title>
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


	<!-- Libs CSS -->
	<link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
	<link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
	<link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


	<!-- Theme CSS -->
	<link rel="stylesheet" th:href="@{/css/theme.min.css}">

	<style>

		.logoImagen{
			height: 80px;
			width: 250px;
		}
		.logoImagenCelulares{
			height: 80px;
			width: 220px;
		}
	</style>
</head>

<body>
<!-- main -->
<div>
	<!-- navbar -->
	<div th:insert="~{fragments/navbarSuperior.html :: navbarSuperior}"></div>


	<div class="main-wrapper">
        <div th:insert="~{fragments/navbarSuperAdmin.html :: navbarVerticalPc('listaUsuarioFinal')}"></div>

        <!-- navbar vertical (para celular)-->
        <div th:insert="~{fragments/navbarSuperAdmin.html :: navbarVerticalCelulares('listaUsuarioFinal')}"></div>
		<!-- COONTENIDO DE LA PAGINA -->
		<main class="main-content-wrapper">
			<div class="container">
				<div class="row ">
					<div class="col-12">
						<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
							<div>
								<h2>Editar Usuario Final</h2>
								<!-- breacrumb -->
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0">
										<li class="breadcrumb-item"><a th:href="@{dashboard}" class="text-inherit">Dashboard</a></li>
										<li class="breadcrumb-item active" aria-current="page">Editar usuario final</li>
									</ol>
								</nav>
							</div>

					</div>
				</div>
				<div class="row" style="min-height: 100vh;">
					<div class="col-12">
						<div class="card card-lg border-0">
							<div class="card-body d-flex flex-column gap-8 p-7">
								<form class="row g-3 needs-validation" enctype="multipart/form-data"   method="post" th:action="@{/SuperAdmin/UsuarioFinal/Actualizar}" th:object="${finalUser}"  novalidate>
									<input type="hidden" class="form-control" th:value="${finalUser}" th:field="*{id}" />
									<div class="d-flex flex-column flex-md-row align-items-center mb-4 file-input-wrapper gap-2">
										<div>
											<!--<img class="image avatar avatar-lg rounded-3"
												 th:src="@{${finalUser.getFoto() != null} ? '/usuarioFinal/' + ${finalUser.getId()} : '/images/avatar/avatarGenerico.png'}"
												 alt="Image" />-->
										</div>

										<div class="file-upload btn btn-light ms-md-4">
											<input type="file" name="UserPhoto" class="file-input opacity-0" accept=".jpg,.jpeg,.png,.gif" />

											Actualizar Foto
										</div>

										<span class="ms-md-2">JPG, GIF o PNG. Máx. 1MB.</span>
									</div>

									<div class="d-flex flex-column gap-4">
										<h4 class="mb-0 h5">Información del usuario final</h4>

										<div class="row">
											<div class="col-lg-6 col-12">
												<label for="DNIFinalUser" class="form-label">
													DNI:
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control" id="DNIFinalUser" th:field="*{dni}" th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${dniError}" th:text="${dniError}"></div>
											</div>

											<div class="col-lg-6 col-12">
												<label for="creatCustomerName" class="form-label">
													Nombres:
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control" id="creatCustomerName" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>                                                    </div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-6 col-12">
												<label for="creatFinalUserLastName1" class="form-label">
													Apellido Paterno:
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control" id="creatFinalUserLastName1" th:field="*{apellidoPaterno}" th:classappend="${#fields.hasErrors('apellidoPaterno')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></div>
											</div>

											<div class="col-lg-6 col-12">
												<label for="creatFinalUserLastName" class="form-label">
													Apellido Materno:
													<span class="text-danger">*</span>
												</label>
												<input type="text" class="form-control" id="creatFinalUserLastName" th:field="*{apellidoMaterno}" th:classappend="${#fields.hasErrors('apellidoMaterno')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="*{apellidoMaterno}"></div>
										</div>

										<div class="row">
											<div class="col-lg-6 col-12">
												<label for="creatFinalUserEmail" class="form-label">
													Email:
													<span class="text-danger">*</span>
												</label>
												<input type="email" class="form-control" name="email" id="creatFinalUserEmail" th:field="*{email}" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
											</div>

											<div class="col-lg-6 col-12">
												<label for="creatFinalUserDirection" class="form-label">Dirección</label>
												<input type="text" class="form-control" id="creatFinalUserDirection" th:field="*{direccion}" th:classappend="${#fields.hasErrors('direccion')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
											</div>
										</div>

										<div class="row">
											<div class="col-lg-6 col-12">
												<label for="creatFinalUserPhone" class="form-label">Teléfono</label>
												<input type="text" class="form-control"id="creatFinalUserPhone" th:field="*{telefono}" th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}" />
												<div class="invalid-feedback" th:if="${telefonoError}" th:text="${telefonoError}"></div>
											</div>

											<div class="col-lg-6 col-12">
												<label class="form-label" for="creatFinalUserDistrict">Distrito</label>
												<select class="form-control" id="creatFinalUserDistrict" name="distrito" required>
													<option value="">Seleccione un distrito</option>
													<option th:each="distrito : ${listaDistritos}"
															th:value="${distrito.getId()}"
															th:text="${distrito.getNombre()}"
															th:selected="${finalUser.getDistrito() != null && distrito.getId() == finalUser.getDistrito().getId()}">
														[Nombre del Distrito]
													</option>


												</select>
												<div class="invalid-feedback">Por favor ingrese un distrito</div>
											</div>
										</div>

										<div class="col-12 mt-3">
											<div class="d-flex flex-column flex-md-row gap-2">
												<button class="btn btn-primary" type="submit">Actualizar</button>
												<a th:href="@{/SuperAdmin/listaUsuarioFinal}" ><button class="btn btn-secondary" type="button" >Cancelar</button></a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</main>
	</div>
</div>

<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>


<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert2 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<script>
	function confirmDelete(url) {
		Swal.fire({
			title: '¿Estás seguro?',
			text: "Los cambios no serán reversibles",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#28a745', // Color verde para el botón de confirmar
			cancelButtonColor: '#dc3545', // Color rojo para el botón de cancelar
			confirmButtonText: 'Eliminar',
			cancelButtonText: 'Cancelar'
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire(
						'¡Eliminado!',
						'El usuario ha sido baneado con éxito.',
						'success'
				).then((result) => {
					if (result.isConfirmed) {
						window.location.href = url; // Redirecciona al usuario a la URL del enlace
					}
				});
			}
		});
	}

</script>

<script>
    function showSuccessPopup(event) {
        event.preventDefault(); // Evita el envío del formulario
        Swal.fire({
            title: '¡Éxito!',
            text: 'Usuario actualizado correctamente',
            icon: 'success',
            confirmButtonColor: '#007bff',
            confirmButtonText: 'Aceptar',
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: true
        });
    }
</script>


</body>
</html>








