<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="Codescandy" name="author" />
    <title>Reseña</title>
    <link th:href="@{/libs/dropzone/dist/min/dropzone.min.css}" rel="stylesheet" />
    <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />
    <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
    <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}" />
</head>

<body>
<!-- navbar -->
    <!-- main -->
    <div>
        <!-- navbar -->

        <!-- navbar horizontal -->
        <!-- navbar -->
        <div class="border-bottom">
            <!-- navbar -->
            <!-- navbar vertical (para pc)-->
            <div th:insert="~{fragments/navbarUsuarioFinal :: navbar}"></div>
        </div>
    </div>

    <main class="py-5">
        <div th:if="${success}" class="alert alert-success" role="alert">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
        <div class="container">
            <div class="row justify-content-center g-4">

                <!-- Formulario del perfil -->
                <div class="col-lg-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Mi perfil</h2>
                            <div th:if="${mensaje}" class="alert alert-success alert-sm">
                                <p th:text="${mensaje}" class="mb-0"></p>
                            </div>
                            <!-- Formulario de edición del perfil -->
                            <form id="profileForm" method="post" th:action="@{'/UsuarioFinal/savePerfil'}" th:object="${usuario}">
                                <!-- Nombre Completo (no editable) -->
                                <input type="hidden" name="id" th:value="${usuario.id}">

                                <div class="mb-3">
                                    <label class="form-label">Nombre Completo</label>
                                    <input type="text" class="form-control" th:value="${usuario.nombre} + ' ' + ${usuario.apellidoPaterno} + ' ' + ${usuario.apellidoMaterno}" disabled />
                                </div>

                                <!-- DNI (no editable) -->
                                <div class="mb-3">
                                    <label class="form-label">DNI</label>
                                    <input type="text" class="form-control" th:value="${usuario.dni}" disabled />
                                </div>

                                <!-- Distrito (editable) -->
                                <div class="mb-3">
                                    <label class="form-label">Distrito</label>
                                    <select class="form-select" th:field="*{distrito} " name="idDistrito">
                                        <option th:each="distrito : ${listaDistritos}" th:text="${distrito.getNombre()}"
                                                th:value="${distrito.getId()}"></option>
                                    </select>
                                </div>


                                <!-- Dirección (editable) -->
                                <div class="mb-3">
                                    <label class="form-label">Dirección</label>
                                    <input type="text" class="form-control editable-field" id="direccion" name="direccion" th:value="${usuario.direccion}"  />
                                </div>

                                <!-- Email (editable) -->
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control editable-field" id="email"  name="email" th:value="${usuario.email}"  />
                                </div>

                                <!-- Botones de acción -->
                                <div class="text-center mt-4">
                                    <button type="submit" id="saveButton" class="btn btn-primary ">Actualizar datos</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Sección de la foto de perfil -->
                <div class="col-lg-3 d-flex flex-column align-items-center">
                    <div class="card shadow-sm p-3 text-center">
                        <div class="mb-3">
                            <img id="profileImage-1" th:src="@{/images/avatar/avatar-1.jpg}" alt="Profile Picture"
                                 class="rounded-circle img-fluid" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <div class="file-upload btn btn-light">
                            <input type="file" class="file-input opacity-0" id="fileInput-1" name="foto"
                                   accept="image/png, image/jpeg, image/gif" required />
                            <span>Cambiar foto de perfil</span>
                        </div>
                    </div>

                    <!-- Sección adicional de opciones -->
                    <div class="card shadow-sm mt-4 p-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">Opciones de cuenta</h5>

                            <!-- Cambiar Contraseña -->
                            <div class="d-grid mb-3">
                                <button type="button" class="btn btn-outline-primary"
                                        data-bs-toggle="modal" data-bs-target="#changePasswordModal">Cambiar Contraseña</button>
                            </div>

                            <!-- Eliminar Cuenta -->
                            <div class="d-grid">
                                <button type="button" class="btn btn-danger">Eliminar Cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <!-- Modal para cambiar contraseña -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordLabel">Cambiar Contraseña</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm" th:action="@{/CambiarContra}" method="POST" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Contraseña Actual</label>
                                <input type="password" id="currentPassword" class="form-control" name="currentPassword" required />
                                <div id="currentPasswordError" class="text-danger"></div>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                                <input type="password" id="newPassword" class="form-control" name="newPassword" required />
                            </div>
                            <div class="mb-3">
                                <label for="confirmNewPassword" class="form-label">Confirmar Nueva Contraseña</label>
                                <input type="password" id="confirmNewPassword" class="form-control" name="confirmNewPassword" required />
                                <div id="passwordError" class="text-danger" style="display:none;">Las contraseñas no coinciden.</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="savePasswordButton">Guardar Contraseña</button>
                    </div>
                </div>
            </div>
        </div>


    </main>


    <!-- Javascript-->

<!-- Libs JS -->
<!-- <script src="./assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/js/vendors/jquery.min.js}"></script>
<script th:src="@{/js/vendors/countdown.js}"></script>
<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
<script th:src="@{/js/vendors/slick-slider.js}"></script>
<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
<script th:src="@{/js/vendors/tns-slider.js}"></script>
<script th:src="@{/js/vendors/zoom.js}"></script>
    <script>
        // Seleccionar el input y la imagen específicos para este contenedor
        const fileInput1 = document.getElementById('fileInput-1');
        const profileImage1 = document.getElementById('profileImage-1');

        // Escuchar el evento 'change' del input de archivo
        fileInput1.addEventListener('change', function(event) {
            const file = event.target.files[0]; // Obtener el archivo seleccionado

            if (file) {
                // Crear un objeto URL temporal para mostrar la imagen seleccionada
                const imageUrl = URL.createObjectURL(file);
                profileImage1.src = imageUrl; // Actualizar el src de la imagen con el nuevo archivo

                // Asegurar que la imagen sigue siendo circular y mantiene el tamaño
                profileImage1.style.objectFit = 'cover';
                profileImage1.style.width = '200px';
                profileImage1.style.height = '200px';
            }
        });
    </script>
    <script>
        // Referencias a botones y campos
        const editButton = document.getElementById('editButton');
        const saveButton = document.getElementById('saveButton');
        const cancelButton = document.getElementById('cancelButton');
        const editableFields = document.querySelectorAll('.editable-field'); // Solo campos editables

        // Función para habilitar solo los campos Distrito, Dirección y Email
        editButton.addEventListener('click', () => {
            editableFields.forEach(field => field.disabled = false); // Habilitar solo campos editables
            editButton.classList.add('d-none'); // Ocultar botón Editar
            saveButton.classList.remove('d-none'); // Mostrar botón Guardar
            cancelButton.classList.remove('d-none'); // Mostrar botón Cancelar
        });

        // Función para cancelar la edición
        cancelButton.addEventListener('click', () => {
            editableFields.forEach(field => field.disabled = true); // Deshabilitar campos
            editButton.classList.remove('d-none'); // Mostrar botón Editar
            saveButton.classList.add('d-none'); // Ocultar botón Guardar
            cancelButton.classList.add('d-none'); // Ocultar botón Cancelar
        });

        // Validación del formulario y guardado
        document.getElementById('profileForm').addEventListener('submit', function (e) {
            e.preventDefault(); // Prevenir el envío real del formulario

            // Validaciones adicionales (ej. validación de email)
            let emailField = document.getElementById('email');
            if (!validateEmail(emailField.value)) {
                alert('Por favor, ingresa un email válido.');
                return;
            }

        });
        //Función pa contraseñas
        document.getElementById('savePasswordButton').addEventListener('click', function (event) {
            event.preventDefault();

            // Obtener los valores de los campos
            const currentPassword = document.getElementById('currentPassword').value;
            const newPassword = document.getElementById('newPassword').value;
            const confirmNewPassword = document.getElementById('confirmNewPassword').value;
            console.log("Contraseña actual ingresada:", currentPassword);
            // Limpiar mensajes de error
            document.getElementById('currentPasswordError').textContent = '';
            document.getElementById('passwordError').style.display = 'none';

            let hasError = false;

            // Validación de nueva contraseña (más de 8 caracteres)
            if (newPassword.length < 8) {
                document.getElementById('passwordError').textContent = 'La nueva contraseña debe tener al menos 8 caracteres.';
                document.getElementById('passwordError').style.display = 'block';
                hasError = true;
            }

            // Validación de coincidencia de la nueva contraseña
            if (newPassword !== confirmNewPassword) {
                document.getElementById('passwordError').textContent = 'Las contraseñas no coinciden.';
                document.getElementById('passwordError').style.display = 'block';
                hasError = true;
            }

            // Si hubo errores, no continuar
            if (hasError) {
                return;
            }

            // Envío de solicitud AJAX para verificar la contraseña actual
            fetch('/validatePassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ currentPassword: currentPassword })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.valid) {
                        // Si la contraseña actual es válida, enviar el formulario
                        document.getElementById('changePasswordForm').submit();
                    } else {
                        // Mostrar error si la contraseña actual es incorrecta
                        document.getElementById('currentPasswordError').textContent = 'La contraseña actual es incorrecta.';
                    }
                })
                .catch(error => {
                    console.error('Error en la validación de la contraseña:', error);
                });
        });

        // Función para validar email
        function validateEmail(email) {
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(String(email).toLowerCase());
        }
    </script>
</body>
</html>
