<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Codescandy" name="author">
        <title>Editar agente</title>
        <!-- Favicon icon-->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


        <!-- Libs CSS -->
        <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
        <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
        <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


        <!-- Theme CSS -->
        <link rel="stylesheet" th:href="@{/css/theme.min.css}">
        <style>

            .logoImagen{
                height: 80px;
                width: 250px;
            }
            .logoImagenCelulares{
                height: 80px;
                width: 220px;
            }
        </style>
    </head>

    <body>
        <!-- main -->
        <div>
            <!-- navbar -->
            <div th:insert="~{fragments/navbarSuperior.html :: navbarSuperior}"></div>


            <div class="main-wrapper">
                <!-- navbar -->
                <!-- navbar vertical (para pc)-->
                <div th:insert="fragments/navbarSuperAdmin.html :: navbarVerticalPc('editarAgente')"></div>

                <!-- navbar vertical (para celular)-->
                <div th:insert="fragments/navbarSuperAdmin.html :: navbarVerticalCelulares('editarAgente')"></div>

                <!-- COONTENIDO DE LA PAGINA -->
                <main class="main-content-wrapper">
                    <div class="container">
                        <div class="row mb-8">
                            <div class="col-md-12">
                                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
                                    <div>
                                        <h2>Editar agente</h2>
                                        <!-- breacrumb -->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div th:if="${error}" class="alert alert-danger">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="row" style="min-height: 100vh;">
                            <div class="col-12">
                                <form id="adminZonalForm" enctype="multipart/form-data" th:action="@{/SuperAdmin/Agente/guardar}" th:object="${agente}" method="post" class="row g-3 needs-validation" novalidate>
                                    <div class="card card-lg border-0">
                                        <div class="card-body d-flex flex-column gap-8 p-7">
                                            <div class="d-flex flex-column flex-md-row align-items-center mb-4 file-input-wrapper gap-2">
                                                <div>
                                                    <img class="image avatar avatar-lg rounded-3"
                                                         th:src="@{${agente.getFoto() != null} ? '/usuarioFinal/' + ${agente.getId()} : '/images/avatar/avatarGenerico.png'}"
                                                         alt="Image" />
                                                </div>


                                                <div class="file-upload btn btn-light ms-md-4">
                                                    <input type="file" name="agentPhoto" class="file-input opacity-0"   />
                                                    Actualizar foto
                                                </div>

                                                <span class="ms-md-2">JPG, GIF or PNG. 1MB Max.</span>
                                            </div>

                                            <div class="d-flex flex-column gap-4">
                                                <h3 class="mb-0 h6">Información del agente</h3>

                                                <!-- ID (Campo oculto) -->
                                                <input type="hidden" th:name="id" th:value="${agente.id}" />
                                                <input type="hidden" th:name="contrasena" th:value="${agente.contrasena}" />

                                                <div class="row">
                                                    <!-- Nombres -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="creatCustomerName" class="form-label">Nombres:</label>
                                                        <input type="text" disabled class="form-control" id="creatCustomerName"  th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>                                                    </div>

                                                    <!-- Apellido Paterno -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="creatFinalUserLastNameP" class="form-label">Apellido Paterno:</label>
                                                        <input type="text" disabled class="form-control" id="creatFinalUserLastNameP" th:field="*{apellidoPaterno}" th:classappend="${#fields.hasErrors('apellidoPaterno')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></div>                                                    </div>

                                                    <!-- Apellido Materno -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="creatFinalUserLastNameM" class="form-label">Apellido Materno:</label>
                                                        <input type="text" disabled class="form-control" id="creatFinalUserLastNameM" th:field="*{apellidoMaterno}" th:classappend="${#fields.hasErrors('apellidoMaterno')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="*{apellidoMaterno}"></div>                                                    </div>

                                                    <!-- DNI -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="DNIFinalUser" class="form-label">DNI:</label>
                                                        <input type="text" disabled class="form-control" id="DNIFinalUser" name="dni" minlength="8" maxlength="8" pattern="\d{8}" th:field="*{dni}" th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}"/>
                                                        <div class="invalid-feedback" th:if="${dniError}" th:text="${dniError}"></div>
                                                    </div>

                                                    <!-- Número telefónico -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="phoneAdminZonal" class="form-label">Número telefónico:</label>
                                                        <input type="text" class="form-control" id="phoneAdminZonal" th:field="*{telefono}" th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${telefonoError}" th:text="${telefonoError}"></div>
                                                    </div>

                                                    <!-- Email -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="creatFinalUserEmail" class="form-label">Email:</label>
                                                        <input type="email" class="form-control" id="creatFinalUserEmail" th:field="*{email}" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                                    </div>

                                                    <!-- Razón Social -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="razonSocial" class="form-label">Razón Social:</label>
                                                        <input type="text" class="form-control" id="razonSocial" th:field="*{agtRazonsocial}"  />
                                                    </div>

                                                    <!-- Código de Despachador Aduanero -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="despachador" class="form-label">Código de Despachador Aduanero:</label>
                                                        <input type="text" class="form-control" id="despachador" th:field="*{agtCodigoaduana}" th:classappend="${#fields.hasErrors('agtCodigoaduana')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${agtCodigoaduanaError}" th:text="${agtCodigoaduanaError}"></div>
                                                    </div>

                                                    <!-- Estado del Código -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="valorAduana" class="form-label">Estado del Código:</label>
                                                        <input type="text" class="form-control" id="valorAduana" th:value="${estado}" readonly  />
                                                    </div>

                                                    <!-- Código de Jurisdicción -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="jurisdiccion" class="form-label">Código de Jurisdicción:</label>
                                                        <input type="text" class="form-control" id="jurisdiccion" th:field="*{agtCodigojurisdiccion}" th:classappend="${#fields.hasErrors('agtCodigojurisdiccion')?'is-invalid':''}" />
                                                        <div class="invalid-feedback" th:if="${agtCodigojurisdiccionError}" th:text="${agtCodigojurisdiccionError}"></div>
                                                    </div>

                                                    <!-- Selección de Zona -->
                                                    <div class="col-lg-6 col-12">
                                                        <label for="selectZone" class="form-label">Zona:</label>
                                                        <select class="form-select" id="selectZone" name="zona.id" required>
                                                            <option th:each="zona : ${zonas}"
                                                                    th:value="${zona.getId()}"
                                                                    th:text="${zona.getNombreZona()}"
                                                                    th:selected="${agente.zona != null && agente.zona.getId() == zona.getId()}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">Por favor seleccione una zona</div>
                                                    </div>
                                                </div>

                                                <!-- Botones de acción -->
                                                <div class="col-12 mt-3">
                                                    <div class="d-flex flex-column flex-md-row gap-2">
                                                        <button class="btn btn-primary" type="submit">Guardar</button>
                                                        <a th:href="@{/SuperAdmin/listaAgente}" class="btn btn-secondary">Cancelar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>
                </main>
            </div>
        </div>

        <!-- Libs JS -->
        <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
        <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <!-- Theme JS -->
        <script th:src="@{/js/theme.min.js}"></script>

        <script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
        <script th:src="@{/js/vendors/chart.js}"></script>



        <!-- SweetAlert2 CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

        <!-- SweetAlert2 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


        <script>

            document.addEventListener('DOMContentLoaded', function() {
                const form = document.getElementById('adminZonalForm');
                const dniInput = document.getElementById('DNIFinalUser');
                const phoneInput = document.getElementById('phoneAdminZonal');
                const dateInput = document.getElementById('creatFinalUserDate');

                // Validar fecha de nacimiento (no puede ser futura)
                dateInput.addEventListener('blur', function () {
                    const currentDate = new Date().toISOString().split('T')[0]; // Fecha actual en formato YYYY-MM-DD
                    if (dateInput.value > currentDate) {
                        dateInput.setCustomValidity("La fecha de nacimiento no puede ser futura.");
                        dateInput.classList.add('is-invalid');
                    } else {
                        dateInput.setCustomValidity(""); // Restablecer si la fecha es válida
                        dateInput.classList.remove('is-invalid');
                        dateInput.classList.add('is-valid');
                    }
                });

                // Evento blur para validación en campo DNI
                dniInput.addEventListener('blur', function() {
                    this.classList.remove('is-valid', 'is-invalid');
                    if (!this.validity.valid) {
                        this.classList.add('is-invalid');
                    } else {
                        this.classList.add('is-valid');
                    }
                });

                // Evento blur para validación en campo Teléfono
                phoneInput.addEventListener('blur', function() {
                    this.classList.remove('is-valid', 'is-invalid');
                    if (!this.validity.valid) {
                        this.classList.add('is-invalid');
                    } else {
                        this.classList.add('is-valid');
                    }
                });

                // Validar todo el formulario al enviarlo
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated'); // Forzar mostrar validaciones si no es válido
                });
            });

            // Función para mostrar el popup de confirmación con validación del formulario
            function showSuccessPopup() {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Confirma que deseas actualizar la información del Admin Zonal",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, actualizar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    const form = document.getElementById('adminZonalForm');
                    if (result.isConfirmed) {
                        if (form.checkValidity()) {
                            form.submit();
                        } else {
                            form.classList.add('was-validated'); // Forzar mostrar validaciones si no es válido
                        }
                    }
                });
            }

            document.addEventListener("DOMContentLoaded", function() {
                flatpickr("#creatFinalUserDate", {
                    dateFormat: "Y-m-d"  // Esto asegura que la fecha se envíe en formato yyyy-MM-dd
                });
            });


        </script>
    </body>
</html>








