<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" th:href="@{/login/styles.css}">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="logo">
            <img th:src="@{/images/logo/logo.png}" alt="" style="width: 100%;"/>
        </div>
        <h1>Cambio de Contraseña</h1>
        <form id="passwordForm" >
            <input type="password" id="password" placeholder="Ingrese su nueva contraseña" required>
            <input type="password" id="confirmPassword" placeholder="Confirme su nueva contraseña" required>

            <div class="checkbox-container">
                <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
                <label for="showPassword">Mostrar contraseña</label>
            </div>

            <a type="submit" class="buttoncustom" th:href="@{/Login}">Cambiar contraseña</a>
        </form>
        <div class="links">
            <a th:href="@{/Login}">Volver al inicio de sesión</a>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('confirmPassword');
            const type = document.getElementById('showPassword').checked ? 'text' : 'password';
            password.type = type;
            confirmPassword.type = type;
        }


    </script>
</body>
</html>
