<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" th:href="@{/login/styles.css}">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="logo">
            <img th:src="@{/images/logo/logoGTICSv2.png}" alt="" style="width: 100%;"/>
        </div>
        <h1>Iniciar sesión</h1>
        <div th:if="${usuarioCreado}" class="success-message" style="color: green; margin-bottom: 15px;">
            <p th:text="${usuarioCreado}"></p>
        </div>
        <div th:if="${param.error}" class="error-message" style="color: red; margin-bottom: 15px;">
            Usuario o contraseña incorrectos. Por favor, intenta nuevamente.
        </div>
        <form th:action="@{/submitLoginForm}" method="post" id="loginForm">
            <input type="email" placeholder="Correo electrónico" name="username" required>
            <input type="password" placeholder="Contraseña" name="password" required>
            <a href="#" class="buttoncustom" onclick="document.getElementById('loginForm').submit();">Iniciar sesión</a>
        </form>

        <div class="links">
            <a th:href="@{/Registro}">Registrarse</a>
            <a th:href="@{/RecuperarContra}">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
    <script th:src="@{/login/script.js}"></script>
</body>
</html>
