<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" th:href="@{/login/styles.css}">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="logo">
            <img th:src="@{/images/logo/logo.png}" alt="" style="width: 100%;"/>
        </div>

        <h1>Recuperar Contraseña</h1>
        <form>
            <input type="text" placeholder="Ingrese el token recibido" required>
            <a type="submit" class="buttoncustom" th:href="@{/RecuperarContra/CambiarContra}">Validar token</a>
        </form>
        <div class="links">
            <a th:href="@{/Login}">Volver al inicio de sesión</a>
        </div>
    </div>
    <script th:src="@{/login/script.js}"></script>


</body>
</html>