<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
    <title>Agregar Producto</title>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">

    <style>

        .logoImagen{
            height: 80px;
            width: 250px;
        }
        .logoImagenCelulares{
            height: 80px;
            width: 220px;
        }
    </style>
</head>

<body>
<!-- main -->
<div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-glass">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
                            <path
                                    d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                            />
                        </svg>
                    </a>

                </div>
                <div>
                    <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">
                        <li class="dropdown-center">
                            <a class="position-relative btn-icon btn-ghost-secondary btn rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-bell fs-5"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2 ms-n2">
								2
								<span class="visually-hidden">Mensajes sin leer</span>
							</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0 border-0">
                                <div class="border-bottom p-5 d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 class="mb-1">Notificaciones</h5>
                                        <p class="mb-0 small">Tienes 2 mensajes sin leer</p>
                                    </div>
                                    <a href="#!" class="text-muted">
                                        <a href="#" class="btn btn-ghost-secondary btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Marcar como leído">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check2-all text-success" viewBox="0 0 16 16">
                                                <path
                                                        d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
                                                />
                                                <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                                            </svg>
                                        </a>
                                    </a>
                                </div>
                                <div data-simplebar style="height: 250px">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush notification-list-scroll fs-6">
                                        <!-- List group item -->
                                        <li class="list-group-item px-5 py-4 list-group-item-action active">
                                            <a href="#!" class="text-muted">
                                                <div class="d-flex">
                                                    <div class="ms-4">
                                                        <p class="mb-1">
                                                            <span class="text-dark">Nombre de la persona</span>
                                                            Descripción notificación 1
                                                        </p>
                                                        <span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">Hace 1 minuto</small>  <!--Se puede eliminar-->
													</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="list-group-item px-5 py-4 list-group-item-action">
                                            <a href="#!" class="text-muted">
                                                <div class="d-flex">
                                                    <div class="ms-4">
                                                        <p class="mb-1">
                                                            <span class="text-dark">Título de notificación 2</span>
                                                            Descripción notificación 2
                                                        </p>
                                                        <span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">Hace 2 días</small>
													</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="list-group-item px-5 py-4 list-group-item-action">
                                            <a href="#!" class="text-muted">
                                                <div class="d-flex">
                                                    <div class="ms-4">
                                                        <p class="mb-1">
                                                            <span class="text-dark">Título de notificación 3</span>
                                                            Descripción notificación 3
                                                        </p>
                                                        <span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">Hace 5 horas</small>
													</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="border-top px-5 py-4 text-center">
                                    <a href="#!">Ver todas</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown ms-4">
                            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{/images/avatar/avatar-1.jpg}" alt="" class="avatar avatar-md rounded-circle" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-end p-0">
                                <div class="lh-1 px-5 py-4 border-bottom">
                                    <h5 class="mb-1 h6">Nombre Apellido</h5>
                                    <small>rol en la pagina</small>
                                </div>

                                <div class="border-top px-5 py-3">
                                    <a href="perfilSuperAdmin.html">Mi perfil</a>
                                </div>
                                <div class="border-top px-5 py-3">
                                    <a href="#">Cerrar sesión</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div class="main-wrapper">

        <!-- navbar -->
        <div th:insert="fragments/navbarSuperAdmin.html :: navbarVerticalPc('productos')"></div>
        <div th:insert="fragments/navbarSuperAdmin.html :: navbarVerticalCelulares('productos')"></div>

        <!-- CONTENIDO DE LA PAGINA -->
        <main class="main-content-wrapper">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row mb-8">
                    <div class="col-md-12">
                        <div class="d-md-flex justify-content-between align-items-center">
                            <!-- page header -->
                            <div>
                                <h2>Agregar nuevo producto</h2>
                                <!-- breacrumb -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a th:href="@{dashboard}" class="text-inherit">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a th:href="@{productos}" class="text-inherit">Productos</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Agregar nuevo producto</li>
                                    </ol>
                                </nav>
                            </div>
                            <div>
                                <a th:href="@{productos}" class="btn btn-light">Regresar a la lista de productos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <!-- card -->
                        <div class="card mb-6 shadow border-0">
                            <!-- card body -->
                            <form id="productoForm" enctype="multipart/form-data" th:action="@{/SuperAdmin/crearProducto}" method="post" >
                                <div class="card-body p-6">
                                    <h4 class="mb-5 h5">Subir fotos del Producto</h4>
                                    <div class="d-flex flex-column flex-md-row align-items-center mb-4 file-input-wrapper gap-2">
                                        <div>
                                            <img id="imagePreviewForm" class="image avatar avatar-lg rounded-3" th:src="@{/images/docs/default-image.jpeg}" alt=" " />
                                        </div>
                                        <label for="fileInput" class="form-label">Subir foto:</label>

                                        <div class="file-upload btn btn-light ms-md-4">
                                            <input type="file" class="file-input opacity-0" id="fileInput" name="fotos" accept="image/png, image/jpeg, image/gif" required />
                                            <span>Subir foto</span>
                                        </div>

                                        <span class="ms-2">JPG, GIF or PNG. 1MB Max.</span>
                                    </div>
                                    <h4 class="mb-4 h5 mt-5">Información del Producto</h4>

                                    <div class="row">
                                        <!-- nombre del producto -->
                                        <div class="mb-3 col-lg-12">
                                            <label for="nombreProducto" class="form-label">Nombre del producto</label>
                                            <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" placeholder="Nombre del producto" required />
                                            <div class="invalid-feedback">Por favor ingrese el nombre del producto</div>
                                        </div>
                                        <!-- categoría -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="selectCategoria" class="form-label">Categoría</label>
                                            <select class="form-select" name="idCategoria" id="selectCategoria" onchange="cargarSubcategorias()" required>
                                                <option value="" selected disabled>--Seleccione una categoría--</option>
                                                <option th:each="categoria : ${categorias}" th:text="${categoria.nombreCategoria}" th:value="${categoria.id}"></option>
                                            </select>
                                            <div class="invalid-feedback">Por favor seleccione una categoría</div>
                                        </div>

                                        <!-- Subcategoría (se cargará según la categoría seleccionada) -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="selectSubcategoria" class="form-label">Subcategoría</label>
                                            <select class="form-select" name="idSubcategoria" id="selectSubcategoria" required>
                                                <option value="" selected disabled>--Seleccione una subcategoría--</option>
                                            </select>
                                            <div class="invalid-feedback">Por favor seleccione una subcategoría</div>
                                        </div>

                                        <!-- Precio -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="precio" class="form-label">Precio</label>
                                            <input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" required />
                                            <div class="invalid-feedback">Por favor ingrese el precio del producto</div>
                                        </div>
                                        <!-- Costo de envío -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="costoEnvio" class="form-label">Costo de Envío</label>
                                            <input type="text" class="form-control" id="costoEnvio" name="costoEnvio" placeholder="Costo de envío" required />
                                            <div class="invalid-feedback">Por favor ingrese el costo de envío</div>
                                        </div>
                                        <!-- Proveedor -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="selectProveedor" class="form-label">Proveedor (nombre)</label>
                                            <select class="form-select" name="idProveedor" id="selectProveedor" required>
                                                <option value="" selected disabled>--Seleccione un proveedor--</option>
                                                <option th:each="proveedor : ${proveedores}"
                                                        th:text="${proveedor.tienda.nombreTienda}"
                                                        th:value="${proveedor.id}">
                                                </option>
                                            </select>
                                            <div class="invalid-feedback">Por favor seleccione un proveedor</div>
                                        </div>

                                        <!-- Zonas -->
                                        <div class="mb-3 col-lg-6" th:each="zona : ${zonas}">
                                            <label th:for="'cantidadZona' + ${zona.id}" th:text="'Cantidad para ' + ${zona.nombreZona}"></label>
                                            <input type="number" class="form-control" th:id="'cantidadZona' + ${zona.id}"
                                                   th:name="'zona-' + ${zona.id}" min="0" />
                                        </div>

                                        <!-- Modelo (opcional) -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="modelo" class="form-label">Modelo (opcional)</label>
                                            <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" />
                                        </div>

                                        <!-- Color (opcional) -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="color" class="form-label">Color (opcional)</label>
                                            <input type="text" class="form-control" id="color" name="color" placeholder="Color" />
                                        </div>

                                        <!-- input -->
                                        <div class="mb-3 col-lg-12">
                                            <label for="descripcion" class="form-label">Descripción</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Descripción" required></textarea>
                                            <div class="invalid-feedback">Por favor ingrese una descripción</div>
                                        </div>

                                        <div class="col-lg-12">
                                            <button class="btn btn-primary" type="submit">Crear Producto</button>
                                            <a th:href="@{/SuperAdmin/productos}" class="btn btn-secondary">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- JavaScript para previsualizar las imágenes -->
<script>
    function previewImages(event) {
        const previewContainer = document.getElementById('preview-container');
        previewContainer.innerHTML = '';  // Limpiar cualquier previsualización anterior

        const files = event.target.files;

        if (files) {
            Array.from(files).forEach(file => {
                const reader = new FileReader();
                const img = document.createElement('img');
                img.classList.add('image', 'icon-shape', 'icon-xxxl', 'bg-light', 'rounded-4');
                img.style.marginRight = "10px";  // Espaciado entre imágenes

                reader.onload = function(e) {
                    img.src = e.target.result;
                };

                reader.readAsDataURL(file);
                previewContainer.appendChild(img);  // Añadir la imagen al contenedor de previsualización
            });
        }
    }

</script>

<script>
    function crearProducto() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Deseas crear un nuevo producto?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Sí, crear',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                const form = document.getElementById('productoForm');
                if (form.checkValidity()) {
                    form.submit();
                } else {
                    form.classList.add('was-validated');
                }
            }
        });
    }
</script>

<script>
    // Objeto que contiene las subcategorías asociadas a cada categoría
    var subcategoriasPorCategoria = {
        1: [ // Id de categoría 1
            { id: 1, nombre: 'Teléfonos móviles y Accesorios' },
            { id: 2, nombre: 'Electrodomésticos' },
            { id: 3, nombre: 'Cámaras y Fotografía' },
            { id: 4, nombre: 'Gaming' },
            { id: 5, nombre: 'Otro' },
        ],
        2: [ // Id de categoría 2
            { id: 6, nombre: 'Maquillaje y Cosméticos' },
            { id: 7, nombre: 'Fragancias' },
            { id: 8, nombre: 'Cuidado Corporal' },
            { id: 9, nombre: 'Cuidado capilar' },
            { id: 10, nombre: 'Otro' },

        ],

        3: [ // Id de categoría 3
            { id: 11, nombre: 'Ropa' },
            { id: 12, nombre: 'Calzado' },
            { id: 13, nombre: 'Accesorios' },
            { id: 14, nombre: 'Joyería y relojes' },
            { id: 15, nombre: 'Otro' },

        ],
        4: [ // Id de categoría 4
            { id: 16, nombre: 'Muebles y Decoración' },
            { id: 17, nombre: 'Cocina y Utensilios' },
            { id: 18, nombre: 'Organización y Almacenamiento' },
            { id: 19, nombre: 'Limpieza y Cuidado del hogar' },
            { id: 20, nombre: 'Otro' },

        ],
    };

    function cargarSubcategorias() {
        var categoriaId = document.getElementById("selectCategoria").value;
        var selectSubcategoria = document.getElementById("selectSubcategoria");

        // Limpiar las opciones previas de subcategorías
        selectSubcategoria.innerHTML = '<option value="" selected disabled>--Seleccione una subcategoría--</option>';

        // Obtener las subcategorías correspondientes a la categoría seleccionada
        var subcategorias = subcategoriasPorCategoria[categoriaId] || [];

        // Poblamos el menú de subcategorías
        subcategorias.forEach(function(subcat) {
            var option = document.createElement("option");
            option.value = subcat.id;
            option.text = subcat.nombre;
            selectSubcategoria.appendChild(option);
        });
    }
</script>

<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>
</body>
</html>
