<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
    <title>Editar Producto</title>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">

    <style>

        .logoImagen{
            height: 80px;
            width: 250px;
        }
        .logoImagenCelulares{
            height: 80px;
            width: 220px;
        }
    </style>
</head>

<body>
<!-- main -->
<div>
    <!-- navbar -->
    <div th:insert="~{fragments/navbarSuperior.html :: navbarSuperior}"></div>


    <div class="main-wrapper">

        <!-- navbar -->
        <div th:insert="fragments/navbarSuperAdmin.html :: navbarVerticalPc('productos')"></div>
        <div th:insert="fragments/navbarSuperAdmin.html :: navbarVerticalCelulares('productos')"></div>

        <!-- COONTENIDO DE LA PAGINA -->
        <main class="main-content-wrapper">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row mb-8">
                    <div class="col-md-12">
                        <div class="d-md-flex justify-content-between align-items-center">
                            <!-- page header -->
                            <div>
                                <h2>Editar producto</h2>
                                <!-- breacrumb -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item"><a th:href="@{dashboard}" class="text-inherit">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a th:href="@{productos}" class="text-inherit">Productos</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Agregar nuevo producto</li>
                                    </ol>
                                </nav>
                            </div>
                            <div>
                                <a th:href="@{/SuperAdmin/productos}" class="btn btn-light">Regresar a la lista de productos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <!-- card -->
                        <div class="card mb-6 shadow border-0">
                            <!-- card body -->
                            <form id="productoForm" th:action="@{/SuperAdmin/guardarProducto}" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                                <input type="hidden" th:value="${producto.id}" name="id" />
                                <div class="card-body p-6">
                                    <h4 class="mb-5 h5">Editar foto principal del Producto</h4>
                                    <div class="d-flex flex-column flex-md-row align-items-center mb-4 file-input-wrapper gap-2">
                                        <div>
                                            <img id="imagePreviewForm" class="image avatar avatar-lg rounded-3"
                                                 th:if="${producto.id != null}"
                                                 th:src="@{'/SuperAdmin/producto/foto/' + ${producto.id}}"
                                                 alt="Imagen" />
                                        </div>

                                        <label for="fileInput" class="form-label">Cambiar foto:</label>

                                        <div class="file-upload btn btn-light ms-md-4">
                                            <input type="file" class="file-input opacity-0" id="fileInput" name="fotoPrincipal" accept="image/png, image/jpeg, image/gif" />
                                            <span>Subir nueva foto</span>
                                        </div>

                                        <span class="ms-2">JPG, GIF o PNG. Máx. 1MB.</span>
                                    </div>

                                    <h4 class="mb-5 h5">Editar fotos extras del Producto</h4>
                                    <div class="d-flex flex-column flex-md-row align-items-center mb-4 file-input-wrapper gap-2">

                                        <label for="fileInputExtras" class="form-label">Cambiar fotos:</label>

                                        <div class="file-upload btn btn-light ms-md-4">
                                            <input type="file" class="file-input opacity-0" id="fileInputExtras" name="fotosExtras" accept="image/png, image/jpeg, image/gif" multiple />
                                            <span>Subir nuevas fotos</span>
                                        </div>

                                        <span class="ms-2">JPG, GIF o PNG. Máx. 1MB por foto.</span>
                                    </div>

                                    <h4 class="mb-4 h5 mt-5">Información del Producto</h4>
                                    <input type="hidden" th:value="${producto.id}" name="id" />
                                    <div class="row">
                                        <!-- Nombre del producto -->
                                        <div class="mb-3 col-lg-12">
                                            <label for="nombreProducto" class="form-label">Nombre del producto</label>
                                            <input type="text" class="form-control" id="nombreProducto" name="nombreProducto" th:value="${producto.nombreProducto}" required />
                                            <div class="invalid-feedback">Debe ingresar el nombre del producto</div>                                        </div>

                                        <!-- Categoría -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="selectCategoria" class="form-label">Categoría</label>
                                            <select class="form-select" name="idCategoria" id="selectCategoria" onchange="cargarSubcategorias()" required>
                                                <option value="" disabled>--Seleccione una categoría--</option>
                                                <option th:each="categoria : ${categorias}" th:text="${categoria.nombreCategoria}" th:value="${categoria.id}"
                                                        th:selected="${categoria.id == producto.idCategoria.id}"></option>
                                            </select>
                                        </div>

                                        <!-- Subcategoría -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="selectSubcategoria" class="form-label">Subcategoría</label>
                                            <select class="form-select" name="idSubcategoria" id="selectSubcategoria" required>
                                                <option value="" disabled>--Seleccione una subcategoría--</option>
                                                <option th:each="subcategoria : ${subcategorias}" th:text="${subcategoria.nombreSubcategoria}" th:value="${subcategoria.id}"
                                                        th:selected="${subcategoria.id == producto.idSubcategoria.id}"></option>
                                            </select>
                                        </div>

                                        <!-- Precio -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="precio" class="form-label">Precio</label>
                                                <input type="text" class="form-control" id="precio" name="precio" th:value="${producto.precio}" required />
                                            </div>
                                            <!-- Costo de envío -->
                                            <div class="mb-3 col-lg-6">
                                                <label for="costoEnvio" class="form-label">Costo de Envío</label>
                                                <input type="text" class="form-control" id="costoEnvio" name="costoEnvio" th:value="${producto.costoEnvio}" required />
                                                <div class="invalid-feedback" id="envio-vacio">Debe ingresar el costo de envío</div>
                                                <div class="invalid-feedback" id="envio-formato">El costo de envío debe ser un número válido con hasta 2 decimales</div>                                        </div>
                                            <!--Proveedor-->
                                            <div class="mb-3 col-lg-6">
                                                <label for="selectProveedor" class="form-label">Proveedor (nombre)</label>
                                            <select class="form-select" name="idProveedor" id="selectProveedor" required>
                                                <option value="" selected disabled>--Seleccione un proveedor--</option>
                                                <option th:each="proveedor : ${proveedores}"
                                                        th:text="${proveedor.tienda.nombreTienda}"
                                                        th:value="${proveedor.id}"
                                                        th:selected="${proveedor.id == producto.idProveedor.id}">
                                                </option>
                                            </select>

                                        </div>

                                        <!-- Zona seleccionada -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="zonaSeleccionada" class="form-label">Zona</label>
                                            <input type="text" class="form-control" id="zonaSeleccionada" name="zonaNombre" th:value="${producto.zona.nombreZona}" disabled />
                                            <input type="hidden" name="zonaId" th:value="${producto.zona.id}" />
                                        </div>

                                        <!-- Cantidad disponible en la zona seleccionada -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="cantidadZona" class="form-label">Cantidad disponible en zona seleccionada</label>
                                            <input type="number" class="form-control" id="cantidadZona" name="cantidadZona" min="0"
                                                   th:value="${producto.cantidadDisponible}" required />
                                            <div class="invalid-feedback" id="cantidad-vacio">Debe ingresar la cantidad disponible</div>
                                            <div class="invalid-feedback" id="cantidad-positiva">La cantidad debe ser un número positivo</div>
                                        </div>

                                        <!-- Color (opcional) -->
                                        <div class="mb-3 col-lg-6">
                                            <label for="color" class="form-label">Color (opcional)</label>
                                            <input type="text" class="form-control" id="color" name="color" th:value="${producto.color}" />
                                        </div>

                                        <!-- Descripcion -->
                                        <div class="mb-3 col-lg-12">
                                            <label for="descripcion" class="form-label">Descripción</label>
                                            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" th:text="${producto.descripcion}" required></textarea>
                                            <div class="invalid-feedback">Debe ingresar una descripción</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="btn btn-primary" type="submit" onclick="validarFormulario()">Actualizar Producto</button>
                                        <a th:href="@{/SuperAdmin/productos}" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    function previewImages(event) {
        const previewContainer = document.getElementById('preview-container');
        previewContainer.innerHTML = '';  // Limpiar cualquier previsualización anterior

        const files = event.target.files;

        if (files) {
            Array.from(files).forEach(file => {
                const reader = new FileReader();
                const img = document.createElement('img');
                img.classList.add('image', 'icon-shape', 'icon-xxxl', 'bg-light', 'rounded-4');
                img.style.marginRight = "10px";  // Espaciado entre imágenes

                reader.onload = function(e) {
                    img.src = e.target.result;
                };

                reader.readAsDataURL(file);
                previewContainer.appendChild(img);  // Añadir la imagen al contenedor de previsualización
            });
        }
    }

</script>
<script>
    function crearProducto() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Deseas crear un nuevo producto?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Sí, crear',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                const form = document.getElementById('productoForm');
                if (form.checkValidity()) {
                    form.submit();
                } else {
                    form.classList.add('was-validated');
                }
            }
        });
    }
</script>

<script>
    // Objeto que contiene las subcategorías asociadas a cada categoría
    var subcategoriasPorCategoria = {
        1: [ // Id de categoría 1
            { id: 1, nombre: 'Teléfonos móviles y Accesorios' },
            { id: 2, nombre: 'Electrodomésticos' },
            { id: 3, nombre: 'Cámaras y Fotografía' },
            { id: 4, nombre: 'Gaming' },
            { id: 3, nombre: 'Otro' },
        ],
        2: [ // Id de categoría 2
            { id: 6, nombre: 'Maquillaje y Cosméticos' },
            { id: 7, nombre: 'Fragancias' },
            { id: 8, nombre: 'Cuidado Corporal' },
            { id: 9, nombre: 'Cuidado capilar' },
            { id: 10, nombre: 'Otro' },

        ],

        3: [ // Id de categoría 3
            { id: 11, nombre: 'Ropa' },
            { id: 12, nombre: 'Calzado' },
            { id: 13, nombre: 'Accesorios' },
            { id: 14, nombre: 'Joyería y relojes' },
            { id: 15, nombre: 'Otro' },

        ],
        4: [ // Id de categoría 4
            { id: 16, nombre: 'Muebles y Decoración' },
            { id: 17, nombre: 'Cocina y Utensilios' },
            { id: 18, nombre: 'Organización y Almacenamiento' },
            { id: 19, nombre: 'Limpieza y Cuidado del hogar' },
            { id: 20, nombre: 'Otro' },

        ],
    };

    function cargarSubcategorias() {
        var categoriaId = document.getElementById("selectCategoria").value;
        var selectSubcategoria = document.getElementById("selectSubcategoria");

        // Limpiar las opciones previas de subcategorías
        selectSubcategoria.innerHTML = '<option value="" selected disabled>--Seleccione una subcategoría--</option>';

        // Obtener las subcategorías correspondientes a la categoría seleccionada
        var subcategorias = subcategoriasPorCategoria[categoriaId] || [];

        // Poblamos el menú de subcategorías
        subcategorias.forEach(function(subcat) {
            var option = document.createElement("option");
            option.value = subcat.id;
            option.text = subcat.nombre;
            selectSubcategoria.appendChild(option);
        });
    }
</script>
    <script>
        function validarFormulario() {
            const nombre = document.getElementById('nombreProducto');
            const precio = document.getElementById('precio');
            const costoEnvio = document.getElementById('costoEnvio');
            const cantidad = document.getElementById('cantidadZona');
            const descripcion = document.getElementById('descripcion');
            let valido = true;
            // Validación de nombre
            if (nombre.value.trim() === '') {
                nombre.classList.add('is-invalid');
                valido = false;
            } else {
                nombre.classList.remove('is-invalid');
            }
            // Validación de cantidad (debe ser positiva)
            if (cantidad.value.trim() === '') {
                cantidad.classList.add('is-invalid');
                document.getElementById('cantidad-vacio').style.display = 'block';
                document.getElementById('cantidad-positiva').style.display = 'none';
                valido = false;
            } else if (cantidad.value < 0) {
                cantidad.classList.add('is-invalid');
                document.getElementById('cantidad-vacio').style.display = 'none';
                document.getElementById('cantidad-positiva').style.display = 'block';
                valido = false;
            } else {
                cantidad.classList.remove('is-invalid');
            }
            // Validación de precio (número positivo con hasta 2 decimales)
            const precioRegex = /^\d+(\.\d{1,2})?$/;
            if (precio.value.trim() === '') {
                precio.classList.add('is-invalid');
                document.getElementById('precio-vacio').style.display = 'block';
                document.getElementById('precio-formato').style.display = 'none';
                valido = false;
            } else if (!precioRegex.test(precio.value)) {
                precio.classList.add('is-invalid');
                document.getElementById('precio-vacio').style.display = 'none';
                document.getElementById('precio-formato').style.display = 'block';
                valido = false;
            } else {
                precio.classList.remove('is-invalid');
            }

            // Validación de costo de envío (número positivo con hasta 2 decimales)
            if (costoEnvio.value.trim() === '') {
                costoEnvio.classList.add('is-invalid');
                document.getElementById('envio-vacio').style.display = 'block';
                document.getElementById('envio-formato').style.display = 'none';
                valido = false;
            } else if (!precioRegex.test(costoEnvio.value)) {
                costoEnvio.classList.add('is-invalid');
                document.getElementById('envio-vacio').style.display = 'none';
                document.getElementById('envio-formato').style.display = 'block';
                valido = false;
            } else {
                costoEnvio.classList.remove('is-invalid');
            }
            // Validar Descripción (no puede ser nula)
            if (descripcion.value.trim() === '') {
                descripcion.classList.add('is-invalid');
                descripcion.nextElementSibling.textContent = 'La descripción es obligatoria';
                valid = false;
            } else {
                descripcion.classList.remove('is-invalid');
            }
            // Si hay algún campo inválido, no enviar el formulario
            if (!valido) {
                event.preventDefault();
            }
        }
    </script>
<script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const [file] = event.target.files;
        if (file) {
            const preview = document.getElementById('imagePreviewForm');
            preview.src = URL.createObjectURL(file);
        }
    });
</script>
<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>
</body>
</html>
