<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="Codescandy" name="author" />
    <title>Productos</title>
    <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
    <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />


    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">


    <!--Prueba de logo para ver si usamos jpg o svg -->
    <style>

        .logoImagen{
            height: 80px;
            width: 250px;
        }
        .logoImagenCelulares{
            height: 80px;
            width: 220px;
        }
    </style>
    <!--POP UP-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .custom-popup{
            border-radius: 10px;
        }
        .swal2-styled{
            border-radius: 8px;
        }
        .swal2-styled.swal2-confirm {
            background-color: #28a745;
            color: white;
        }

        .swal2-styled.swal2-cancel {
            background-color: #dc3545;
            color: white;
        }
    </style>
    <!-- CSRF Tokens -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>

<body>

<!-- BARRA SUPERIOR -->
<!-- NAVBAR  -->
<div th:insert="~{fragments/navbarUsuarioFinal :: navbar}"></div>

<div class="main-wrapper">







    <!-- COONTENIDO DE LA PAGINA -->
    <main class="main-content-wrapper">
        <div class="container">
            <section>
                <div class="container py-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-10 col-sm-11">
                            <div class="card" id="chat2">
                                <div class="card-header d-flex justify-content-between align-items-center p-3">
                                    <h5 class="mb-0">Chat</h5>
                                </div>
                                <div class="card-body" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px; overflow-y: scroll">
                                    <div th:each="mensaje : ${ListaMensajesSala}">
                                        <div class="d-flex flex-row justify-content-start">
                                            <div>
                                                <p th:if="${mensaje.getIdUsuario().getId() != idSender}" class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary" th:text="${mensaje.getContenido()}"></p>
                                                <!--<p class="small ms-3 mb-3 rounded-3 text-muted">15:58</p>-->
                                            </div>
                                        </div>



                                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                            <div>
                                                <p th:if="${mensaje.getIdUsuario().getId() == idSender}" class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary" th:text="${mensaje.getContenido()}"></p>
                                                <!--<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">16:06</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">
                                    <input type="text" class="form-control form-control-lg " id="message" placeholder="Escribe algo...">

                                    <button class="ms-3 btn btn-primary" onclick="sendMessage()">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>



</div>


<!-- LIBRERIAS -->
<div>
    <script th:src="@{/js/vendors/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/carrito.js}"></script>

    <script th:inline="javascript">
        var stompClient = null;
        var currentRoom = null;
        var name = null;
        var idSender = /*[[${idSender}]]*/

            function getQueryParams() {
                var params = {};
                window.location.search.substring(1).split('&').forEach(function (pair) {
                    var keyValue = pair.split('=');
                    params[keyValue[0]] = decodeURIComponent(keyValue[1]);
                });
                return params;
            }

        function connect() {
            var params = getQueryParams();
            currentRoom = params.room;
            name = params.name;

            if (!currentRoom || !name) {
                alert("Error: No se ha especificado la sala o el nombre.");
                return;
            }

            var socket = new SockJS('/chat-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log("Conectado: " + frame);

                // Suscribirse para recibir nuevos mensajes
                stompClient.subscribe('/topic/room/' + currentRoom, function (message) {
                    showMessage(JSON.parse(message.body));
                });
            });
        }
        function showMessage(message) {
            // Aquí procesas el mensaje recibido
            console.log("Mensaje recibido:", message);

            // Código para agregar el mensaje a la interfaz
            const messageContainer = document.querySelector("#chat2 .card-body");
            const messageElement = document.createElement("div");
            messageElement.textContent = message.content; // Ajusta según la estructura del mensaje
            messageContainer.appendChild(messageElement);

            // Hacer scroll al final del contenedor
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }


        // Función AJAX para actualizar los mensajes en el contenedor card-body
        /*function fetchMessages() {
            fetch("/UsuarioFinal/obtenerMensajesChat?room=" + currentRoom)
                .then(response => response.json())
                .then(data => {
                    const messageContainer = document.querySelector("#chat2 .card-body");
                    messageContainer.innerHTML = ""; // Limpiar contenido anterior

                    data.forEach(mensaje => {
                        const messageElement = document.createElement("div");
                        messageElement.classList.add("d-flex", "flex-row", mensaje.senderId == idSender ? "justify-content-end" : "justify-content-start");

                        const messageContent = document.createElement("p");
                        messageContent.classList.add("small", "p-2", "mb-1", "rounded-3");
                        // Verifica si el mensaje fue enviado por el `idSender` y aplica las clases correspondientes
                        if (mensaje.senderId == idSender) {
                            messageContent.classList.add("text-white", "bg-primary", "me-3");
                        } else {
                            messageContent.classList.add("bg-body-tertiary", "ms-3");
                        }
                        messageContent.textContent = mensaje.content;

                        messageElement.appendChild(messageContent);
                        messageContainer.appendChild(messageElement);
                    });
                    // Hacer scroll hacia el último mensaje
                    messageContainer.scrollTop = messageContainer.scrollHeight;
                })
                .catch(error => console.error("Error al obtener mensajes:", error));
        }*/

        // Llamada inicial para conectar
        window.onload = function () {
            connect();
            //fetchMessages();
            //setInterval(fetchMessages, 3000); // Actualizar cada 3 segundos
        };

        function sendMessage() {
            if (!currentRoom || !name) {
                alert("Error: No se ha asignado ninguna sala o nombre.");
                return;
            }

            var messageContent = document.getElementById('message').value;

            if (!messageContent.trim()) {
                alert("Por favor, escribe un mensaje.");
                return;
            }

            var senderId = currentRoom.split('_')[1]; // Asumiendo formato "room_n"

            var message = {
                senderId: senderId,
                content: messageContent,
                room: currentRoom
            };

            stompClient.send("/app/chat/" + currentRoom, {}, JSON.stringify(message));

            // Limpiar el campo de entrada después de enviar
            document.getElementById('message').value = '';
        }
    </script>


</div>

</body>
</html>
