<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="Codescandy" name="author" />
    <title>Productos</title>
    <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
    <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />


    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">


    <!--Prueba de logo para ver si usamos jpg o svg -->
    <style>

        .message {
            max-width: 40vw; /* Ajusta este porcentaje para el ancho máximo de los mensajes largos */
            word-wrap: break-word; /* Permite el salto de línea solo cuando es necesario */
        }
    </style>
    <!--POP UP-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>

<body>

<!-- BARRA SUPERIOR -->
<!-- NAVBAR  -->
<div th:insert="~{fragments/navbarUsuarioFinal :: navbar}"></div>

<div class="main-wrapper">







    <!-- COONTENIDO DE LA PAGINA -->
    <main class="main-content-wrapper" style="padding-top: 8vh;">
        <div class="container">
            <section>
                <div class="container py-5" >
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-10 col-sm-11">
                            <div class="card" id="chat2" style="height: 65vh !important;">
                                <div class="card-header d-flex justify-content-between align-items-center p-3">
                                    <h5 class="mb-0">Chat con tu agente</h5>
                                </div>
                                <div id="response" class="card-body" data-mdb-perfect-scrollbar-init style="position: relative; overflow-y: scroll;">
                                    <div th:each="mensaje : ${ListaMensajesSala}">
                                        <div class="d-flex flex-row justify-content-start mb-4 pt-1">
                                            <div>
                                                <p th:if="${mensaje.getIdUsuario().getId() != idSender}" class="message small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary" th:text="${mensaje.getContenido()}"></p>
                                                <!--<p class="small ms-3 mb-3 rounded-3 text-muted">15:58</p>-->
                                            </div>
                                        </div>



                                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                            <div>
                                                <p th:if="${mensaje.getIdUsuario().getId() == idSender}" class="message small p-2 me-3 mb-1 text-white rounded-3 bg-primary" th:text="${mensaje.getContenido()}"></p>
                                                <!--<p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">16:06</p>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">
                                    <input type="text" class="form-control form-control-lg " id="message" placeholder="Escribe algo...">

                                    <button class="ms-3 btn btn-primary" onclick="sendMessage()">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>



</div>


<!-- LIBRERIAS -->
<div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        var stompClient = null;
        var currentRoom = null;
        var name = null;
        var idSender = /*[[${idSender}]]*/

            function getQueryParams() {
                var params = {};
                window.location.search.substring(1).split('&').forEach(function (pair) {
                    var keyValue = pair.split('=');
                    params[keyValue[0]] = decodeURIComponent(keyValue[1]);
                });
                return params;
            }

        function connect() {
            var params = getQueryParams();
            currentRoom = params.room;
            name = params.name;

            if (!currentRoom || !name) {
                alert("Error: No se ha especificado la sala o el nombre.");
                return;
            }

            var socket = new SockJS('/chat-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log("Conectado: " + frame);

                // Suscribirse para recibir nuevos mensajes
                stompClient.subscribe('/topic/room/' + currentRoom, function (message) {
                    showMessage(JSON.parse(message.body));
                });

                // Ajustar el scroll al final al conectar
                scrollToBottom();
            });
        }

        function showMessage(message) {
            var response = document.getElementById('response');

            var divContainer = document.createElement('div');


            var p = document.createElement('p');
            console.log("Parametros mensaje tiempo real")
            console.log(message.senderId)
            console.log(idSender)
            if (message.senderId == idSender) {
                divContainer.classList.add("d-flex", "flex-row", "justify-content-end", "mb-4", "pt-1");
                p.classList.add("small","message" , "p-2", "me-3", "mb-1", "text-white", "rounded-3", "bg-primary");
            } else {
                divContainer.classList.add("d-flex", "flex-row", "justify-content-start", "mb-4", "pt-1");
                p.classList.add("small","message", "p-2", "ms-3", "mb-1", "rounded-3", "bg-body-tertiary");
            }

            p.appendChild(document.createTextNode(message.content));
            divContainer.appendChild(p);

            // Agregar el div contenedor al contenedor principal de mensajes
            response.appendChild(divContainer);

            // Desplazarse al final después de agregar el mensaje
            scrollToBottom();
        }

        // Función para desplazar el scroll al final del contenedor de mensajes
        function scrollToBottom() {
            var response = document.getElementById('response');
            response.scrollTop = response.scrollHeight;
        }

        // Llamada inicial para conectar y ajustar el scroll
        window.onload = function () {
            connect();
            scrollToBottom();
        };

        function sendMessage() {
            if (!currentRoom || !name) {
                alert("Error: No se ha asignado ninguna sala o nombre.");
                return;
            }

            var messageContent = document.getElementById('message').value;

            if (!messageContent.trim()) {
                alert("Por favor, escribe un mensaje.");
                return;
            }

            var senderId = currentRoom.split('_')[1]; // Asumiendo formato "room_n"

            var message = {
                senderId: senderId,
                content: messageContent,
                room: currentRoom
            };

            stompClient.send("/app/chat/" + currentRoom, {}, JSON.stringify(message));

            // Limpiar el campo de entrada después de enviar
            document.getElementById('message').value = '';
        }
    </script>



</div>

</body>
</html>

