<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de administradores zonales</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{images/favicon/favicon.ico}">

    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">
    <style>
        .logoImagen{
            height: 80px;
            width: 250px;
        }
        .logoImagenCelulares{
            height: 80px;
            width: 220px;
        }
    </style>
</head>
<body>

<!-- Navbar Vertical (PC) -->
<th:block th:fragment="navbarVerticalPc(paginaActiva)">
    <nav class="navbar-vertical-nav d-none d-xl-block">
        <div class="navbar-vertical">
            <div class="px-4 py-5">
                <a th:href="@{/SuperAdmin/dashboard}" class="navbar-brand">
                    <img th:src="@{/images/logo/logoGTICSv2.jpeg}" alt="Logo" class="logoImagen"/>
                </a>
            </div>
            <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
                <ul class="navbar-nav flex-column" id="sideNavbar">
                    <!-- DashBoard -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'dashboard'} ? ' active'" th:href="@{/SuperAdmin/dashboard}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-bar-chart"></i></span>
                                <span class="nav-link-text">DashBoard</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item mt-6 mb-3">
                        <span class="nav-label">Opciones</span>
                    </li>



                    <!-- Usuarios -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'listaUsuarioFinal'} ? ' active'"
                           th:href="@{/SuperAdmin/listaUsuarioFinal}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-people"></i></span>
                                <span class="nav-link-text">Usuarios</span>
                            </div>
                        </a>
                    </li>


                    <!-- Administrador Zonal -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'listaAdminZonal'} ? ' active'"
                           th:href="@{/SuperAdmin/listaAdminZonal}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person-badge"></i></span>
                                <span class="nav-link-text">Administrador Zonal</span>
                            </div>
                        </a>
                    </li>


                    <!-- Agentes -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'listaAgente'} ? ' active'"
                           th:href="@{/SuperAdmin/listaAgente}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person-circle"></i></span>
                                <span class="nav-link-text">Agente</span>
                            </div>
                        </a>
                    </li>

                    <!-- Proveedores -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'proveedores'} ? ' active'"
                           th:href="@{/SuperAdmin/proveedores}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-truck"></i></span>
                                <span class="nav-link-text">Proveedores</span>
                            </div>
                        </a>
                    </li>

                    <!-- Inventario de productos -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'productos'} ? ' active'"
                           th:href="@{/SuperAdmin/productos}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-cart"></i></span>
                                <span class="nav-link-text">Inventario de productos</span>
                            </div>
                        </a>
                    </li>

                    <!-- Solicitudes para Agente -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'listaSolicitudesAgentes'} ? ' active'"
                           th:href="@{/SuperAdmin/listaSolicitudesAgentes}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-envelope"></i></span>
                                <span class="nav-link-text">Solicitudes para Agente</span>
                            </div>
                        </a>
                    </li>

                    <!-- Usuarios baneados -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'listaUsuariosBaneados'} ? ' active'"
                           th:href="@{/SuperAdmin/listaUsuariosBaneados}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person-x"></i></span>
                                <span class="nav-link-text">Usuarios baneados</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</th:block>

<!-- Navbar Vertical (Celular) -->
<th:block th:fragment="navbarVerticalCelulares(paginaActiva)">
    <nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
        <div class="navbar-vertical">
            <div class="px-4 py-5 d-flex justify-content-between align-items-center">
                <a class="navbar-brand">
                    <img th:src="@{/images/logo/logoGTICSv2.jpeg}" alt="" class="logoImagenCelulares"/>
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
                <ul class="navbar-nav flex-column">
                    <!-- DashBoard -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/dashboard}" th:classappend="${paginaActiva == 'dashboard'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-bar-chart"></i></span>
                                <span class="nav-link-text">DashBoard</span>
                            </div>
                        </a>
                    </li>



                    <!-- Usuarios -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/listaUsuarioFinal}"
                           th:classappend="${paginaActiva == 'listaUsuarioFinal'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-people"></i></span>
                                <span class="nav-link-text">Usuarios</span>
                            </div>
                        </a>
                    </li>



                    <!-- Administrador Zonal -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/listaAdminZonal}"
                           th:classappend="${paginaActiva == 'listaAdminZonal'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person-badge"></i></span>
                                <span class="nav-link-text">Administrador Zonal</span>
                            </div>
                        </a>
                    </li>



                    <!-- Agente -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/listaAgente}"
                           th:classappend="${paginaActiva == 'listaAgente'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person-circle"></i></span>
                                <span class="nav-link-text">Agente</span>
                            </div>
                        </a>
                    </li>



                    <!-- Proveedores -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/proveedores}"
                           th:classappend="${paginaActiva == 'proveedores'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-truck"></i></span>
                                <span class="nav-link-text">Proveedores</span>
                            </div>
                        </a>
                    </li>

                    <!-- Inventario de productos -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/productos}"
                           th:classappend="${paginaActiva == 'productos'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-cart"></i></span>
                                <span class="nav-link-text">Inventario de productos</span>
                            </div>
                        </a>
                    </li>

                    <!-- Solicitudes para Agente -->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/SuperAdmin/listaSolicitudesAgentes}"
                           th:classappend="${paginaActiva == 'listaSolicitudesAgentes'} ? ' active'">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-envelope"></i></span>
                                <span class="nav-link-text">Solicitudes para Agente</span>
                            </div>
                        </a>
                    </li>

                    <!-- Usuarios baneados -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${paginaActiva == 'listaUsuariosBaneados'} ? ' active'"
                           th:href="@{/SuperAdmin/listaUsuariosBaneados}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person-x"></i></span>
                                <span class="nav-link-text">Usuarios baneados</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>

<!-- Librerias JS -->
<div>
    <!-- Javascript-->
    <!-- Libs JS -->
    <script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

    <!-- Theme JS -->
    <script th:src="@{/js/theme.min.js}"></script>

    <script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
    <script th:src="@{/js/vendors/slick-slider.js}"></script>
    <script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
    <script th:src="@{/js/vendors/tns-slider.js}"></script>
    <script th:src="@{/js/vendors/zoom.js}"></script>

    <script th:src="@{/js/vendors/countdown.js}"></script>
    <script th:src="@{/libs/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
    <script th:src="@{/js/vendors/sticky.js}"></script>
    <script th:src="@{/js/vendors/modal.js}"></script>
</div>

</body>
</html>
