<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- navbar vertical (para pc)-->
    <th:block th:fragment="navbarVerticalPc(paginaActiva)">
        <nav class="navbar-vertical-nav d-none d-xl-block">
            <div class="navbar-vertical">
                <div class="px-4 py-5">
                    <a class="navbar-brand">
                        <img th:src="@{/images/logo/logoGTICSv2.png}" alt="" class="logoImagen" />
                    </a>
                </div>
                <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
                    <ul class="navbar-nav flex-column" id="sideNavbar">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${paginaActiva == 'Dashboard'} ? ' active'" th:href="@{/AdminZonal/Dashboard}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><i class="bi bi-house"></i></span>  <!-- icono-->
                                    <span class="nav-link-text">Dashboard</span>
                                </div>
                            </a>
                        </li>




                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${paginaActiva == 'Agentes'} ? ' active'" th:href="@{/AdminZonal/Agentes}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><i class="bi bi-person"></i></span>
                                    <span class="nav-link-text">Agentes</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${paginaActiva == 'Productos'} ? ' active'" th:href="@{/AdminZonal/Productos}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><i class="bi bi-shop"></i></span>
                                    <span class="nav-link-text">Productos</span>
                                </div>
                            </a>
                        </li>

                        <li class="nav-item" th:if="${session['isImpersonating'] == true}">
                            <a class="nav-link text-danger" th:href="@{/revertImpersonation}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><i class="bi bi-arrow-left-circle-fill"></i></span>
                                    <span class="nav-link-text">Regresar a Super Admin</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </th:block>
    <th:block th:fragment="navbarVerticalCelulares(paginaActiva)">
        <nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
        <div class="navbar-vertical">
            <div class="px-4 py-5 d-flex justify-content-between align-items-center">
                <a class="navbar-brand">
                    <img th:src="@{/images/logo/logoGTICSv2.png}" alt="" class="logoImagenCelulares" />
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link"  th:classappend="${paginaActiva == 'Dashboard'} ? ' active'" th:href="@{/AdminZonal/Dashboard}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-house"></i></span>
                                <span>Dashboard</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " th:classappend="${paginaActiva == 'Agentes'} ? ' active'" th:href="@{/AdminZonal/Agentes}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-person"></i></span>
                                <span class="nav-link-text">Agentes</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " th:classappend="${paginaActiva == 'Productos'} ? ' active'" th:href="@{/AdminZonal/Productos}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-shop"></i></span>
                                <span class="nav-link-text">Productos</span>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item" th:if="${session['isImpersonating'] == true}">
                        <a class="nav-link text-danger" th:href="@{/revertImpersonation}">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><i class="bi bi-arrow-left-circle-fill"></i></span>
                                <span class="nav-link-text">Regresar a Super Admin</span>
                            </div>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    </th:block>
    <th:block th:fragment="navbarSuperior">
        <nav class="navbar navbar-expand-lg navbar-glass">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center">
                        <a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
                                <path
                                        d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                                />
                            </svg>
                        </a>

                    </div>
                    <div>
                        <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">

                            <li class="dropdown ms-4">
                                <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <!--<img th:src="@{/images/avatar/avatar-12.jpg}" alt="" class="" />-->
                                    <img class="avatar avatar-md rounded-circle"
                                         th:src="${usuario.getFoto() != null ? '/usuarioFinal/' + usuario.id : '/images/avatar/avatarGenerico.png'}"
                                         alt="Foto del Usuario"
                                    />
                                </a>

                                <div class="dropdown-menu dropdown-menu-end p-0">
                                    <div class="lh-1 px-5 py-4 border-bottom">
                                        <h5 class="mb-1 h6" th:text="${session.usuario.nombre} + ' ' + ${session.usuario.apellidoPaterno}"></h5>
                                        <small>rol: Administrador Zonal</small>
                                    </div>

                                    <div class="border-top px-5 py-3">
                                        <a th:href="@{/AdminZonal/Perfil}">Mi perfil</a>
                                    </div>
                                    <form id="logoutForm" th:action="@{/logout}" method="post" th:if="${session['isImpersonating'] == null}">
                                        <div class="border-top px-5 py-3">
                                            <a href="#" onclick="document.getElementById('logoutForm').submit(); return false;">Cerrar sesión</a>
                                        </div>
                                    </form>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </th:block>

</body>
</html>