<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta etiquetas requeridas -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta content="Codescandy" name="author" />
        <title>Descargar reportes</title>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

        <!-- CSS de Librerías -->
        <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
        <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
        <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />
        <link th:href="@{/css/theme.min.css}" rel="stylesheet" />

        <!-- Estilos personalizados -->
        <style>
            .logoImagen { height: 80px; width: 250px; }
            .logoImagenCelulares { height: 80px; width: 220px; }
            .custom-popup { border-radius: 10px; }
            .swal2-styled { border-radius: 8px; }
            .swal2-styled.swal2-confirm { background-color: #28a745; color: white; }
            .swal2-styled.swal2-cancel { background-color: #dc3545; color: white; }
            .download-buttons .btn { display: flex; align-items: center; justify-content: center; }
            .download-buttons .btn i { margin-right: 5px; }
        </style>
        <!-- Estilos personalizados -->
        <style>
            .logoImagen { height: 80px; width: 250px; }
            .logoImagenCelulares { height: 80px; width: 220px; }
            .custom-popup { border-radius: 10px; }
            .swal2-styled { border-radius: 8px; }
            .swal2-styled.swal2-confirm { background-color: #28a745; color: white; }
            .swal2-styled.swal2-cancel { background-color: #dc3545; color: white; }
            .download-buttons .btn { display: flex; align-items: center; justify-content: center; }
            .download-buttons .btn i { margin-right: 5px; }
            /* Estilos para el contenido del reporte */
            .reporte-header { text-align: center; margin-bottom: 20px; }
            .reporte-total { text-align: right; font-weight: bold; margin-top: 20px; }
            .reporte-content p { margin-bottom: 5px; }
        </style>


        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>
        <!-- Contenedor principal -->
        <div>
            <!-- Navbar superior -->
            <div th:insert="~{fragments/navbarAgente :: navbarSuperior}"></div>

            <!-- Contenido principal -->
            <div class="main-wrapper">
                <!-- Navbar vertical para PC y móvil -->
                <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalPc('reportes')}"></div>
                <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalCelulares('reportes')}"></div>

                <!-- Contenido de la página -->
                <main class="main-content-wrapper">
                    <div class="container">
                        <!-- Encabezado de la página -->
                        <div class="row mb-8">
                            <div class="col-md-12">
                                <div>
                                    <h2>Reportes</h2>
                                    <!-- Breadcrumb -->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a th:href="@{/Agente}">Inicio</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Descarga de reporte</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <!-- Tarjetas de reportes -->
                        <div class="row">
                            <!-- Primera tarjeta -->
                            <div class="col-xl-4 col-lg-6 col-12 mb-5">
                                <h3 class="text-center mt-6">Órdenes generadas por usuario</h3>
                                <div class="card card-lg">
                                    <div class="card-body p-6 d-flex flex-column gap-3">
                                        <div class="mb-3">
                                            <label for="usuarioSelect" class="form-label">Seleccione un usuario</label>
                                            <select class="form-select" id="usuarioSelect" onchange="cargarOrdenesUsuario(this.value)">
                                                <option selected disabled value="">Usuario</option>
                                                <th:block th:each="usuario : ${usuariosRol4}">
                                                    <option th:value="${usuario.id}" th:text="${usuario.nombre}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="ordenSelect" class="form-label">Seleccione la orden</label>
                                            <select class="form-select" id="ordenSelect" disabled>
                                                <option selected disabled value="">Orden</option>
                                            </select>
                                        </div>
                                        <!-- Tarjeta 1 -->
                                        <div class="mb-3">
                                            <label class="form-label">Seleccione formatos de descarga</label>
                                            <!-- PDF Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="pdfSwitch1">PDF</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="pdfSwitch1" checked>
                                            </div>
                                            <!-- Excel Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="excelSwitch1">Excel</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="excelSwitch1">
                                            </div>
                                            <!-- CSV Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="csvSwitch1">CSV</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="csvSwitch1">
                                            </div>
                                        </div>


                                        <div class="download-buttons d-flex flex-row gap-2">
                                            <button class="btn btn-primary w-100" type="button" onclick="descargarReporte(1)">
                                                <i class="bi bi-download"></i> Descargar
                                            </button>

                                            <!-- Botón de Previsualización para la primera tarjeta -->
                                            <button class="btn btn-light w-100" type="button" onclick="previsualizarReporte(1)">
                                                <i class="bi bi-eye"></i> Previsualizar
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Segunda tarjeta -->
                            <div class="col-xl-4 col-lg-6 col-12 mb-5">
                                <h3 class="text-center mt-6">Total de órdenes en el sistema</h3>
                                <div class="card card-lg">
                                    <div class="card-body p-6 d-flex flex-column gap-3">
                                        <!-- Tarjeta 2 -->
                                        <!-- Tarjeta 2 -->
                                        <!-- En la Segunda tarjeta -->
                                        <div class="mb-3">
                                            <label class="form-label">Rango de fechas</label>
                                            <div class="d-flex align-items-center">
                                                <input type="date" class="form-control me-2" id="fechaInicio2" name="fechaInicio" min="2020-01-01" onchange="actualizarFechaFinMin()">
                                                <span class="mx-2">a</span>
                                                <input type="date" class="form-control ms-2" id="fechaFin2" name="fechaFin" min="2020-01-01" onchange="actualizarFechaInicioMax()">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Seleccione formatos de descarga</label>
                                            <!-- PDF Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="pdfSwitch2">PDF</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="pdfSwitch2" checked>
                                            </div>
                                            <!-- Excel Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="excelSwitch2">Excel</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="excelSwitch2">
                                            </div>
                                            <!-- CSV Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="csvSwitch2">CSV</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="csvSwitch2">
                                            </div>
                                        </div>

                                        <div class="download-buttons d-flex flex-row gap-2">
                                            <button class="btn btn-primary w-100" type="button" onclick="descargarReporte(2)">
                                                <i class="bi bi-download"></i> Descargar
                                            </button>
                                            <button class="btn btn-light w-100" type="button" data-bs-toggle="modal" data-bs-target="#previewModal" onclick="previsualizarReporte(2)">
                                                <i class="bi bi-eye"></i> Previsualizar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tercera tarjeta -->
                            <div class="col-xl-4 col-lg-6 col-12 mb-5">
                                <h3 class="text-center mt-6">Órdenes por agente asignado en la zona</h3>
                                <div class="card card-lg">
                                    <div class="card-body p-6 d-flex flex-column gap-3">
                                        <!-- Switches con input antes del label -->
                                        <!-- Tarjeta 3 -->
                                        <div class="mb-3">
                                            <label class="form-label">Seleccione formatos de descarga</label>
                                            <!-- PDF Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="pdfSwitch3">PDF</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="pdfSwitch3" checked>
                                            </div>
                                            <!-- Excel Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="excelSwitch3">Excel</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="excelSwitch3">
                                            </div>
                                            <!-- CSV Switch -->
                                            <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                                <label class="form-check-label" for="csvSwitch3">CSV</label>
                                                <input class="form-check-input ms-auto" type="checkbox" id="csvSwitch3">
                                            </div>
                                        </div>


                                        <div class="download-buttons d-flex flex-row gap-2">
                                            <button class="btn btn-primary w-100" type="button" onclick="descargarReporte(3)">
                                                <i class="bi bi-download"></i> Descargar
                                            </button>
                                            <button class="btn btn-light w-100" type="button" data-bs-toggle="modal" data-bs-target="#previewModal" onclick="previsualizarReporte(3)">
                                                <i class="bi bi-eye"></i> Previsualizar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Modal de Previsualización -->
        <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Previsualización de Reporte</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <!-- El contenido del reporte se cargará aquí dinámicamente -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scripts de Librerías -->
        <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>
        <script th:src="@{/js/theme.min.js}"></script>

        <!-- Scripts personalizados -->
        <script>
            // Instancia global del modal
            let myModal;

            document.addEventListener('DOMContentLoaded', function() {
                // Instanciar el modal una sola vez al cargar la página
                const modalElement = document.getElementById("previewModal");
                myModal = new bootstrap.Modal(modalElement);
            });

            function previsualizarReporte(cardNumber) {
                let url = "";
                let params = new URLSearchParams();

                if (cardNumber === 1) {
                    const idOrden = document.getElementById("ordenSelect").value;
                    if (!idOrden) {
                        Swal.fire("Error", "Selecciona una orden para previsualizar.", "error");
                        return;
                    }
                    params.append('idOrden', idOrden);
                    url = `/previsualizarReporte?${params.toString()}`;
                } else if (cardNumber === 2) {
                    const fechaInicio = document.getElementById(`fechaInicio${cardNumber}`).value;
                    const fechaFin = document.getElementById(`fechaFin${cardNumber}`).value;

                    if (!fechaInicio || !fechaFin) {
                        Swal.fire("Error", "Selecciona un rango de fechas.", "error");
                        return;
                    }

                    // Validación del rango de fechas
                    const fechaInicioDate = new Date(fechaInicio);
                    const fechaFinDate = new Date(fechaFin);
                    const todayString = new Date().toLocaleDateString('en-CA');
                    const todayDate = new Date(todayString);

                    if (fechaInicioDate > fechaFinDate) {
                        Swal.fire("Error", "La fecha de inicio no puede ser posterior a la fecha de fin.", "error");
                        return;
                    }
                    if (fechaFinDate > todayDate) {
                        Swal.fire("Error", "La fecha de fin no puede ser posterior a hoy.", "error");
                        return;
                    }

                    params.append('fechaInicio', fechaInicio);
                    params.append('fechaFin', fechaFin);
                    url = `/previsualizarReporteTotalOrdenes?${params.toString()}`;
                } else if (cardNumber === 3) {
                    // No se requieren parámetros adicionales
                    url = `/previsualizarReporteOrdenesPorAgente`;
                } else {
                    Swal.fire("Error", "Acción no válida.", "error");
                    return;
                }

                // Mostrar un mensaje de carga mientras se obtiene la previsualización
                const modalBody = document.getElementById("previewModal").querySelector(".modal-body");
                modalBody.innerHTML = `<p>Cargando vista previa...</p>`;

                // Realizar la solicitud
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al obtener la vista previa.');
                        }
                        return response.text();
                    })
                    .then(htmlContent => {
                        modalBody.innerHTML = htmlContent;
                        myModal.show();
                    })
                    .catch(error => {
                        modalBody.innerHTML = `<p>Error al cargar la vista previa: ${error.message}</p>`;
                    });
            }

            function descargarReporte(cardNumber) {
                const formatos = [];
                if (document.getElementById(`pdfSwitch${cardNumber}`).checked) formatos.push('PDF');
                if (document.getElementById(`excelSwitch${cardNumber}`).checked) formatos.push('Excel');
                if (document.getElementById(`csvSwitch${cardNumber}`).checked) formatos.push('CSV');

                if (formatos.length === 0) {
                    Swal.fire("Error", "Selecciona al menos un formato para descargar.", "error");
                    return;
                }

                let params = new URLSearchParams();
                let valid = true;

                if (cardNumber === 1) {
                    // Obtener idOrden
                    const idOrden = document.getElementById("ordenSelect").value;
                    if (!idOrden) {
                        Swal.fire("Error", "Selecciona una orden para descargar.", "error");
                        return;
                    }
                    params.append('idOrden', idOrden);
                } else if (cardNumber === 2) {
                    // Obtener fechaInicio y fechaFin
                    const fechaInicio = document.getElementById(`fechaInicio${cardNumber}`).value;
                    const fechaFin = document.getElementById(`fechaFin${cardNumber}`).value;

                    if (!fechaInicio || !fechaFin) {
                        Swal.fire("Error", "Selecciona un rango de fechas.", "error");
                        return;
                    }

                    // Validación del rango de fechas
                    const fechaInicioDate = new Date(fechaInicio);
                    const fechaFinDate = new Date(fechaFin);
                    const todayString = new Date().toLocaleDateString('en-CA');
                    const todayDate = new Date(todayString);

                    if (fechaInicioDate > fechaFinDate) {
                        Swal.fire("Error", "La fecha de inicio no puede ser posterior a la fecha de fin.", "error");
                        return;
                    }
                    if (fechaFinDate > todayDate) {
                        Swal.fire("Error", "La fecha de fin no puede ser posterior a hoy.", "error");
                        return;
                    }

                    params.append('fechaInicio', fechaInicio);
                    params.append('fechaFin', fechaFin);
                } else if (cardNumber === 3) {
                    // No se requieren parámetros adicionales
                } else {
                    valid = false;
                }

                if (!valid) {
                    Swal.fire("Error", "Acción no válida.", "error");
                    return;
                }

                // Agregar los formatos seleccionados
                params.append('formatos', formatos.join(','));

                // Determinar la URL adecuada
                let url = "";
                if (cardNumber === 1) {
                    url = `/descargarOrdenZIP?${params.toString()}`;
                } else if (cardNumber === 2) {
                    url = `/descargarReporteTotalOrdenesZIP?${params.toString()}`;
                } else if (cardNumber === 3) {
                    url = `/descargarReporteOrdenesPorAgenteZIP?${params.toString()}`;
                }

                // Iniciar la descarga del archivo ZIP
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al generar el reporte.');
                        }
                        return response.blob();
                    })
                    .then(blob => {
                        const link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = 'Reportes.zip';
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        Swal.fire("Descarga en progreso", "Tus archivos se están descargando.", "success");
                    })
                    .catch(error => {
                        Swal.fire("Error", error.message, "error");
                    });
            }



        </script>
        <script>
            function actualizarFechaFinMin() {
                const fechaInicioInput = document.getElementById('fechaInicio2');
                const fechaFinInput = document.getElementById('fechaFin2');
                const fechaInicio = fechaInicioInput.value;

                if (fechaInicio) {
                    fechaFinInput.min = fechaInicio;

                    // Asegurarse de que la fecha máxima sea la fecha de hoy
                    const today = new Date().toLocaleDateString('en-CA');
                    fechaFinInput.max = today;

                    if (fechaFinInput.value && fechaFinInput.value < fechaInicio) {
                        fechaFinInput.value = fechaInicio;
                    } else if (fechaFinInput.value && fechaFinInput.value > today) {
                        fechaFinInput.value = today;
                    }
                } else {
                    fechaFinInput.min = '2020-01-01'; // Fecha mínima por defecto
                }
            }

            function actualizarFechaInicioMax() {
                const fechaInicioInput = document.getElementById('fechaInicio2');
                const fechaFinInput = document.getElementById('fechaFin2');
                const fechaFin = fechaFinInput.value;

                if (fechaFin) {
                    fechaInicioInput.max = fechaFin;

                    if (fechaInicioInput.value && fechaInicioInput.value > fechaFin) {
                        fechaInicioInput.value = fechaFin;
                    }
                } else {
                    // Asegurarse de que la fecha máxima sea la fecha de hoy
                    const today = new Date().toLocaleDateString('en-CA');
                    fechaInicioInput.max = today;
                }
            }


        </script>
        <script>
            function cargarOrdenesUsuario(usuarioId) {
                if (!usuarioId) return;

                fetch(`/Agente/ordenes/porUsuario/${usuarioId}`)
                    .then(response => response.json())
                    .then(data => {
                        const ordenSelect = document.getElementById("ordenSelect");
                        ordenSelect.innerHTML = "<option selected disabled value=''>Orden</option>";

                        data.forEach(orden => {
                            ordenSelect.innerHTML += `<option value="${orden.idOrden}">Orden #${orden.idOrden}</option>`;
                        });

                        ordenSelect.disabled = false; // Activa el selector de órdenes
                    })
                    .catch(error => console.error("Error al cargar órdenes:", error));
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const today = new Date().toLocaleDateString('en-CA'); // Formato yyyy-MM-dd
                document.getElementById('fechaInicio2').setAttribute('max', today);
                document.getElementById('fechaFin2').setAttribute('max', today);
            });

        </script>

    </body>
</html>
