@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(135deg, #1a602b, #6ffa45);
    margin: 0;
}
.main-wrapper {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1a602b;
    margin-bottom: 1.5rem;
}
h1 {
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: 300;
    font-size: 1.3rem;
}
form {
    display: flex;
    flex-direction: column;
}

.container2 {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    z-index: 1;
    backdrop-filter: blur(10px);
    margin: 2rem 0;
}

button {
    background: linear-gradient(135deg, #1a602b, #6ffa45);
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0.5rem;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(154, 255, 107, 0.1);
}
.links {
    margin-top: 1.2rem;
}
.links a {
    color: #1a602b;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
.links a:hover {
    color: #4bc149;
}
