<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>Plantilla base para roles administrativos</title>
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


	<!-- Libs CSS -->
	<link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
	<link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
	<link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


	<!-- Theme CSS -->
	<link rel="stylesheet" th:href="@{/css/theme.min.css}">
	<style>

		.logoImagen{
			height: 80px;
			width: 250px;
		}
		.logoImagenCelulares{
			height: 80px;
			width: 220px;
		}
	</style>
</head>

<body>
<!-- main -->
<div>
	<!-- navbar -->
	<div th:insert="~{fragments/navbarAdminZonal.html :: navbarSuperior}"></div>


	<div class="main-wrapper">
		<!-- navbar -->
		<!-- navbar vertical (para pc)-->
		<div th:insert="~{fragments/navbarAdminZonal.html :: navbarVerticalPc('Agentes')}"></div>

		<!-- navbar vertical (para celular)-->
		<div th:insert="~{fragments/navbarAdminZonal.html :: navbarVerticalCelulares('Agentes')}"></div>

		<!-- COONTENIDO DE LA PAGINA -->
		<main class="main-content-wrapper">
			<section class="container align-items-center">
				<div class="row d-flex justify-content-between align-items-center">
					<div class="col">
						<h1 class="mb-6">Lista de agentes</h1>
					</div>
					<div class="col text-end">
						<a th:if="${crearAgente}" th:href="@{Agentes/Crear}" class="btn btn-primary"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Crear agente">Crear agente <i class="bi bi-person-fill-add"></i></a>
					</div>
				</div>

				<div class ="row justify-content-center">
					<!--card-->
					<div th:each="agente : ${listaAgentes}" class="card card-product me-5" style="max-width: 390px;">
						<div class="card-body">
							<div class="text-center position-relative">
								<a href="#!">
									<img th:if="${agente.foto != null}" th:src="@{'/AdminZonal/Agentes/fotoagente/' + ${agente.idUsuario}}"
										 alt="Foto del agente"
										 class="mb-3 img-fluid rounded-circle" style="border-radius: 8px; height: 28vh;" />

									<img th:if="${agente.foto == null}" th:src="@{'/images/avatar/avatarGenerico.png'}"
										 alt="Foto del agente"
										 class="mb-3 img-fluid rounded-circle" style="border-radius: 8px; height: 28vh;" />

								</a>
								<div class="mt-2">
									<!-- Cambiamos el id del modal a uno único basado en el id del agente -->
									<a href="#!" class="btn-action" data-bs-toggle="modal" th:data-bs-target="'#modal' + ${agente.idUsuario}" style="height: 5vh; width: 5vh">
										<i class="bi bi-eye" title="Ver más" data-bs-toggle="tooltip" data-placement="top" style="font-size: 3vh;"></i>
									</a>
								</div>
							</div>
							<hr style="border: 1px solid #949494;">
							<div>
								<h3 th:text="${agente.nombre} + ' ' + ${agente.apellidoPaterno}"></h3>
								<div class="text-small mb-1">
									<h6 style="color: #696969" th:text="'Correo: ' + ${agente.email}"></h6>
									<h6 style="color: #696969" th:text="'Teléfono: ' + ${agente.telefono}"></h6>
									<h6 style="color: #696969" th:text="'Razón social: ' + ${agente.AGT_razonSocial}"></h6>
								</div>
							</div>
						</div>

						<!-- Modal para cada agente con id dinámico -->
						<div class="modal fade" th:id="'modal' + ${agente.idUsuario}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered " role="document">
								<div class="modal-content">
									<div class="modal-body">
										<div class="text-center position-relative">
											<a href="#!">
												<img th:if="${agente.foto != null}" th:src="@{'/AdminZonal/Agentes/fotoagente/' + ${agente.idUsuario}}"
													 alt="Foto del agente"
													 class="mb-3 img-fluid rounded-circle" style="border-radius: 8px; height: 40vh;" />
											</a>
										</div>
										<hr style="border: 1px solid #949494;">
										<div>
											<h1 class="text-center" th:text="${agente.nombre} + ' ' + ${agente.apellidoPaterno}"></h1>
											<div class="text-small mb-1" style="margin-left: 8vh;">
												<h5 style="color: #696969" th:text="'Correo: ' + ${agente.email}"></h5>
												<h5 style="color: #696969" th:text="'Teléfono: ' + ${agente.telefono}"></h5>
												<h5 style="color: #696969" th:text="'Razón social: ' + ${agente.AGT_razonSocial}"></h5>
												<h5 style="color: #696969" th:text="'Dirección: ' + ${agente.direccion}"></h5>
												<h5 style="color: #696969" th:text="'Distrito: ' + ${agente.distrito}"></h5>
												<h5 style="color: #696969" th:text="'Código aduanero: ' + ${agente.AGT_codigoAduana}"></h5>
												<h5 style="color: #696969" th:text="'Código de jurisdicción: ' + ${agente.AGT_codigoJurisdiccion}"></h5>
												<h5 style="color: #696969" th:text="'Usuarios finales a cargo: ' + ${agente.cantidadUsuarios}"></h5>
												<h5 style="color: #696969" th:text="'Órdenes asignadas: ' + ${agente.cantidadOrdenes}"></h5>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>





				</div>

			</section>
		</main>
	</div>
</div>

<!-- Libs JS -->
<!-- <script src="/assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>
</body>
</html>
