<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>Plantilla base para roles administrativos</title>
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


	<!-- Libs CSS -->
	<link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
	<link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
	<link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


	<!-- Theme CSS -->
	<link rel="stylesheet" th:href="@{/css/theme.min.css}">
	<style>

		.logoImagen{
			height: 80px;
			width: 250px;
		}
		.logoImagenCelulares{
			height: 80px;
			width: 220px;
		}
	</style>
</head>

<body>
<!-- main -->
<div>
	<!-- navbar -->
	<div th:insert="~{fragments/navbarAdminZonal.html :: navbarSuperior}"></div>


	<div class="main-wrapper">
		<!-- navbar -->
		<!-- navbar vertical (para pc)-->
		<div th:insert="fragments/navbarAdminZonal.html :: navbarVerticalPc('Agentes')"></div>

		<!-- navbar vertical (para celular)-->
		<div th:insert="fragments/navbarAdminZonal.html :: navbarVerticalCelulares('Agentes')"></div>


		<!-- COONTENIDO DE LA PAGINA -->
		<main class="main-content-wrapper">
			<form th:action="@{/AdminZonal/Agentes/Guardar}" method="POST" th:object="${agente}" class="needs-validation" novalidate>
				<div class="container">
					<!-- row -->
					<div class="row mb-8">
						<div class="col-md-12">
							<div class="d-md-flex justify-content-between align-items-center">
								<!-- page header -->
								<div>
									<h2>Registrar agente</h2>
									<!-- breadcrumb -->
								</div>
								<div>
									<a th:href="@{/AdminZonal/Agentes}" class="btn btn-primary">Regresar</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class=" col-12" >
							<!-- card -->
							<div class="card mb-6 shadow border-0" style="padding: 3vh;">


								<!-- card body -->
								<div class="row">

									<!-- Nombres -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Nombres:</label>
										<input type="text" class="form-control" th:field="*{nombre}" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}"  />
										<div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
									</div>

									<!-- input apellido paterno -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Apellido Paterno:</label>
										<input type="text" class="form-control" th:field="*{apellidoPaterno}" th:classappend="${#fields.hasErrors('apellidoPaterno')?'is-invalid':''}"  />
										<div class="invalid-feedback" th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}" ></div>
									</div>

									<!-- input Apellido Materno -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Apellido Materno:</label>
										<input type="text" class="form-control" th:field="*{apellidoMaterno}" th:classappend="${#fields.hasErrors('apellidoMaterno')?'is-invalid':''}"  />
										<div class="invalid-feedback" th:if="${#fields.hasErrors('apellidoMaterno')}" th:errors="*{apellidoMaterno}" ></div>
									</div>

									<!-- input DNI -->
									<div class="col-lg-6 col-12">
										<label class="form-label">DNI:</label>
										<input type="text" class="form-control" th:field="*{dni}" th:classappend="${#fields.hasErrors('dni')?'is-invalid':''}"/>
										<div class="invalid-feedback" th:if="${dniError}" th:text="${dniError}"></div>
									</div>
									<!-- input Teléfono -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Teléfono:</label>
										<input type="text" class="form-control" th:field="*{telefono}" th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}" />
										<div class="invalid-feedback" th:if="${telefonoError}" th:text="${telefonoError}"></div>
									</div>

									<!-- input Correo electrónico -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Correo electrónico:</label>
										<input type="email" class="form-control" th:field="*{email}" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" />
										<div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
									</div>

									<!-- input Dirección -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Dirección:</label>
										<input type="text" class="form-control" th:field="*{direccion}" th:classappend="${#fields.hasErrors('direccion') ? 'is-invalid' :  ''}" />
										<div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" ></div>
									</div>

									<!-- input Distrito -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Distrito:</label>
										<select class="form-select" th:field="*{distrito.id}" id="distritoSelect" required onchange="actualizarCodigoJurisdiccion()">
											<option value="" selected disabled>---Seleccione un distrito---</option>
											<th:block th:each="distrito : ${distritos}">
												<option th:value="${distrito.id}" th:text="${distrito.nombre}"></option>
											</th:block>
										</select>
										<div class="invalid-feedback">El distrito es obligatorio.</div>
									</div>

									<!-- input Código de Jurisdicción -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Código de Jurisdicción:</label>
										<input type="text" class="form-control" th:field="*{agtCodigojurisdiccion}" id="codigoJurisdiccion" th:classappend="${#fields.hasErrors('agtCodigojurisdiccion')?'is-invalid':''}"/>
										<div class="invalid-feedback" th:if="${agtCodigojurisdiccionError}" th:text="${agtCodigojurisdiccionError}"></div>
									</div>
									<!-- input Zona (deshabilitado porque se asigna automáticamente) -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Zona:</label>
										<input type="text" class="form-control" th:value="${adminzonal.zona.nombreZona}" disabled />
									</div>

									<!-- input Razón social -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Razón social (opcional):</label>
										<input type="text" class="form-control" th:field="*{agtRazonsocial}" />
									</div>

									<!-- input Código Aduanero -->
									<div class="col-lg-6 col-12">
										<label class="form-label">Código Aduanero:</label>
										<input type="text" class="form-control" th:field="*{agtCodigoaduana}" th:classappend="${#fields.hasErrors('agtCodigoaduana')?'is-invalid':''}" />
										<div class="invalid-feedback" th:if="${agtCodigoaduanaError}" th:text="${agtCodigoaduanaError}"></div>
									</div>
									<!-- input RUC -->
									<div class="col-lg-6 col-12">
										<label class="form-label">RUC:</label>
										<input type="text" class="form-control" th:field="*{agtRuc}" th:classappend="${#fields.hasErrors('agtRuc')?'is-invalid':''}" />
										<div class="invalid-feedback" th:if="${agtRucError}" th:text="${agtRucError}"></div>
									</div>
									<!-- Botones -->
									<div class="col-12 mt-3">
										<button type="submit" class="btn btn-success mb-2">Crear Agente</button>
										<a th:href="@{/AdminZonal/Agentes}" class="btn btn-danger mb-2">Cancelar</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</main>
	</div>
</div>

<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>
<script>
	function actualizarCodigoJurisdiccion() {
		var select = document.getElementById("distritoSelect");
		var selectedOption = select.options[select.selectedIndex];
		var codigoJurisdiccion = selectedOption.getAttribute("data-codigo");
		document.getElementById("codigoJurisdiccion").value = codigoJurisdiccion;
	}
</script>
<script>
	// Script para activar la validación de Bootstrap
	(function () {
		'use strict'
		// Obtener todos los formularios a los que se les aplicará la validación
		var forms = document.querySelectorAll('.needs-validation')
		// Hacer un loop sobre ellos y prevenir el envío si no cumplen con la validación
		Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}
						form.classList.add('was-validated')
					}, false)
				})
	})()
</script>
</body>
</html>
