<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="Codescandy" name="author" />
    <title th:text="${producto.nombreProducto}">Producto</title>
    <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
    <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
    <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />

    <!-- Favicon icon-->
    <link th:href="@{/images/favicon/favicon.ico}" rel="shortcut icon" type="image/x-icon" />

    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

    <!-- Theme CSS -->
    <link th:href="@{/css/theme.min.css}" rel="stylesheet" />

    <style>
        .product img {
            max-height: 400px;
            width: 100%;
            object-fit: contain;
        }

        .thumbnails-img img {
            max-height: 100px;
            object-fit: contain;
        }
    </style>

</head>

<body>
<div class="border-bottom">

    <div th:insert="~{fragments/navbarUsuarioFinal :: navbar}"></div>

</div>

<main>
    <section class="mt-8">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-7">
                    <!-- img slide -->
                    <div class="product" id="product">
                        <div class="zoom"
                             th:style="'background-image: url(' + @{/UsuarioFinal/producto/foto/} + ${producto.id} + ')'"
                             style="width: 100%; height: 400px; background-size: contain; background-position: center; background-repeat: no-repeat;">
                            <!-- Imagen principal del producto -->
                            <img th:src="@{'/UsuarioFinal/producto/foto/' + ${producto.id}}"
                                 alt="Imagen del producto" class="img-fluid" style="max-height: 400px; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
                        </div>
                    </div>

                    <!-- product tools (thumbnails) -->
                    <div class="product-tools">
                        <div class="thumbnails row g-3" id="productThumbnails">
                            <div th:each="imagen : ${imagenes}" class="col-3">
                                <div class="thumbnails-img" style="height: 100px;">
                                    <!-- img -->
                                    <img th:src="@{'/UsuarioFinal/producto/foto/' + ${imagen.producto.id}}"
                                         alt="Imagen del producto" class="img-fluid" style="max-height: 100px; object-fit: contain; display: block; margin-left: auto; margin-right: auto;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xl-5"> <!-- Ajustar a 6 y 5 columnas respectivamente -->
                    <div class="ps-lg-3 mt-2 mt-md-0">
                        <!-- content -->
                        <a class="mb-2 d-block" style="font-size: 0.8rem;" th:text="${nombreCategoria}">Electrónica y Tecnología</a>
                        <!-- heading -->
                        <h1 class="mb-1" style="font-size: 1rem;" th:text="${producto.nombreProducto}">Laptop HP 13 pulgadas core i7</h1>
                        <div class="mb-2">
                            <!-- rating -->
                            <small class="text-warning" style="font-size: 0.7rem;">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </small>
                            <a href="#" class="ms-1" style="font-size: 0.7rem;">(30 reseñas)</a>
                        </div>
                        <div class="fs-4" style="font-size: 0.9rem;">
                            <!-- price -->
                            <span class="fw-bold text-dark" th:text="'S/. ' + ${#numbers.formatDecimal(producto.precio, 1, 'COMMA', 2, 'POINT')}">S/. 3000.00</span>
                        </div>

                        <form th:action="@{/UsuarioFinal/anadirAlCarrito}" method="post">
                            <input type="hidden" name="idProducto" th:value="${producto.id}" />
                            <div>
                                <!-- input -->
                                <div class="input-group input-spinner">
                                    <input type="button" value="-" class="button-minus btn btn-sm" data-field="quantity" style="font-size: 0.7rem;" />
                                    <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field form-control-sm form-input" style="width: 40px; font-size: 0.7rem;" />
                                    <input type="button" value="+" class="button-plus btn btn-sm" data-field="quantity" style="font-size: 0.7rem;" />
                                </div>
                            </div>
                            <div class="mt-2 row g-1 align-items-center">
                                <div class="col-12">
                                    <div class="d-flex gap-2">
                                        <!-- Botón principal -->
                                        <!--<button type="button" class="btn btn-primary flex-grow-1" style="font-size: 0.7rem; padding: 0.3rem 0.7rem;">
                                            <i class="feather-icon icon-credit-card me-2"></i>
                                            Comprar
                                        </button>-->
                                        <!-- Botón secundario -->
                                        <button type="button" class="btn btn-primary flex-grow-1" style="font-size: 0.7rem; padding: 0.3rem 0.7rem;">
                                            <i class="feather-icon icon-shopping-cart me-2"></i>
                                            Añadir al carrito
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- hr -->
                        <hr class="my-3" />
                        <div>
                            <!-- table -->
                            <table class="table table-borderless mb-0 text-center">
                                <tbody>
                                <tr>
                                    <td style="font-size: 0.8rem;">Disponibilidad:</td>
                                    <td th:if="${producto.disponibilidad == 'En stock'}" style="font-size: 0.8rem;">
                                        <span class="badge bg-light-primary text-dark-primary">En Stock</span>
                                    </td>
                                    <td th:if="${producto.disponibilidad == 'Fuera de stock'}" style="font-size: 0.8rem;">
                                        <span class="badge bg-light-danger text-dark-danger">Fuera de stock</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 0.8rem;">Tipo:</td>
                                    <td th:text="${nombreCategoria}" style="font-size: 0.8rem;">Tecnología</td>
                                </tr>
                                <tr>
                                    <td style="font-size: 0.8rem;">Fecha aproximada de entrega:</td>
                                    <td style="font-size: 0.8rem;">
                                        <small th:if="${fechaFormateada != null}" th:text="${fechaFormateada}"></small>
                                        <small th:unless="${fechaFormateada != null}">No hay fecha aproximada</small>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mt-lg-4 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
                        <!-- nav item -->
                        <li class="nav-item" role="presentation">
                            <!-- btn -->
                            <button
                                    class="nav-link active"
                                    id="product-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#product-tab-pane"
                                    type="button"
                                    role="tab"
                                    aria-controls="product-tab-pane"
                                    aria-selected="true">
                                Detalles del producto
                            </button>
                        </li>

                    </ul>
                    <!-- tab content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- tab pane -->
                        <div class="tab-pane fade show active" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                            <div class="my-8">
                                <div class="mb-5">
                                    <!-- text -->
                                    <p th:text="${producto.descripcion}" class="mb-0">
                                        Descripción del producto
                                    </p>
                                </div>

                                <!-- content -->
                                <div class="mb-5">
                                    <h5 class="mb-1">Vendedor</h5>
                                    <p th:text="${producto.idProveedor.tienda.nombreTienda}" class="mb-0">DMart Pvt. LTD</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-lg-8 my-8">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-6">
                    <h3 class="mb-0">Productos que te podrían gustar</h3>
                </div>
            </div>

            <!-- Contenedor para los productos -->
            <div class="row">
                <!-- Producto 1 -->
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card card-product">
                        <a class="text-decoration-none text-inherit">
                            <div class="card-body">
                                <!-- Imagen del producto -->
                                <div class="text-center position-relative">
                                    <img th:src="@{/images/category/laptop.jpg}" alt="Producto" class="mb-3 img-fluid" />
                                </div>
                                <!-- Información del producto -->
                                <div class="text-small mb-1">
                                    <small>Electrónica y tecnología</small>
                                </div>
                                <h2 class="fs-6">
                                    Laptop HP 13 pulgadas core i7
                                </h2>
                                <div>
                                    <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5 (149)</span>
                                </div>
                                <!-- Precio -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="text-dark">S/. 3000</span>
                                    <a href="#!" class="btn btn-primary btn-sm">Añadir al carrito</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Producto 1 -->
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card card-product">
                        <a  class="text-decoration-none text-inherit">
                            <div class="card-body">
                                <!-- Imagen del producto -->
                                <div class="text-center position-relative">
                                    <img th:src="@{/images/category/laptop.jpg}" alt="Producto" class="mb-3 img-fluid" />
                                </div>
                                <!-- Información del producto -->
                                <div class="text-small mb-1">
                                    <small>Electrónica y tecnología</small>
                                </div>
                                <h2 class="fs-6">
                                    Laptop HP 13 pulgadas core i7
                                </h2>
                                <div>
                                    <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5 (149)</span>
                                </div>
                                <!-- Precio -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="text-dark">S/. 3000</span>
                                    <a href="#!" class="btn btn-primary btn-sm">Añadir al carrito</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Producto 1 -->
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card card-product">
                        <a  class="text-decoration-none text-inherit">
                            <div class="card-body">
                                <!-- Imagen del producto -->
                                <div class="text-center position-relative">
                                    <img th:src="@{/images/category/laptop.jpg}" alt="Producto" class="mb-3 img-fluid" />
                                </div>
                                <!-- Información del producto -->
                                <div class="text-small mb-1">
                                    <small>Electrónica y tecnología</small>
                                </div>
                                <h2 class="fs-6">
                                    Laptop HP 13 pulgadas core i7
                                </h2>
                                <div>
                                    <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5 (149)</span>
                                </div>
                                <!-- Precio -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="text-dark">S/. 3000</span>
                                    <a href="#!" class="btn btn-primary btn-sm">Añadir al carrito</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Producto 1 -->
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card card-product">
                        <a  class="text-decoration-none text-inherit">
                            <div class="card-body">
                                <!-- Imagen del producto -->
                                <div class="text-center position-relative">
                                    <img th:src="@{/images/category/laptop.jpg}" alt="Producto" class="mb-3 img-fluid" />
                                </div>
                                <!-- Información del producto -->
                                <div class="text-small mb-1">
                                    <small>Electrónica y tecnología</small>
                                </div>
                                <h2 class="fs-6">
                                    Laptop HP 13 pulgadas core i7
                                </h2>
                                <div>
                                    <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5 (149)</span>
                                </div>
                                <!-- Precio -->
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <span class="text-dark">S/. 3000</span>
                                    <a href="#!" class="btn btn-primary btn-sm">Añadir al carrito</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- modal -->
<div th:insert="~{fragments/modalProducto :: modalProducto(${producto}, ${imagenes}, ${fechaFormateada})}
"></div>

<!-- Javascript-->
<script th:src="@{/libs/rater-js/index.js}"></script>
<script th:src="@{/libs/dropzone/dist/min/dropzone.min.js}"></script>
<!-- Libs JS -->
<!-- <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/js/vendors/jquery.min.js}"></script>
<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
<script th:src="@{/js/vendors/tns-slider.js}"></script>
<script th:src="@{/js/vendors/zoom.js}"></script>
<script th:src="@{/js/vendors/dropzone.js}"></script>

</body>
</html>