<!DOCTYPE html>
<html lang="en">
   <head>
	   <!-- Required meta tags -->
	   <meta charset="utf-8" />
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	   <meta content="Codescandy" name="author" />
	   <title>Orden</title>
	   <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
	   <!-- Favicon icon-->
	   <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

	   <!-- Libs CSS -->
	   <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
	   <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
	   <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

	   <!-- Theme CSS -->
	   <link rel="stylesheet" th:href="@{/css/theme.min.css}" />



	   <!--Prueba de logo para ver si usamos jpg o svg -->
	   <style>

		   .logoImagen{
			   height: 80px;
			   width: 250px;
		   }
		   .logoImagenCelulares{
			   height: 80px;
			   width: 220px;
		   }

	   </style>
	   <!--POP UP-->
	   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	   <style>
		   .custom-popup{
			   border-radius: 10px;
		   }
		   .swal2-styled{
			   border-radius: 8px;
		   }
		   .swal2-styled.swal2-confirm {
			   background-color: #28a745;
			   color: white;
		   }

		   .swal2-styled.swal2-cancel {
			   background-color: #dc3545;
			   color: white;
		   }
	   </style>


   </head>

   <body>

   <!-- BARRA SUPERIOR -->
   <div th:insert="~{fragments/navbarAgente :: navbarSuperior}"></div>
	<!-- NAVBAR  -->
   <div class="main-wrapper">

	   <!-- navbar -->
	   <!-- navbar vertical (para pc)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalPc('ordenes')}"></div>

	   <!-- navbar vertical (para celular)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalCelulares('ordenes')}"></div>



	   <!-- COONTENIDO DE LA PAGINA -->
   <main class="main-content-wrapper">
	   <div class="container">
		   <!-- row -->
		   <div class="row mb-8">
			   <div class="col-md-12">
				   <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-4">
					   <div>
						   <!-- page header -->
						   <h2>Orden</h2>
						   <!-- breacrumb -->
						   <!-- breacrumb -->
						   <nav aria-label="breadcrumb">
							   <ol class="breadcrumb mb-0">
								   <li class="breadcrumb-item"><a th:href="@{/Agente}" class="text-inherit">Inicio</a></li>

								   <li class="breadcrumb-item" th:if="${indicadorVistaARegresar == 1}">
									   <a th:href="@{/Agente/UsuariosAsignados}" class="text-inherit">Lista de usuarios</a>
								   </li>
								   <li class="breadcrumb-item" th:if="${indicadorVistaARegresar == 1}">
									   <a th:href="@{'/Agente/Ordenes/Usuario?idUsuario=' + ${orden.idCarritoCompra.idUsuario.id}}" class="text-inherit">Órdenes</a>
								   </li>
								   <li class="breadcrumb-item active" th:if="${indicadorVistaARegresar == 1}" aria-current="page">
									   Orden
								   </li>

								   <li class="breadcrumb-item" th:if="${indicadorVistaARegresar == 0}">
									   <a th:href="@{/Agente/Ordenes}" class="text-inherit">Lista de órdenes</a>
								   </li>
								   <li class="breadcrumb-item active" th:if="${indicadorVistaARegresar == 0}" aria-current="page">
									   Orden
								   </li>

								   <li class="breadcrumb-item active" th:if="${indicadorVistaARegresar == 2}" aria-current="page">
									   Orden
								   </li>

							   </ol>
						   </nav>

					   </div>
					   <!-- button -->
					   <!-- button -->
					   <div class="row d-flex justify-content-end ">
						   <div th:if="${indicadorVistaARegresar == 1}" class="col-4 ">
							   <!--si es 1, regresa a ordenes de usuario-->
							   <a th:href="@{'/Agente/Ordenes/Usuario?idUsuario=' + ${orden.idCarritoCompra.idUsuario.id}}" class="btn btn-primary"><div>Regresar</div></a>
						   </div>
						   <div th:if="${indicadorVistaARegresar == 0}" class="col-4  ">
							   <!--si es 0, regresa a lista de ordenes-->
							   <a th:href="@{/Agente/Ordenes}" class="btn btn-primary"><div>Regresar</div></a>
						   </div>
						   <div th:if="${indicadorVistaARegresar == 2}" class="col-4 ">
							   <!--si es 2, regresa a lista de inicio-->
							   <a th:href="@{/Agente}" class="btn btn-primary"><div>Regresar</div></a>
						   </div>
						   <div class="col-8 d-flex justify-content-end">
							   <a th:href="@{'/Agente/Ordenes/tracking?idOrden=' + ${orden.id}}" class="btn btn-soft-success"><div>Ver tracking</div></a>
						   </div>
					   </div>
				   </div>
			   </div>
		   </div>
		   <!-- row -->
		   <div class="row">
			   <div class="col-xl-12 col-12 mb-5">
				   <!-- card -->
				   <div class="card h-100 card-lg" th:action="@{/Agente/Orden/editarOrden}">
					   <div class="card-body p-6">
						   <div class="d-md-flex justify-content-between">
							   <div class="d-flex align-items-center mb-2 mb-md-0">
								   <h2 class="mb-0" th:text="|Orden: ${numOrden}|"></h2>

								   <input type="hidden" th:field="${orden.id}">
								   <input type="hidden" th:name="idCarritoCompra" th:value="${orden.idCarritoCompra.id}">


								   <div th:switch="${orden.controlOrden.id}">
									   <span th:case="1" class="badge bg-light-danger text-dark-danger ms-2">Sin asignar</span>
									   <span th:case="2" class="badge bg-light-warning text-dark-warning ms-2">Pendiente</span>
									   <span th:case="3" class="badge bg-light-info text-dark-info ms-2">En progreso</span>
									   <span th:case="4" class="badge bg-light-primary text-dark-primary ms-2">Resuelta</span>
								   </div>
							   </div>
							   <!-- select option -->
							   <div class="d-md-flex">


								   <!-- button -->
								   <div class="ms-md-3">
									   <a th:href="@{'/Agente/Ordenes/AsignarOrden?idOrden='+ ${orden.id}}"><button class="btn btn-outline-success">Autoasignar orden</button></a> <!--onclick="mostrarAlerta()" -->
								   </div>
							   </div>
						   </div>
						   <div class="mt-8">
							   <div class="row">
								   <!-- address -->
								   <div class="col-lg-4 col-md-4 col-12">
									   <div class="mb-6">
										<h6 class="mb-0 me-2" ><strong>Detalles de usuario:</strong></h6>
										   <p class="mb-1 lh-lg" style="margin-top: 6px;">
											   <span th:text="${orden.idCarritoCompra.idUsuario.nombre}"></span>
											   <br />
											   <span th:text="${orden.idCarritoCompra.idUsuario.email}"></span>
											   <br />
											   <span th:text="${orden.idCarritoCompra.idUsuario.telefono}"></span>
										   </p>
										   <a th:href="@{/Agente/verPerfilDesdeDetalle(id=${orden.idCarritoCompra.idUsuario.id})}">Ver perfil</a>
									   </div>
								   </div>
								   <!-- address -->
								   <div class="col-lg-4 col-md-4 col-12">
									   <div class="mb-6">
										<h6 class="mb-0 me-2"><strong>Ubicación de envío:</strong></h6>
										<div class="d-flex align-items-center mb-3" style="margin-top: 6px;">
											<h6 class="mb-0 me-2">Dirección: </h6>
											<input type="text" class="form-control flex-fill" th:field="${orden.idCarritoCompra.idUsuario.direccion}" style="color: #6c757d;" disabled>
										</div>
										<div class="d-flex align-items-center mb-3" style="margin-top: 25px;">
											<h6 class="mb-0 me-2">Distrito: </h6>
											<input type="text" class="form-control flex-fill" th:value="${orden.idCarritoCompra.idUsuario.distrito.nombre}" disabled>
										</div>


									   </div>
								   </div>
								   <!-- address -->
								   <div class="col-lg-4 col-md-4 col-12">
									   <div class="mb-6" >
										<h6 class="mb-0 me-2"><strong>Detalles de la orden:</strong></h6>
											   <br />
											   <div class="d-flex align-items-center mb-3" style="margin-top: -17px">
												<h6 class="mb-0 me-2">Día de entrega: </h6>
												<input type="date" class="form-control flex-fill" name="fechaOrden" th:value="${orden.fechaLlegada}" style="color: #6c757d; margin-left: 14px;" disabled>
											</div>
										   <div style="margin-top: 35px"> Total:

											   <span th:text="'S/. ' + ${ #numbers.formatDecimal(subtotal + maxCostoEnvio + (costoAdicional != null ? costoAdicional : 0.00),1,2)}"></span></div>

									   </div>
								   </div>
							   </div>
						   </div>
					   </div>
					   <div class="row">


						   <div class="col-12">
							   <div class="table-responsive">
								   <!-- Table -->
								   <table class="table mb-0 text-nowrap table-centered">
									   <!-- Table Head -->
									   <thead class="bg-light">
										   <tr>
											   <th>Productos</th>
											   <th>Precio Unidad (S/.)</th>
											   <th>Cantidad</th>

											   <th>Total por Producto (S/.)</th>
										   </tr>
									   </thead>
									   <!-- tbody -->
									   <tbody>
									   <!-- Iterar sobre la lista de productos -->
									   <tr th:each="producto : ${productosOrden}">
										   <td>
											   <div class="d-flex align-items-center">
												   <div>
													   <img th:src="@{'/productos/' + ${producto.idProducto}}" alt="Imagen del producto" class="icon-shape icon-lg" />
												   </div>
												   <div class="ms-lg-4 mt-2 mt-lg-0">
													   <!-- Nombre del Producto -->
													   <h5 class="mb-0 h6" th:text="${producto.nombreProducto}"></h5>
													   <!-- Detalles: Tienda, Modelo, Color (con fuente más pequeña) -->
													   <div class="text-muted" style="font-size: 0.875em;">
														   <!-- Tienda -->
														   <span th:text="'Tienda: ' + ${producto.nombreTienda}"></span><br>

														   <!-- Modelo: Si es null o vacío, muestra "No especificado" -->
														   <span th:text="'Modelo: ' + (${#strings.isEmpty(producto.modelo) ? 'No especificado' : producto.modelo})"></span><br>

														   <!-- Color: Si es null o vacío, muestra "No especificado" -->
														   <span th:text="'Color: ' + (${#strings.isEmpty(producto.color) ? 'No especificado' : producto.color})"></span>
													   </div>
												   </div>
											   </div>
										   </td>
										   <td><span class="text-body" th:text="${#numbers.formatDecimal(producto.precioUnidad,1,2)}"></span></td>
										   <td th:text="${producto.cantidadProducto}"></td>

										   <td th:text="${#numbers.formatDecimal(producto.precioTotalPorProducto,1,2 )}"></td>

									   </tr>

									   <!-- Subtotal de la Orden -->

									   <tr>
										   <td class="border-bottom-0 pb-0"></td>
										   <td class="border-bottom-0 pb-0"></td>
										   <td colspan="1" class="fw-medium text-dark">
											   <!-- text -->
											   Sub-Total
										   </td>
										   <td class="fw-medium text-dark">
											   <!-- Mostrar el subtotal calculado -->
											   <span th:text="${#numbers.formatDecimal(subtotal,1,2)}"></span>

										   </td>
									   </tr>

									   <tr>
										   <td class="border-bottom-0 pb-0"></td>
										   <td class="border-bottom-0 pb-0"></td>
										   <td colspan="1" class="fw-medium text-dark">
											   <!-- text -->
											   Costo de envío
										   </td>
										   <td class="fw-medium text-dark">
											   <!-- Mostrar el costo de envío más alto -->
											   <span th:text=" ${#numbers.formatDecimal(maxCostoEnvio,1,2) }"></span>
										   </td>

									   </tr>

									   <tr>
										   <td class="border-bottom-0 pb-0"></td>
										   <td class="border-bottom-0 pb-0"></td>
										   <td colspan="1" class="fw-medium text-dark">
											   <!-- texto -->
											   Costos adicionales
										   </td>
										   <td class="fw-medium text-dark">
											   <!-- Mostrar el costo adicional, y si es null, mostrar S/. 0.00 -->
											   <span th:text="(${costoAdicional != null ? #numbers.formatDecimal(costoAdicional,1,2) : '0,00'})"></span>
										   </td>
									   </tr>


									   <tr>
										   <td></td>
										   <td></td>
										   <td colspan="1" class="fw-semibold text-dark">
											   <!-- text -->
											   Total
										   </td>
										   <td class="fw-semibold text-dark">
											   <!-- Mostrar el total (subtotal + maxCostoEnvio + costoAdicional) y asegurar que costoAdicional nunca sea null -->
											   <span th:text="${ #numbers.formatDecimal(subtotal + maxCostoEnvio + (costoAdicional != null ? costoAdicional : 0.00),1,2)}"></span>
										   </td>
									   </tr>

									   </tbody>
								   </table>
							   </div>
						   </div>


					   </div>
					   <div class="card-body p-6">
						   <div class="row">
							   <div class="col-md-6 mb-4 mb-lg-0">
								   <h6>Información de pago</h6>
								   <span>Tarjeta de crédito/débito</span>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
		   </div>
	   </div>
	   </div>
	   <!--POP UP ELIMINAR ORDEN-->
	   <script>
		   document.querySelectorAll('.eliminarOrden').forEach(button => {
			   button.addEventListener('click', function() {
				   Swal.fire({
					   showCloseButton: true,
					   title: 'Confirmar ',
					   text: "¿Está seguro de que deseas eliminar esta orden?",
					   icon: 'warning',
					   showCancelButton: true,
					   confirmButtonText: 'Eliminar',
					   cancelButtonText: 'Cancelar',
					   customClass: {
						   popup: 'custom-popup'
					   }
				   }).then((result) => {
					   if (result.isConfirmed) {
						   Swal.fire('Orden eliminada', 'Se ha eliminado la orden exitosamente.', 'success');
					   }
				   });
			   });
		   });
	   </script>

		<!--POP UP PARA GUARDAR/EDITAR ORDEN-->
		<script>
			function mostrarAlerta() {
				Swal.fire({
					title: "¿Estás seguro de guardar los cambios realizados?",
					showDenyButton: true,
					showCancelButton: true,
					confirmButtonText: "Guardar",
					denyButtonText: "No guardar",
					cancelButtonText: "Cancelar",
					buttonsStyling: false,
					customClass: {
						confirmButton: 'btn btn-success mx-2',  // Botón verde
						denyButton: 'btn btn-danger mx-2',      // Botón rojo
						cancelButton: 'btn btn-secondary mx-2'  // Botón plomo
					}
				}).then((result) => {
					if (result.isConfirmed) {
						Swal.fire("¡Guardado!", "", "success");
					} else if (result.isDenied) {
						Swal.fire("No se guardaron los cambios", "", "info");
					}
				});
			}
		</script>


   </main>



	</div>


   	<!-- LIBRERIAS -->
	<div>
		<!-- Javascript-->
		<!-- Libs JS -->
		<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
		<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

		<!-- Theme JS -->
		<script th:src="@{/js/theme.min.js}"></script>

		<script th:src="@{/js/vendors/jquery.min.js}"></script>
		<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
		<script th:src="@{/js/vendors/slick-slider.js}"></script>
		<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
		<script th:src="@{/js/vendors/tns-slider.js}"></script>
		<script th:src="@{/js/vendors/zoom.js}"></script>

		<script th:src="@{/js/vendors/countdown.js}"></script>
		<script th:src="@{/libs/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
		<script th:src="@{/js/vendors/sticky.js}"></script>
		<script th:src="@{/js/vendors/modal.js}"></script>
	</div>

   </body>
</html>
