<!DOCTYPE html>
<html lang="en">
   <head>
	   <!-- Required meta tags -->
	   <meta charset="utf-8" />
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	   <meta content="Codescandy" name="author" />
	   <title>Órdenes del usuario</title>
	   <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
	   <!-- Favicon icon-->
	   <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

	   <!-- Libs CSS -->
	   <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
	   <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
	   <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

	   <!-- Theme CSS -->
	   <link rel="stylesheet" th:href="@{/css/theme.min.css}" />



	   <!--Prueba de logo para ver si usamos jpg o svg -->
	   <style>

		   .logoImagen{
			   height: 80px;
			   width: 250px;
		   }
		   .logoImagenCelulares{
			   height: 80px;
			   width: 220px;
		   }
	   </style>


   </head>

   <body>

   <!-- BARRA SUPERIOR -->
   <div th:insert="~{fragments/navbarSuperior.html :: navbarSuperior}"></div>
	<!-- NAVBAR  -->
   <div class="main-wrapper">

	   <!-- navbar -->
	   <!-- navbar vertical (para pc)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalPc('usuariosAsignados')}"></div>

	   <!-- navbar vertical (para celular)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalCelulares('usuariosAsignados')}"></div>




	   <!-- COONTENIDO DE LA PAGINA -->
	   <!-- Contenedor principal de la página -->
	   <main class="main-content-wrapper">
		   <div class="container">
			   <!-- Título y breadcrumb -->
			   <div class="row mb-8">
				   <div class="col-md-12">
					   <div class="d-flex justify-content-between align-items-center">
						   <div>
							   <div th:if="${ordenCarrito.isEmpty()}">
								   <h3>El usuario no presenta ordenes</h3>
							   </div>
							   <div th:unless="${ordenCarrito.isEmpty()}">
								   <h2>Órdenes del usuario: <span class="text-primary" th:text="${usuario.nombre}  + ' ' + ${usuario.apellidoPaterno}"></span></h2>
								   <!-- breacrumb -->
								   <nav aria-label="breadcrumb">
									   <ol class="breadcrumb mb-0">
										   <li class="breadcrumb-item"><a th:href="@{/Agente}" class="text-inherit">Inicio</a></li>
										   <li class="breadcrumb-item"><a th:href="@{/Agente/UsuariosAsignados}" class="text-inherit">Lista de usuarios</a></li>
										   <li class="breadcrumb-item active" aria-current="page">Órdenes</li>
									   </ol>
								   </nav>
							   </div>
						   </div>

						   <!-- botones
						   <div>
							   <a th:href="@{/SuperAdmin/proveedores}" class="btn btn-primary btn-icon">
								   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
									   <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
								   </svg>
							   </a>
							   <a th:href="@{/SuperAdmin/listaProveedores}" class="btn btn-light btn-icon">
								   <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
									   <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
									   <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
									   <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
								   </svg>
							   </a>
						   </div>
						   -->

					   </div>
				   </div>
			   </div>

			   <!-- Aquí está la fila que contiene todas las cards -->
			   <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 g-lg-6">
				   <!-- Cada card -->
				   <div th:if="${!ordenCarrito.isEmpty()}" class="col" th:each="orden,var : ${ordenCarrito}">
					   <div class="col">
						   <!-- card -->
						   <div class="card border-0 text-center card-lg">
							   <div class="card-body p-6">
								   <div>
									   <!-- img -->

									   <img th:src="@{'/productos/' + ${orden.primerIdProducto}}" alt="Imagen del producto" class="rounded-circle icon-shape icon-xxl mb-6" />
									   <!-- content -->
									   <div th:if="${orden.controlOrden == 1}">
										   <h2 class="mb-2 h5"><a th:href="@{'/Agente/Ordenes/DetallesOrdenSinAsignar?indicadorVistaARegresar=1&numOrden='+${var.index+1}+ '&idOrden=' + ${orden.idOrden}}" class="text-inherit" th:text="|Orden: #${var.index+1}|"></a></h2>
									   </div>
									   <div th:unless="${orden.controlOrden == 1}">
										   <h2 class="mb-2 h5"><a th:href="@{'/Agente/Ordenes/Detalles?indicadorVistaARegresar=1&numOrden='+${var.index+1}+ '&idOrden=' + ${orden.idOrden}}" class="text-inherit" th:text="|Orden: #${var.index+1}|"></a></h2>
									   </div>
									   <div class="mb-2" th:text="|Fecha: ${orden.getFechaOrden()}|"></div>
									   <div class="mb-2" th:text="|Monto total: S/. ${#numbers.formatDecimal(orden.montoTotal, 1, 2)}|"> </div>




									   <div th:switch="${orden.controlOrden}">
										   <div class="mb-2" th:case="1">Control:<span th:text="'Sin asignar'" class="badge bg-light-danger text-dark-danger"></span></div>
										   <div class="mb-2" th:case="2">Control:<span th:text="'Pendiente'" class="badge bg-light-warning text-dark-warning"></span></div>
										   <div class="mb-2" th:case="3">Control:<span th:text="'En progreso'" class="badge bg-light-info text-dark-info"></span></div>
										   <div class="mb-2" th:case="4">Control:<span th:text="'Resuelta'" class="badge bg-light-primary text-dark-primary"></span></div>
									   </div>
									   <div th:switch="${orden.estadoOrden}">
										   <div class="mb-2" th:case="1">Estado:<span th:text="'Creado'" class="badge bg-light-primary text-dark-primary"></span></div>
										   <div class="mb-2" th:case="2">Estado:<span th:text="'En validación'" class="badge bg-light-secondary text-dark-secondary"></span></div>
										   <div class="mb-2" th:case="3">Estado:<span th:text="'En proceso'" class="badge bg-light-info text-dark-info"></span></div>
										   <div class="mb-2" th:case="4">Estado:<span th:text="'Arribo al país'" class="badge bg-light-warning text-dark-warning"></span></div>
										   <div class="mb-2" th:case="5">Estado:<span th:text="'En aduanas'" class="badge bg-light-danger text-dark-danger"></span></div>
										   <div class="mb-2" th:case="6">Estado:<span th:text="'En ruta'" class="badge bg-light-warning text-dark-warning"></span></div>
										   <div class="mb-2" th:case="7">Estado:<span th:text="'Recibido'" class="badge bg-light-success text-dark-success"></span></div>
									   </div>
								   </div>
							   </div>
						   </div>
					   </div>
				   </div>
				   <!-- Fin del each de cards -->
			   </div>

			   <!-- Mostrar información de paginación y botones -->
			   <div class="d-flex flex-column align-items-center">
				   <!-- Texto de paginación centrado -->
				   <span id="paginationInfo" class="mb-2">
					<span th:if="${totalPages > 0}">Mostrando página [[${currentPage + 1}]] de [[${totalPages}]]</span>
					<span th:if="${totalPages == 0}">Mostrando página 1 de 1</span>
				</span>

				   <!-- Paginación centrada -->
				   <nav aria-label="Page navigation example">
					   <ul class="pagination justify-content-center">
						   <!-- Botón de "Previo" -->
						   <li class="page-item" th:classappend="${currentPage == 0 || totalPages == 0} ? 'disabled'">
							   <a class="page-link" th:href="@{'/Agente/Ordenes/Usuario?page=' + (${currentPage - 1}) + '&idUsuario=' + ${usuario.id} + '&indicadorVistaARegresar=1'}">Previo</a>
						   </li>

						   <!-- Páginas numeradas -->
						   <li th:each="i : ${#numbers.sequence(0, totalPages == 0 ? 0 : totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'" class="page-item">
							   <a class="page-link" th:href="@{'/Agente/Ordenes/Usuario?page=' + ${i} + '&idUsuario=' + ${usuario.id} + '&indicadorVistaARegresar=1'}" th:text="${i + 1}"></a>
						   </li>

						   <!-- Botón de "Siguiente" -->
						   <li class="page-item" th:classappend="${currentPage + 1 == totalPages || totalPages == 0} ? 'disabled'">
							   <a class="page-link" th:href="@{'/Agente/Ordenes/Usuario?page=' + (${currentPage + 1}) + '&idUsuario=' + ${usuario.id} + '&indicadorVistaARegresar=1'}">Siguiente</a>
						   </li>
					   </ul>
				   </nav>
			   </div>


		   </div>
	   </main>




   </div>


   	<!-- LIBRERIAS -->
	<div>
		<!-- Javascript-->
		<!-- Libs JS -->
		<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
		<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

		<!-- Theme JS -->
		<script th:src="@{/js/theme.min.js}"></script>

		<script th:src="@{/js/vendors/jquery.min.js}"></script>
		<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
		<script th:src="@{/js/vendors/slick-slider.js}"></script>
		<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
		<script th:src="@{/js/vendors/tns-slider.js}"></script>
		<script th:src="@{/js/vendors/zoom.js}"></script>

		<script th:src="@{/js/vendors/countdown.js}"></script>
		<script th:src="@{/libs/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
		<script th:src="@{/js/vendors/sticky.js}"></script>
		<script th:src="@{/js/vendors/modal.js}"></script>
	</div>

   </body>
</html>
