<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
    <title>Productos</title>
    <!-- Favicon icon-->
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- jQuery (necesario para DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: #099309;
            background-color: #099309;  /* Cambia el color de fondo al hacer hover */
            border: none !important;      /* Cambia el color del borde al hacer hover */
            color: white !important;

        }
        /*Estilos popups*/
        .custom-popup{
            border-radius: 10px;
        }
        .swal2-styled{
            border-radius: 8px;
        }
        .swal2-styled.swal2-confirm {
            background-color: #28a745;
            color: white;
        }

        .swal2-styled.swal2-cancel {
            background-color: #dc3545;
            color: white;
        }

        /*Estilos datatable*/
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border-radius: 6px;
            background-color: #218838;
        }

        /* Botón activo */
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            border-radius: 6px;
            background-color: #099309 !important;
            background: #099309 !important;
            border: none;
            color: white !important;
        }

        /* Botón hover */

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: none;
        }
    </style>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Libs CSS -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">
    <style>

        .logoImagen{
            height: 80px;
            width: 250px;
        }
        .logoImagenCelulares{
            height: 80px;
            width: 220px;
        }
    </style>

</head>

<body>
<!-- main -->
<div>
    <!-- navbar -->
    <div th:insert="~{fragments/navbarAdminZonal.html :: navbarSuperior}"></div>


    <div class="main-wrapper">
        <!-- navbar -->
        <!-- navbar vertical (para pc)-->
        <div th:insert="~{fragments/navbarAdminZonal.html :: navbarVerticalPc('Productos')}"></div>

        <!-- navbar vertical (para celular)-->
        <div th:insert="~{fragments/navbarAdminZonal.html :: navbarVerticalCelulares('Productos')}"></div>

        <!-- COONTENIDO DE LA PAGINA -->
        <main class="main-content-wrapper">
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-6">Lista de productos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="d-flex mb-4" role="search" onsubmit="return false;">
                            <label for="searchCustomers" class="visually-hidden">Buscar producto</label>
                            <input class="form-control" type="search" id="searchCustomers" placeholder="Buscar producto" aria-label="Search" oninput="filterTable()" />
                        </form>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">
                </div>
                <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}">
                </div>
                <div class="table-responsive border-0">

                    <form id="formAgregarFecha" th:action="@{/AdminZonal/Productos/guardarFecha}" method="post" style="display: none;">
                        <input type="hidden" name="productoId" id="productoId" value="" />
                        <input type="hidden" name="fechaEntrega" id="fechaEntrega" value="" />
                    </form>

                    <form id="formEditarSolicitud" th:action="@{/AdminZonal/Productos/GuardarSolReposicion}" method="post" style="display: none;">
                        <input type="hidden" name="productoId" id="editarProductoId" value="" />
                        <input type="hidden" name="cantidad" id="editarCantidad" value="" />
                    </form>

                    <form id="formEliminarSolicitud" th:action="@{/AdminZonal/Productos/EliminarSolReposicion}" method="post" style="display: none;">
                        <input type="hidden" name="productoId" id="eliminarProductoId" value="" />
                    </form>

                    <form id="formCrearSolicitud" th:action="@{/AdminZonal/Productos/GuardarSolReposicion}" method="post" style="display: none;">
                        <input type="hidden" name="productoId" id="crearProductoId" value="" />
                        <input type="hidden" name="cantidad" id="crearCantidad" value="" />
                    </form>

                    <form id="formEditarFechaArribo" th:action="@{/AdminZonal/Productos/guardarFecha}" method="post" style="display: none;">
                        <input type="hidden" name="productoId" id="editarFechaProductoId" value="" />
                        <input type="hidden" name="fechaEntrega" id="fechaEntrega" value="" />
                    </form>

                    <form id="formEliminarFechaArribo" th:action="@{/AdminZonal/Productos/EliminarFechaArribo}" method="post" style="display: none;">
                        <input type="hidden" name="productoId" id="eliminarFechaProductoId" value="" />
                    </form>


                    <!-- Table -->
                    <table id="productosTable" class="table mb-0 text-nowrap" style ="padding-top: 3vh; border-color: #d5d7d7;">
                        <!-- Table Head -->
                        <thead class="table-light">
                        <tr>
                            <!-- Centrar el encabezado de la imagen -->
                            <th class="text-center" style="width: 10%;">&nbsp;</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Fecha de arribo</th>
                            <th class="text-center">Solicitud de reposición</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto : ${listaProductos}">
                            <td class="align-middle text-center" style="width: 10%;">
                                <!-- Imagen del producto -->
                                <a href="#" disabled="">
                                    <img th:if="${producto.primeraFoto != null}" th:src="@{'/AdminZonal/Productos/fotoproducto/' + ${producto.idProducto}}" alt="Imagen del producto" class="icon-shape icon-xl">
                                </a>
                            </td>
                            <td class="align-middle text-center" th:text="${producto.nombreProducto}"></td>
                            <td class="align-middle text-center" th:text="${producto.cantidadDisponible}"></td>
                            <td class="align-middle text-center">
                                <button th:if="${producto.fechaArribo} == null" class="btn btn-primary addDate" th:data-product-id="${producto.idProducto}" style="width: 80%;">
                                    <p style="margin-bottom: 0px;">Agregar fecha <i class="bi-calendar-plus" style="margin-left: 5px;"></i></p>
                                </button>

                                <div th:if="${producto.fechaArribo} != null" style="display: flex; align-items: center; width: 80%; margin-left: 30px;">
                                    <!-- Label con la fecha -->
                                    <label  style="flex: 1; padding: 5px; background-color: #ffffff; border-radius: 5px; text-align: center;">
                                        <span th:text="${#dates.format(producto.fechaArribo, 'dd/MM/yyyy')}"></span>
                                    </label>

                                    <!-- Botón de editar -->
                                    <button type="button" class="btn btn-primary editarFechaArribo" style="margin-left: 5px;"
                                            th:data-product-id="${producto.idProducto}"
                                            th:data-fecha-actual="${#dates.format(producto.fechaArribo, 'dd/MM/yyyy')}">
                                        <i class="bi-pencil-fill"></i>
                                    </button>

                                    <!-- Botón de eliminar -->
                                    <button type="button" class="btn btn-danger eliminarFechaArribo" style="margin-left: 5px;"
                                            th:data-product-id="${producto.idProducto}">
                                        <i class="bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle text-center">
                                <!-- Si cantidadSolicitada no es null, mostrar los botones Ver, Editar y Eliminar -->
                                <button th:if="${producto.cantidadSolicitada != null}"
                                        type="button"
                                        class="btn btn-outline-primary verSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        th:data-cantidad-solicitada="${producto.cantidadSolicitada}"
                                        title="Ver solicitud"
                                        style="border-color: #007bff; color: #007bff;">
                                    <i class="fas fa-eye"></i>
                                </button>

                                <button th:if="${producto.cantidadSolicitada != null}"
                                        type="button"
                                        class="btn btn-outline-success editarSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        th:data-cantidad-solicitada="${producto.cantidadSolicitada}"
                                        title="Editar solicitud">
                                    <i class="fas fa-edit"></i>
                                </button>

                                <button th:if="${producto.cantidadSolicitada != null}"
                                        type="button"
                                        class="btn btn-outline-danger eliminarSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        title="Eliminar solicitud">
                                    <i class="fas fa-trash"></i>
                                </button>

                                <!-- Si cantidadSolicitada es null y cantidadDisponible <= 25, mostrar botón habilitado para Solicitar Reposición -->
                                <button th:if="${producto.cantidadSolicitada == null and producto.cantidadDisponible <= 25}"
                                        type="button"
                                        class="btn btn-outline-primary crearSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        title="Solicitar reposición">
                                    <i class="fas fa-cart-plus"></i> Solicitar
                                </button>

                                <!-- Si cantidadSolicitada es null y cantidadDisponible > 25, mostrar botón deshabilitado indicando Stock adecuado -->
                                <button th:if="${producto.cantidadSolicitada == null and producto.cantidadDisponible > 25}"
                                        type="button"
                                        class="btn btn-outline-secondary"
                                        disabled
                                        title="Stock adecuado">
                                    <i class="fas fa-check-circle"></i> Stock adecuado
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <!-- Información de paginación -->
                    <span id="paginationInfo" class="mb-2">
        Mostrando página [[${currentPage + 1}]] de [[${totalPages}]]
    </span>

                    <!-- Paginación centrada -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <!-- Botón de "Previo" -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" th:href="@{/AdminZonal/Productos(page=${currentPage - 1})}">Previo</a>
                            </li>

                            <!-- Páginas numeradas dinámicas (mostrar solo entre startPage y endPage) -->
                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i == currentPage} ? 'active'" class="page-item">
                                <a class="page-link" th:href="@{/AdminZonal/Productos(page=${i})}" th:text="${i + 1}"></a>
                            </li>

                            <!-- Botón de "Siguiente" -->
                            <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                                <a class="page-link" th:href="@{/AdminZonal/Productos(page=${currentPage + 1})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </section>
        </main>
    </div>
</div>

<!-- Libs JS -->
<!-- <script src="/assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>
<script>
    $(document).ready(function () {
        // Funciones para paginación adicional, si es necesario
        $('a.page-link').on('click', function () {
            const page = $(this).data('page');
            if (page !== undefined) {
                window.location.href = '/AdminZonal/Productos?page=' + page;
            }
        });

        $('#prevPage').on('click', function () {
            const currentPage = parseInt($('li.active a').data('page'));
            if (currentPage > 0) {
                window.location.href = '/AdminZonal/Productos?page=' + (currentPage - 1);
            }
        });

        $('#nextPage').on('click', function () {
            const currentPage = parseInt($('li.active a').data('page'));
            const totalPages = parseInt([[${totalPages}]]);
            if (currentPage < totalPages - 1) {
                window.location.href = '/AdminZonal/Productos?page=' + (currentPage + 1);
            }
        });
    });

</script>


<script>
    document.querySelectorAll('.crearSolicitud').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');
            const form = document.getElementById('formCrearSolicitud');

            // Asignar el productoId al formulario oculto
            form.querySelector('#crearProductoId').value = productoId;

            Swal.fire({
                title: 'Crear Solicitud de Reposición',
                html: `
                    <p>Ingrese la cantidad de productos que desea solicitar:</p>
                    <input type="number" id="nuevaCantidad" class="swal2-input" min="1" required />
                `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                focusConfirm: false,
                preConfirm: () => {
                    const cantidad = Swal.getPopup().querySelector('#nuevaCantidad').value;
                    if (!cantidad || cantidad <= 0) {
                        Swal.showValidationMessage('Por favor, ingrese una cantidad válida.');
                        return false;
                    }
                    // Asignar la cantidad al formulario oculto
                    form.querySelector('#crearCantidad').value = cantidad;
                    return true;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar el formulario al backend
                    form.submit();
                }
            });
        });
    });
</script>
<script>
    document.querySelectorAll('.verSolicitud').forEach(button => {
    button.addEventListener('click', function () {
        const cantidadSolicitada = button.getAttribute('data-cantidad-solicitada');
        const productoId = button.getAttribute('data-product-id');

        Swal.fire({
            title: 'Solicitud de reposición',
            html: `
                <p>Se solicitaron</p>
                <input type="number" id="productQuantity" class="swal2-input" value="${cantidadSolicitada}" min="0" disabled>
                <p>productos</p>
            `,
            confirmButtonText: 'Cerrar',
            confirmButtonColor: '#6c757d',  // Color gris para el botón "Cerrar"
            customClass: {
                popup: 'custom-popup'
            }
        });
    });
    });

</script>

<script>
    document.querySelectorAll('.eliminarFechaArribo').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');
            const form = document.getElementById('formEliminarFechaArribo');

            // Asignar el productoId al formulario oculto
            form.querySelector('#eliminarFechaProductoId').value = productoId;

            Swal.fire({
                title: 'Confirmar Eliminación',
                text: "¿Está seguro de que desea eliminar la fecha de arribo?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                preConfirm: () => {
                    // Confirmar la acción sin requerir más validaciones
                    return true;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar el formulario al backend
                    form.submit();
                }
            });
        });
    });
</script>

<script>
    document.querySelectorAll('.eliminarSolicitud').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');
            const form = document.getElementById('formEliminarSolicitud');

            // Asignar el productoId al formulario oculto
            form.querySelector('#eliminarProductoId').value = productoId;

            Swal.fire({
                title: 'Confirmar Eliminación',
                text: "¿Está seguro de que desea eliminar esta solicitud de reposición?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                preConfirm: () => {
                    // Confirmar la acción sin requerir más validaciones
                    return true;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar el formulario oculto al backend
                    form.submit();
                }
            });
        });
    });
</script>

<script>
    document.querySelectorAll('.editarSolicitud').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');
            const cantidadActual = button.getAttribute('data-cantidad-solicitada');
            const form = document.getElementById('formEditarSolicitud');

            // Asignar valores al formulario oculto
            form.querySelector('#editarProductoId').value = productoId;

            Swal.fire({
                title: 'Editar Solicitud de Reposición',
                html: `
                    <p>Ingrese la nueva cantidad de productos que desea solicitar:</p>
                    <input type="number" id="nuevaCantidad" class="swal2-input" value="${cantidadActual}" min="1" required />
                `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                focusConfirm: false,
                preConfirm: () => {
                    const nuevaCantidad = Swal.getPopup().querySelector('#nuevaCantidad').value;
                    if (!nuevaCantidad || nuevaCantidad <= 0) {
                        Swal.showValidationMessage('Por favor, ingrese una cantidad válida.');
                        return false;
                    }
                    // Asignar la nueva cantidad al formulario
                    form.querySelector('#editarCantidad').value = nuevaCantidad;
                    return true;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar el formulario al backend
                    form.submit();
                }
            });
        });
    });
</script>

<script>
    function filterTable() {
    const input = document.getElementById("searchCustomers");
    const filter = input.value.toLowerCase();
    const table = document.querySelector("table tbody");
    const rows = table.getElementsByTagName("tr");

    for (let i = 0; i < rows.length; i++) {
    const cells = rows[i].getElementsByTagName("td");
    let match = false;

    for (let j = 0; j < cells.length; j++) {
    if (cells[j].innerText.toLowerCase().includes(filter)) {
    match = true;
    break;
    }
    }
    rows[i].style.display = match ? "" : "none";
    }
    }
</script>
<script>
    document.querySelectorAll('.addDate').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');
            const form = document.getElementById('formAgregarFecha');

            // Asignar el ID del producto al formulario
            form.querySelector('#productoId').value = productoId;

            Swal.fire({
                title: 'Agregar Fecha de Arribo',
                html: `
                <p>Ingrese la fecha de arribo:</p>
                <input type="date" id="fechaSwal" class="swal2-input" required
                       min="${new Date().toISOString().split('T')[0]}" />
            `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                focusConfirm: false,
                preConfirm: () => {
                    const fechaIngresada = Swal.getPopup().querySelector('#fechaSwal').value;

                    // Validaciones de la fecha ingresada
                    const fechaHoy = new Date().toISOString().split('T')[0];
                    if (!fechaIngresada) {
                        Swal.showValidationMessage('Por favor, ingrese una fecha válida.');
                        return false;
                    }
                    if (fechaIngresada <= fechaHoy) {
                        Swal.showValidationMessage('La fecha debe ser futura.');
                        return false;
                    }

                    // Asignar la fecha al formulario
                    form.querySelector('#fechaEntrega').value = fechaIngresada;

                    return true;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar el formulario al backend
                    form.submit();
                }

            });
        });
    });

</script>
<script>
    document.querySelectorAll('.editarFechaArribo').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');
            const fechaActual = button.getAttribute('data-fecha-actual'); // Formato yyyy-MM-dd
            const form = document.getElementById('formEditarFechaArribo');

            // Asignar el productoId al formulario oculto
            form.querySelector('#editarFechaProductoId').value = productoId;

            Swal.fire({
                title: 'Editar Fecha de Arribo',
                html: `
                <p>Ingrese la nueva fecha de arribo:</p>
                <input type="date" id="nuevaFecha" class="swal2-input" value="${fechaActual}"
                       min="${new Date().toISOString().split('T')[0]}" required />
            `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                focusConfirm: false,
                preConfirm: () => {
                    const nuevaFecha = Swal.getPopup().querySelector('#nuevaFecha').value;

                    if (!nuevaFecha) {
                        Swal.showValidationMessage('Por favor, ingrese una fecha válida.');
                        return false;
                    }

                    // Validar que la fecha sea futura
                    const hoy = new Date().toISOString().split('T')[0];
                    if (nuevaFecha <= hoy) {
                        Swal.showValidationMessage('La fecha debe ser futura.');
                        return false;
                    }

                    // Asignar la nueva fecha al formulario
                    form.querySelector('#fechaEntrega').value = nuevaFecha;

                    return true;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Enviar el formulario al backend
                    form.submit();
                }
            });
        });
    });

</script>
</body>
</html>
