<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
    <title>Productos</title>
    <!-- Favicon icon-->
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- jQuery (necesario para DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            background: #099309;
            background-color: #099309;  /* Cambia el color de fondo al hacer hover */
            border: none !important;      /* Cambia el color del borde al hacer hover */
            color: white !important;

        }
        /*Estilos popups*/
        .custom-popup{
            border-radius: 10px;
        }
        .swal2-styled{
            border-radius: 8px;
        }
        .swal2-styled.swal2-confirm {
            background-color: #28a745;
            color: white;
        }

        .swal2-styled.swal2-cancel {
            background-color: #dc3545;
            color: white;
        }

        /*Estilos datatable*/
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            border-radius: 6px;
            background-color: #218838;
        }

        /* Botón activo */
        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            border-radius: 6px;
            background-color: #099309 !important;
            background: #099309 !important;
            border: none;
            color: white !important;
        }

        /* Botón hover */

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: none;
        }
    </style>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Libs CSS -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


    <!-- Libs CSS -->
    <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
    <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
    <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}">
    <style>

        .logoImagen{
            height: 80px;
            width: 250px;
        }
        .logoImagenCelulares{
            height: 80px;
            width: 220px;
        }
    </style>

</head>

<body>
<!-- main -->
<div>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-glass">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <a class="text-inherit d-block d-xl-none me-4" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
                            <path
                                    d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                            />
                        </svg>
                    </a>

                </div>
                <div>
                    <ul class="list-unstyled d-flex align-items-center mb-0 ms-5 ms-lg-0">
                        <li class="dropdown-center">
                            <a class="position-relative btn-icon btn-ghost-secondary btn rounded-circle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-bell fs-5"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2 ms-n2">
								2
								<span class="visually-hidden">Mensajes sin leer</span>
							</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg p-0 border-0">
                                <div class="border-bottom p-5 d-flex justify-content-between align-items-center">
                                    <div>
                                        <h5 class="mb-1">Notificaciones</h5>
                                        <p class="mb-0 small">Tienes 2 mensajes sin leer</p>
                                    </div>
                                    <a href="#!" class="text-muted">
                                        <a href="#" class="btn btn-ghost-secondary btn-icon rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Marcar como leído">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check2-all text-success" viewBox="0 0 16 16">
                                                <path
                                                        d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"
                                                />
                                                <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                                            </svg>
                                        </a>
                                    </a>
                                </div>
                                <div data-simplebar style="height: 250px">
                                    <!-- List group -->
                                    <ul class="list-group list-group-flush notification-list-scroll fs-6">
                                        <!-- List group item -->
                                        <li class="list-group-item px-5 py-4 list-group-item-action active">
                                            <a href="#!" class="text-muted">
                                                <div class="d-flex">
                                                    <div class="ms-4">
                                                        <p class="mb-1">
                                                            <span class="text-dark">Nombre de la persona</span>
                                                            Descripción notificación 1
                                                        </p>
                                                        <span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">Hace 1 minuto</small>  <!--Se puede eliminar-->
													</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="list-group-item px-5 py-4 list-group-item-action">
                                            <a href="#!" class="text-muted">
                                                <div class="d-flex">
                                                    <div class="ms-4">
                                                        <p class="mb-1">
                                                            <span class="text-dark">Título de notificación 2</span>
                                                            Descripción notificación 2
                                                        </p>
                                                        <span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">Hace 2 días</small>
													</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="list-group-item px-5 py-4 list-group-item-action">
                                            <a href="#!" class="text-muted">
                                                <div class="d-flex">
                                                    <div class="ms-4">
                                                        <p class="mb-1">
                                                            <span class="text-dark">Título de notificación 3</span>
                                                            Descripción notificación 3
                                                        </p>
                                                        <span>
														<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-clock text-muted" viewBox="0 0 16 16">
															<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
															<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
														</svg>
														<small class="ms-2">Hace 5 horas</small>
													</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="border-top px-5 py-4 text-center">
                                    <a href="#!">Ver todas</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown ms-4">
                            <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="@{/images/avatar/avatar-1.jpg}" alt="" class="avatar avatar-md rounded-circle" />
                            </a>

                            <div class="dropdown-menu dropdown-menu-end p-0">
                                <div class="lh-1 px-5 py-4 border-bottom">
                                    <h5 class="mb-1 h6">Nombre Apellido</h5>
                                    <small>rol en la pagina</small>
                                </div>

                                <div class="border-top px-5 py-3">
                                    <a th:href="@{/AdminZonal/Perfil}">Mi perfil</a>
                                </div>
                                <div class="border-top px-5 py-3">
                                    <a href="#">Cerrar sesión</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div class="main-wrapper">
        <!-- navbar -->
        <!-- navbar vertical (para pc)-->
        <div th:insert="fragments/navbarAdminZonal.html :: navbarVerticalPc('Productos')"></div>

        <!-- navbar vertical (para celular)-->
        <div th:insert="fragments/navbarAdminZonal.html :: navbarVerticalCelulares('Productos')"></div>

        <!-- COONTENIDO DE LA PAGINA -->
        <main class="main-content-wrapper">
            <section class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-6">Lista de productos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="d-flex mb-4" role="search" onsubmit="return false;">
                            <label for="searchCustomers" class="visually-hidden">Buscar producto</label>
                            <input class="form-control" type="search" id="searchCustomers" placeholder="Buscar producto" aria-label="Search" oninput="filterTable()" />
                        </form>
                    </div>
                </div>
                <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">
                </div>
                <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}">
                </div>
                <div class="table-responsive border-0">
                    <!-- Table -->
                    <table id="productosTable" class="table mb-0 text-nowrap" style ="padding-top: 3vh; border-color: #d5d7d7;">
                        <!-- Table Head -->
                        <thead class="table-light">
                        <tr>
                            <!-- Centrar el encabezado de la imagen -->
                            <th class="text-center" style="width: 10%;">&nbsp;</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Fecha de arribo</th>
                            <th class="text-center">Solicitud de reposición</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto : ${listaProductos}">
                            <td class="align-middle text-center" style="width: 10%;">
                                <!-- Imagen del producto -->
                                <a href="#" disabled="">
                                    <img th:if="${producto.primeraFoto != null}" th:src="@{'/AdminZonal/Productos/fotoproducto/' + ${producto.idProducto}}" alt="Imagen del producto" class="icon-shape icon-xl">
                                </a>
                            </td>
                            <td class="align-middle text-center" th:text="${producto.nombreProducto}"></td>
                            <td class="align-middle text-center" th:text="${producto.cantidadDisponible}"></td>
                            <td class="align-middle text-center">
                                <button th:if="${producto.fechaArribo} == null" class="btn btn-primary addDate" style="width: 80%" th:data-product-id="${producto.idProducto}">
                                    <p style="margin-bottom: 0px;">Agregar fecha <i class="bi-calendar-plus" style="margin-left: 5px;"></i></p>
                                </button>

                                <div th:if="${producto.fechaArribo} != null" style="display: flex; align-items: center; width: 80%; margin-left: 30px;">
                                    <!-- Label con la fecha -->
                                    <label  style="flex: 1; padding: 5px; background-color: #ffffff; border-radius: 5px; text-align: center;">
                                        <span th:text="${#dates.format(producto.fechaArribo, 'dd/MM/yyyy')}"></span>
                                    </label>

                                    <!-- Botón de editar -->
                                    <button type="submit" class="btn btn-primary saveButton saveAlert" style="margin-left: 5px;" th:data-product-id="${producto.idProducto}">
                                        <i class="bi-pencil-fill"></i>
                                    </button>

                                    <!-- Botón de eliminar -->
                                    <button type="submit" class="btn btn-danger eliminarFechaArribo" style="margin-left: 5px;" th:data-product-id="${producto.idProducto}">
                                        <i class="bi-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="align-middle text-center">
                                <!-- Si cantidadSolicitada no es null, mostrar los botones Ver, Editar y Eliminar -->
                                <button th:if="${producto.cantidadSolicitada != null}"
                                        type="button"
                                        class="btn btn-outline-primary verSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        th:data-cantidad-solicitada="${producto.cantidadSolicitada}"
                                        title="Ver solicitud"
                                        style="border-color: #007bff; color: #007bff;">
                                    <i class="fas fa-eye"></i>
                                </button>

                                <button th:if="${producto.cantidadSolicitada != null}"
                                        type="button"
                                        class="btn btn-outline-success editarSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        th:data-cantidad-solicitada="${producto.cantidadSolicitada}"
                                        title="Editar solicitud">
                                    <i class="fas fa-edit"></i>
                                </button>

                                <button th:if="${producto.cantidadSolicitada != null}"
                                        type="button"
                                        class="btn btn-outline-danger eliminarSolicitud"
                                        th:data-product-id="${producto.idProducto}"
                                        th:data-cantidad-solicitada="${producto.cantidadSolicitada}"
                                        title="Eliminar solicitud">
                                    <i class="fas fa-trash"></i>
                                </button>

                                <!-- Si cantidadSolicitada es null y cantidadDisponible <= 25, mostrar botón habilitado para Solicitar Reposición -->
                                <button th:if="${producto.cantidadSolicitada == null and producto.cantidadDisponible <= 25}"
                                        type="button"
                                        class="btn btn-outline-primary reposicion"
                                        th:data-product-id="${producto.idProducto}"
                                        title="Solicitar reposición">
                                    <i class="fas fa-cart-plus"></i> Solicitar
                                </button>

                                <!-- Si cantidadSolicitada es null y cantidadDisponible > 25, mostrar botón deshabilitado indicando Stock adecuado -->
                                <button th:if="${producto.cantidadSolicitada == null and producto.cantidadDisponible > 25}"
                                        type="button"
                                        class="btn btn-outline-secondary"
                                        disabled
                                        title="Stock adecuado">
                                    <i class="fas fa-check-circle"></i> Stock adecuado
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <!-- Texto de paginación centrado -->
                    <span id="paginationInfo" class="mb-2">
                                        Mostrando página [[${currentPage != null ? currentPage + 1 : 1}]] de [[${totalPages != null ? totalPages : 1}]]
                                    </span>

                    <!-- Paginación centrada -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <!-- Botón de "Previo" -->
                            <li class="page-item" th:classappend="${currentPage == 0 or currentPage == null} ? 'disabled'">
                                <a class="page-link" th:href="@{/AdminZonal/Productos(page=${currentPage != null ? currentPage - 1 : 0})}">Previo</a>
                            </li>

                            <!-- Páginas numeradas -->
                            <li th:each="i : ${#numbers.sequence(0, totalPages != null ? totalPages - 1 : 0)}" th:classappend="${i == currentPage} ? 'active'" class="page-item">
                                <a class="page-link" th:href="@{/AdminZonal/Productos(page=${i})}" th:text="${i + 1}"></a>
                            </li>

                            <!-- Botón de "Siguiente" -->
                            <li class="page-item" th:classappend="${currentPage != null && (currentPage + 1 == totalPages)} ? 'disabled'">
                                <a class="page-link" th:href="@{/AdminZonal/Productos(page=${currentPage != null ? currentPage + 1 : 1})}">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </main>
    </div>
</div>

<!-- Libs JS -->
<!-- <script src="/assets/libs/jquery/dist/jquery.min.js"></script> -->
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/js/vendors/chart.js}"></script>
<script>
    $(document).ready(function () {
        // Funciones para paginación adicional, si es necesario
        $('a.page-link').on('click', function () {
            const page = $(this).data('page');
            if (page !== undefined) {
                window.location.href = '/AdminZonal/Productos?page=' + page;
            }
        });

        $('#prevPage').on('click', function () {
            const currentPage = parseInt($('li.active a').data('page'));
            if (currentPage > 0) {
                window.location.href = '/AdminZonal/Productos?page=' + (currentPage - 1);
            }
        });

        $('#nextPage').on('click', function () {
            const currentPage = parseInt($('li.active a').data('page'));
            const totalPages = parseInt([[${totalPages}]]);
            if (currentPage < totalPages - 1) {
                window.location.href = '/AdminZonal/Productos?page=' + (currentPage + 1);
            }
        });
    });

</script>


<script>
    //Popup reposicion
    document.querySelectorAll('.reposicion').forEach(button => {
    button.addEventListener('click', function() {
    // Aquí obtenemos el valor del atributo data-product-id
    const productoId = button.getAttribute('data-product-id');

    // Aquí usas el productoId en el Swal popup y lo pasas en el formulario
    Swal.fire({
    showCloseButton: true,
    title: 'Solicitud de reposición',
    html: `
    <p>Ingrese la cantidad de productos que desea solicitar:</p>
    <input type="number" id="productQuantity" class="swal2-input" value="0" min="0">
    `,
    showCancelButton: true,
    confirmButtonText: 'Enviar',
    cancelButtonText: 'Cancelar',
    customClass:{
    popup: 'custom-popup'
    },
    focusConfirm: false,
    preConfirm: () => {
    const quantity = Swal.getPopup().querySelector('#productQuantity').value;
    if (!quantity || quantity <= 0) {
    Swal.showValidationMessage(`Por favor ingrese una cantidad válida.`);
    }
    // Aquí retorna el productoId junto con la cantidad
    return { quantity, productoId };
    }
    }).then((result) => {
    if (result.isConfirmed) {
    // Crear y enviar un formulario con el productoId y la cantidad
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '/AdminZonal/Productos/GuardarSolReposicion';  // Define la acción del formulario

    // Agregar campo oculto para el idProducto
    const inputProductoId = document.createElement('input');
    inputProductoId.type = 'hidden';
    inputProductoId.name = 'productoId';
    inputProductoId.value = result.value.productoId;
    form.appendChild(inputProductoId);

    // Agregar campo oculto para la cantidad
    const inputCantidad = document.createElement('input');
    inputCantidad.type = 'hidden';
    inputCantidad.name = 'cantidad';
    inputCantidad.value = result.value.quantity;
    form.appendChild(inputCantidad);

    document.body.appendChild(form);
    form.submit();
    }
    });
    });
    });
</script>
<script>
    document.querySelectorAll('.verSolicitud').forEach(button => {
    button.addEventListener('click', function () {
        const cantidadSolicitada = button.getAttribute('data-cantidad-solicitada');
        const productoId = button.getAttribute('data-product-id');

        Swal.fire({
            title: 'Solicitud de reposición',
            html: `
                <p>Se solicitaron</p>
                <input type="number" id="productQuantity" class="swal2-input" value="${cantidadSolicitada}" min="0" disabled>
                <p>productos</p>
            `,
            confirmButtonText: 'Cerrar',
            confirmButtonColor: '#6c757d',  // Color gris para el botón "Cerrar"
            customClass: {
                popup: 'custom-popup'
            }
        });
    });
    });
    document.querySelectorAll('.editarSolicitud').forEach(button => {
        button.addEventListener('click', function () {
            const cantidadSolicitada = button.getAttribute('data-cantidad-solicitada');
            const productoId = button.getAttribute('data-product-id');

            Swal.fire({
                title: 'Editar Solicitud de Reposición',
                html: `
                <p>Ingrese la nueva cantidad de productos que desea solicitar:</p>
                <input type="number" id="productQuantityEdit" class="swal2-input" value="${cantidadSolicitada}" min="0">
            `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                focusConfirm: false,
                preConfirm: () => {
                    const newQuantity = Swal.getPopup().querySelector('#productQuantityEdit').value;
                    if (!newQuantity || newQuantity <= 0) {
                        Swal.showValidationMessage('Por favor ingrese una cantidad válida.');
                        return false;
                    }
                    return newQuantity;
                }
            }).then((editResult) => {
                if (editResult.isConfirmed) {
                    // Crear y enviar un formulario para guardar los cambios
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/AdminZonal/Productos/GuardarSolReposicion'; // Ruta del controller para guardar

                    const inputProductoId = document.createElement('input');
                    inputProductoId.type = 'hidden';
                    inputProductoId.name = 'productoId';
                    inputProductoId.value = productoId; // ID del producto
                    form.appendChild(inputProductoId);

                    const inputCantidad = document.createElement('input');
                    inputCantidad.type = 'hidden';
                    inputCantidad.name = 'cantidad';
                    inputCantidad.value = editResult.value; // Nueva cantidad
                    form.appendChild(inputCantidad);

                    document.body.appendChild(form);
                    form.submit();
                }
            });
        });
    });
    document.querySelectorAll('.eliminarSolicitud').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');

            Swal.fire({
                title: 'Confirmar eliminación',
                text: "¿Está seguro de que deseas eliminar esta solicitud de reposición?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                }
            }).then((deleteResult) => {
                if (deleteResult.isConfirmed) {
                    // Crear y enviar un formulario para eliminar la solicitud
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/AdminZonal/Productos/EliminarSolReposicion'; // Ruta del controller para eliminar

                    const inputProductoId = document.createElement('input');
                    inputProductoId.type = 'hidden';
                    inputProductoId.name = 'productoId';
                    inputProductoId.value = productoId; // ID del producto
                    form.appendChild(inputProductoId);

                    document.body.appendChild(form);
                    form.submit();
                }
            });
        });
    });

    document.querySelectorAll('.eliminarFechaArribo').forEach(button => {
        button.addEventListener('click', function () {
            const productoId = button.getAttribute('data-product-id');

            Swal.fire({
                title: 'Confirmar eliminación',
                text: "¿Está seguro de que deseas eliminar esta fecha de arribo?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                }
            }).then((deleteResult) => {
                if (deleteResult.isConfirmed) {
                    // Crear y enviar un formulario para eliminar la solicitud
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/AdminZonal/Productos/EliminarFechaArribo'; // Ruta del controller para eliminar

                    const inputProductoId = document.createElement('input');
                    inputProductoId.type = 'hidden';
                    inputProductoId.name = 'productoId';
                    inputProductoId.value = productoId; // ID del producto
                    form.appendChild(inputProductoId);

                    document.body.appendChild(form);
                    form.submit();
                }
            });
        });
    });
</script>
<script>
    function filterTable() {
    const input = document.getElementById("searchCustomers");
    const filter = input.value.toLowerCase();
    const table = document.querySelector("table tbody");
    const rows = table.getElementsByTagName("tr");

    for (let i = 0; i < rows.length; i++) {
    const cells = rows[i].getElementsByTagName("td");
    let match = false;

    for (let j = 0; j < cells.length; j++) {
    if (cells[j].innerText.toLowerCase().includes(filter)) {
    match = true;
    break;
    }
    }
    rows[i].style.display = match ? "" : "none";
    }
    }
</script>
<script>

    document.querySelectorAll('.addDate').forEach(button => {
        button.addEventListener('click', function() {
            Swal.fire({
                showCloseButton: true,
                title: 'Fecha de entrega',
                html: `
                <p>Ingrese la fecha de entrega:</p>
                <input type="date" id="deliveryDate" class="swal2-input" required>
            `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                preConfirm: () => {
                    const fechaIngresada = Swal.getPopup().querySelector('#deliveryDate').value;
                    const fechaHoy = new Date(new Date().toLocaleDateString('en-CA')).toISOString().split('T')[0]; // Obtener fecha de hoy en formato yyyy-mm-dd

                    // Verificar si la fecha fue ingresada
                    if (!fechaIngresada) {
                        Swal.showValidationMessage('Por favor ingrese una fecha válida.');
                        return false;
                    }

                    // Validar que la fecha ingresada sea una fecha futura
                    if (new Date(fechaIngresada) <= new Date(fechaHoy)) {
                        Swal.showValidationMessage('La fecha de arribo debe ser una fecha futura.');
                        return false;
                    }

                    return fechaIngresada; // Retornar la fecha si es válida
                }

            }).then((result) => {
                if (result.isConfirmed) {
                    // Verifica si el productoId está siendo obtenido correctamente
                    const productoId = button.getAttribute('data-product-id');
                    console.log("Producto ID: ", productoId);  // Añadir log para comprobar

                    if (productoId) {
                        // Crear y enviar un formulario oculto con la fecha y el productoId al servidor
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = '/AdminZonal/Productos/guardarFecha';  // Endpoint del backend

                        const inputProductoId = document.createElement('input');
                        inputProductoId.type = 'hidden';
                        inputProductoId.name = 'productoId';
                        inputProductoId.value = productoId; // Asegúrate de que este valor no sea null

                        const inputFecha = document.createElement('input');
                        inputFecha.type = 'hidden';
                        inputFecha.name = 'fechaEntrega';
                        inputFecha.value = result.value;

                        form.appendChild(inputProductoId);
                        form.appendChild(inputFecha);
                        document.body.appendChild(form);
                        form.submit();
                    } else {
                        console.error("El ID del producto no está disponible.");
                    }
                }
            });
        });
    });

</script>
<script>
    document.querySelectorAll('.saveAlert').forEach(button => {
        button.addEventListener('click', function() {
            Swal.fire({
                showCloseButton: true,
                title: 'Editar fecha de arribo',
                html: `
                    <p>Ingrese la nueva fecha de arribo:</p>
                    <input type="date" id="productQuantity" class="swal2-input" value="" min="0">
                `,
                showCancelButton: true,
                confirmButtonText: 'Guardar',
                cancelButtonText: 'Cancelar',
                customClass: {
                    popup: 'custom-popup'
                },
                focusConfirm: false,
                preConfirm: () => {
                    const fechaIngresada = Swal.getPopup().querySelector('#productQuantity').value;
                    const fechaHoy = new Date(new Date().toLocaleDateString('en-CA')).toISOString().split('T')[0]; // Obtener fecha de hoy en formato yyyy-mm-dd

                    // Verificar si la fecha fue ingresada
                    if (!fechaIngresada) {
                        Swal.showValidationMessage('Por favor ingrese una fecha válida.');
                        return false;
                    }

                    // Validar que la fecha ingresada sea una fecha futura
                    if (new Date(fechaIngresada) <= new Date(fechaHoy)) {
                        Swal.showValidationMessage('La fecha de arribo debe ser una fecha futura.');
                        return false;
                    }

                    return fechaIngresada; // Retornar la fecha si es válida
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Verifica si el productoId está siendo obtenido correctamente
                    const productoId = button.getAttribute('data-product-id');
                    console.log("Producto ID: ", productoId);  // Añadir log para comprobar

                    if (productoId) {
                        // Crear y enviar un formulario oculto con la fecha y el productoId al servidor
                        const form = document.createElement('form');
                        form.method = 'POST';
                        form.action = '/AdminZonal/Productos/guardarFecha';  // Endpoint del backend

                        const inputProductoId = document.createElement('input');
                        inputProductoId.type = 'hidden';
                        inputProductoId.name = 'productoId';
                        inputProductoId.value = productoId; // Asegúrate de que este valor no sea null

                        const inputFecha = document.createElement('input');
                        inputFecha.type = 'hidden';
                        inputFecha.name = 'fechaEntrega';
                        inputFecha.value = result.value;

                        form.appendChild(inputProductoId);
                        form.appendChild(inputFecha);
                        document.body.appendChild(form);
                        form.submit();
                    } else {
                        console.error("El ID del producto no está disponible.");
                    }
                }
            });
        });
    });

</script>
</body>
</html>
