<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 - Página no encontrada</title>
        <link rel="stylesheet" th:href="@{/css/style-404.css}">

    </head>
    <body>
        <div class="text">
            <div>ERROR</div>
            <h1>404</h1>
            <hr>
            <div>Página no encontrada</div>
            <a th:href="${userRole == 'Super Admin' ? '/SuperAdmin' :
                        userRole == 'Agente' ? '/Agente' :
                        userRole == 'Administrador Zonal' ? '/AdminZonal' :
                        userRole == 'Usuario Final' ? '/UsuarioFinal' :
                        '/'}"
               class="btn-primary">
                Volver al inicio
            </a>
        </div>

        <div class="astronaut">
            <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
        </div>
        <script th:src="@{/js/js404.js}"></script>
    </body>
</html>