<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Error Interno del Servidor</title>
    <link rel="stylesheet" th:href="@{/css/style-500.css}">
</head>
<body>
<div class="container">
    <!-- Mensaje de error -->
    <div class="text">
        <h1>500</h1>
        <hr>
        <p>¡Oops! Algo salió mal.</p>
        <p>Estamos trabajando en solucionarlo.</p>
        <a th:href="${userRole == 'Super Admin' ? '/SuperAdmin' :
                                userRole == 'Agente' ? '/Agente' :
                                userRole == 'Administrador Zonal' ? '/AdminZonal' :
                                userRole == 'Usuario Final' ? '/UsuarioFinal' :
                                '/'}"
           class="btn-primary">
            Volver al inicio
        </a>
    </div>

    <div class="server-animation">
        <img src="https://cdn-icons-png.flaticon.com/512/4275/4275113.png"
             alt="Reparación" class="server-img">
    </div>

</div>

<script th:src="@{/js/js500.js}"></script>
</body>
</html>
