<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="Codescandy" name="author">
	<title>Plantilla base para roles administrativos</title>
	<!-- Favicon icon-->
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


	<!-- Libs CSS -->
	<link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
	<link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
	<link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


	<!-- Theme CSS -->
	<link rel="stylesheet" th:href="@{/css/theme.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<style>

		.logoImagen{
			height: 80px;
			width: 250px;
		}
		.logoImagenCelulares{
			height: 80px;
			width: 220px;
		}
	</style>

</head>

<body>
<!-- main -->
<div>
	<!-- navbar -->
	<div th:insert="~{fragments/navbarAdminZonal.html :: navbarSuperior}"></div>


	<div class="main-wrapper">
		<!-- navbar -->
		<!-- navbar vertical (para pc)-->
		<div th:insert="fragments/navbarAdminZonal.html :: navbarVerticalPc('Dashboard')"></div>

		<!-- navbar vertical (para celular)-->
		<div th:insert="fragments/navbarAdminZonal.html :: navbarVerticalCelulares('Dashboard')"></div>



		<!-- COONTENIDO DE LA PAGINA -->
		<main class="main-content-wrapper">
			<section class="container">
				<!-- row -->
				<div class="row mb-8">
					<div class="col-md-12">
						<!-- card -->
						<div
								class="card bg-light border-0 rounded-4"
								style="background-image: url(/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right">
							<div class="card-body p-lg-12" >
								<h1 style="color: white; font-size: 5vh;">Bienvenido! Admin zonal</h1>
							</div>
						</div>
					</div>
				</div>
				<!-- table -->
				<div class="table-responsive-xl mb-6 mb-lg-0">
					<h2 style="margin-left: 1vh;">Productos con menor stock:</h2>
					<div class="row flex-nowrap pb-3 pb-lg-0">
						<div th:each="producto: ${ProductosMenorStock}"  class="col-lg-4 col-12 mb-6">
							<!-- card -->
							<div class="card h-100 card-lg">
								<!-- card body -->
								<div class="card-body p-6">
									<!-- heading -->
									<div class="d-flex justify-content-between align-items-center mb-3">
										<div>
											<h4 class="mb-0 fs-5" th:text="${producto.nombreProducto}"></h4>
										</div>
										<div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
											<i class="bi bi-cart fs-5"></i>
										</div>
									</div>
									<!-- project number -->
									<div class="lh-1">
										<!--<img alt="Imagen del producto" src="imagen.jpg" class="mb-2" style="height: 10vh;border-radius: 5px;">-->

										<span>

											   <!--<span class="text-dark me-1 mt2"></span>-->
											   Stock disponible:
                                    		</span>
										<h3 class="mt-2 fw-bold fs-2" style="margin-left: 1vh;" th:text="${producto.cantidadDisponible}"></h3>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

				<!-- row -->
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
						<!-- card -->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<!-- heading -->
								<h3 class="mb-0 fs-5">Usuarios registrados vs activos</h3>
								<div class="mt-4" style="height: 40vh;"> <!-- Ajuste de altura a 300px -->
									<div id="usersChart" style="height: 100%; width: 100%;"></div> <!-- Ajuste de max-width a 400px -->
								</div>
							</div>
						</div>

					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
						<!-- card -->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<!-- heading -->
								<h3 class="mb-0 fs-5">Agentes</h3>
								<div class="mt-4" style="height: 40vh;"> <!-- Ajuste de altura a 300px -->
									<div id="usuariosPorAgenteChart" style="height: 100%; width: 100%;"></div> <!-- Ajuste de max-width a 400px -->
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- row -->
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
						<!-- card -->
						<!--Recibir la lista e iterar respecto a la misma-->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<h3 class="mb-0 fs-5">Top 10 productos más importantes</h3>
								<div class="mt-6">
									<div th:each="producto : ${ProductosMasImportados}">
										<div class="mb-8">
											<div class="d-flex align-items-center justify-content-between">
												<h5 class="fs-6" th:text="${producto.nombreProducto}"></h5>
												<span>
                                                <span class="me-1 text-dark" th:text="${producto.cantVentas}"></span>
                                                de <span th:text="${TotalVentas.getTotalVentas()}"></span>
                                            </span>
											</div>
											<!-- main wrapper -->
											<div>
												<!-- progressbar -->
												<div class="progress bg-light-info" style="height: 6px">
													<div
															class="progress-bar bg-info"
															role="progressbar"
															aria-label="Example 1px high"
															th:style="'width:' + ${producto.cantVentas} * 100.0 / ${TotalVentas.getTotalVentas()} + '%'"
															aria-valuenow="25"
															aria-valuemin="0"
															aria-valuemax="100"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-6">
						<!-- card -->
						<div class="card h-100 card-lg">
							<!-- card body -->
							<div class="card-body p-6">
								<h3 class="mb-0 fs-5">Top 10 usuarios con más importaciones</h3>
								<div class="mt-6">
									<div th:each="usuario: ${topImportadores}">
										<div class="mb-5">
											<div class="d-flex align-items-center justify-content-between">
												<h5 class="fs-6" th:text="${usuario.nombre} + ' ' + ${usuario.apellidoPaterno}">	</h5>
												<span>
											  <span class="me-1 text-dark" th:text="${usuario.u_cantImportaciones}"></span>
											  importaciones <!--Tiene que ser el mismo valr que el width respectivo-->
										   </span>
											</div>
											<!-- main wrapper -->
											<div>
												<!-- progressbar -->
												<div class="progress bg-light-primary" style="height: 6px">
													<div
															class="progress-bar bg-primary"
															role="progressbar"
															aria-label="Example 1px high"
															th:style="'width:' + ${usuario.u_cantImportaciones} * 100.0 / ${usuario.getTotalImportaciones()} + '%'"
															aria-valuenow="25"
															aria-valuemin="0"
															aria-valuemax="100"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

			</section>
		</main>
	</div>
</div>

<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->


<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:inline="javascript">
	var usuariosregistrados = /*[[${CantidadUsuariosRegistrados}]]*/ [];
	var usuariosactivos = /*[[${CantidadUsuariosActivos}]]*/ [];
	var CantusuariosRegistrados = usuariosregistrados.cantUsuariosRegistrados;

	var CantusuariosActivos = usuariosactivos.cantUsuariosActivos;

	console.log("Usuarios Registrados: ", CantusuariosRegistrados)
	console.log("Usuarios Registrados: ", CantusuariosActivos)
	var options = {
		chart: {
			type: 'donut',
			height: '100%',
			width: '100%'
		},
		series: [CantusuariosRegistrados, CantusuariosActivos],
		labels: ['Usuarios registrados', 'Usuarios activos'],
		responsive: [{
			breakpoint: 480,
			options: {
				legend: {
					position: 'bottom'
				}
			}
		}],
		colors: ['#008FFB', '#FF4560'],
	};

	var chart = new ApexCharts(document.querySelector("#usersChart"), options);
	chart.render();
</script>
<script th:src="@{/js/theme.min.js}"></script>

<script th:inline="javascript">
	var labelsRaw = /*[[${labelsAgentes}]]*/ [];
	var dataRaw = /*[[${usuariosPorAgente}]]*/ [];
	//var CantusuariosRegistrados = usuariosregistrados.cantUsuariosRegistrados;

	//var CantusuariosActivos = usuariosactivos.cantUsuariosActivos;

	console.log("Usuarios Registrados: ", CantusuariosRegistrados)
	console.log("Usuarios Registrados: ", CantusuariosActivos)
	var options = {
		chart: {
			type: 'donut',
			height: '100%',
			width: '100%'
		},
		series: dataRaw,
		labels: labelsRaw,
		responsive: [{
			breakpoint: 480,
			options: {

				legend: {
					position: 'bottom'
				}
			}
		}],
		colors: ['#00fb9b', '#ffe26a', "#838cff"],

	};

	var chart = new ApexCharts(document.querySelector("#usuariosPorAgenteChart"), options);
	chart.render();
</script>

</body>
</html>
