<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Codescandy" name="author">
        <title>Foro</title>
        <!-- Favicon icon-->
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


        <!-- Libs CSS -->
        <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
        <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
        <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


        <!-- Theme CSS -->
        <link rel="stylesheet" th:href="@{/css/theme.min.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <style>
            .form-control::placeholder {
                font-size: 12px; /* Cambia el tamaño del texto del placeholder */
            }
            .info-box {
                display: flex;
                padding: 20px;
                border-radius: 8px;
                margin-top: -100px;
            }
            .highlight-text {
                font-style: italic; /* Texto en cursiva */
                font-weight: bold; /* Texto en negritas */
                color:black;
                letter-spacing: 1px; /* Espaciado entre letras */
                text-align: center; /* Centrar el texto */
                font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente si lo prefieres */
                font-size: 1.2em; /* Tamaño del texto ajustable */
                text-transform: uppercase; /* Convertir el texto a mayúsculas */
                margin-top: 20px;
            }
            .button-container {
                text-align: center; /* Centra el botón horizontalmente */
            }
            .table {
                width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
                text-align: center; /* Centra el contenido horizontalmente */
            }
            .table tbody td {
                color: black; /* Texto negro para el cuerpo de la tabla */
            }
        </style>

    </head>

    <body>
        <!-- main -->
        <div>
            <!-- navbar -->

            <!-- navbar horizontal -->
            <!-- navbar -->
            <div class="border-bottom">
                <!-- navbar -->
                <!-- navbar vertical (para pc)-->

                <div th:insert="~{fragments/navbarUsuarioFinal :: navbar}"></div>
            </div>
        </div>

            <main>
                <!-- section-->

                <!-- section -->
                <div class="mt-8 mb-lg-14 mb-8">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row gx-10">
                            <!-- col -->
                            <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
                                <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
                                    <div class="offcanvas-header d-lg-none">
                                        <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>

                                    <div class="offcanvas-body ps-lg-2 pt-lg-0">
                                        <form action="/ruta/backend" method="GET"> <!-- Cambia la acción a la ruta de tu backend -->
                                            <!-- Búsqueda -->
                                            <div class="mb-8">
                                                <h5 class="mb-3">Búsqueda</h5>
                                                <div class="my-4">
                                                    <input type="search" name="search" class="form-control" placeholder="Filtrar por nombre, código, proveedores del producto" />
                                                </div>
                                            </div>

                                            <!-- Rating -->
                                            <div class="mb-8">
                                                <h5 class="mb-3">Rating</h5>
                                                <div>
                                                    <!-- form check -->
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="checkbox" name="rating[]" value="5" id="ratingFive" />
                                                        <label class="form-check-label" for="ratingFive">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="checkbox" name="rating[]" value="4" id="ratingFour" checked />
                                                        <label class="form-check-label" for="ratingFour">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="checkbox" name="rating[]" value="3" id="ratingThree" />
                                                        <label class="form-check-label" for="ratingThree">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="checkbox" name="rating[]" value="2" id="ratingTwo" />
                                                        <label class="form-check-label" for="ratingTwo">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="checkbox" name="rating[]" value="1" id="ratingOne" />
                                                        <label class="form-check-label" for="ratingOne">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                            <i class="bi bi-star text-warning"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Botón para enviar la información -->
                                            <a href="#" class="btn btn-outline-gray-400 mb-2" style="margin-top: -25px" onclick="document.querySelector('form').submit();">Filtrar</a>
                                        </form>

                                    </div>
                                    <div style="margin-top: -20px;margin-left: 8px" >
                                    <hr>
                                    <a th:href="@{/UsuarioFinal/Review}" class="btn btn-primary" >Redactar reseña</a>
                                    </div>
                                </div>
                            </aside>
                            <section class="col-lg-9 col-md-12">


                                <!-- ACA PONER LOS REVIEWS -->

                                <div class="my-1" >
                                    <!-- col -->
                                    <div class="col-md-12">
                                        <div class="mb-10">
                                            <div class="d-flex justify-content-between align-items-center mb-8">
                                                <div>
                                                    <!-- heading -->
                                                    <h4>Reseñas</h4>
                                                </div>

                                                <!-- Agrupando ambos selectores en un solo contenedor -->
                                                <div class="d-flex mt-2 mt-lg-0">
                                                    <!-- Selector de "Show" -->
                                                    <div class="me-2">
                                                        <select class="form-select">
                                                            <option selected>Mostrar: 5</option>
                                                            <option value="10">Mostrar: 10</option>
                                                            <option value="20">Mostrar: 15</option>

                                                        </select>
                                                    </div>

                                                    <!-- Selector de "Top Reviews" -->
                                                    <div>
                                                        <select class="form-select">
                                                            <option selected>Más valoradas</option>
                                                            <option value="Most Recent">Más recientes</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-bottom pb-6 mb-6">
                                                <!-- img -->
                                                <img th:src="@{/images/avatar/avatar-10.jpg}" alt="" class="rounded-circle avatar-lg" />
                                                <div class="ms-5">
                                                    <h6 class="mb-1">Shankar Subbaraman</h6>
                                                    <!-- select option -->
                                                    <!-- content -->
                                                    <p class="small">
                                                        <span class="text-muted">30 Diciembre 2022</span>
                                                        <span class="text-primary ms-3 fw-bold">Compra Verificada</span>
                                                    </p>
                                                    <!-- rating -->
                                                    <div class="mb-2">
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <span class="ms-3 text-dark fw-bold">Es necesario verificar el peso en el punto de entrega</span>
                                                    </div>
                                                    <!-- text-->
                                                    <p>
                                                        La calidad del producto es buena, pero el peso parecía ser menor de 1kg. Como se envía en un paquete abierto, existe la posibilidad de que se pierda parte del contenido durante el envío. FreshCart envía las verduras y frutas en bolsas de plástico selladas con código de barras en el peso, etc.
                                                    </p>
                                                    <div>
                                                        <div class="border icon-shape icon-lg border-2">
                                                            <!-- img -->
                                                            <img th:src="@{/images/products/product-img-1.jpg}" alt="" class="img-fluid" />
                                                        </div>
                                                        <div class="border icon-shape icon-lg border-2 ms-1">
                                                            <!-- img -->
                                                            <img th:src="@{/images/products/product-img-2.jpg}" alt="" class="img-fluid" />
                                                        </div>
                                                        <div class="border icon-shape icon-lg border-2 ms-1">
                                                            <!-- img -->
                                                            <img th:src="@{/images/products/product-img-3.jpg}" alt="" class="img-fluid" />
                                                        </div>
                                                    </div>
                                                    <!-- icon -->
                                                    <div class="d-flex justify-content-end mt-4">
                                                        <a href="#" class="text-muted">
                                                            <i class="feather-icon icon-thumbs-up me-1"></i>
                                                            Útil
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                <!-- img -->
                                                <img th:src="@{/images/avatar/avatar-12.jpg}" alt="" class="rounded-circle avatar-lg" />
                                                <div class="ms-5">
                                                    <h6 class="mb-1">Robert Thomas</h6>
                                                    <!-- content -->
                                                    <p class="small">
                                                        <span class="text-muted">29 Diciembre 2022</span>
                                                        <span class="text-primary ms-3 fw-bold">Compra Verificada</span>
                                                    </p>
                                                    <!-- rating -->
                                                    <div class="mb-2">
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star text-warning"></i>
                                                        <span class="ms-3 text-dark fw-bold">Es necesario verificar el peso en el punto de entrega</span>
                                                    </div>

                                                    <p>
                                                        La calidad del producto es buena, pero el peso parecía ser menor de 1kg. Como se envía en un paquete abierto, existe la posibilidad de pérdida en el camino. FreshCart envía las verduras y frutas en bolsas de plástico selladas y con código de barras para el peso, etc.
                                                    </p>
                                                    <!-- icon -->
                                                    <div class="d-flex justify-content-end mt-4">
                                                        <a href="#" class="text-muted">
                                                            <i class="feather-icon icon-thumbs-up me-1"></i>
                                                            Útil
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                <!-- img -->
                                                <img th:src="@{/images/avatar/avatar-9.jpg}" alt="" class="rounded-circle avatar-lg" />
                                                <div class="ms-5">
                                                    <h6 class="mb-1">Barbara Tay</h6>
                                                    <!-- content -->
                                                    <p class="small">
                                                        <span class="text-muted">28 Diciembre 2022</span>
                                                        <span class="text-danger ms-3 fw-bold">Compra No Verificada</span>
                                                    </p>
                                                    <!-- rating -->
                                                    <div class="mb-2">
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star text-warning"></i>
                                                        <span class="ms-3 text-dark fw-bold">Es necesario verificar el peso en el punto de entrega</span>
                                                    </div>

                                                    <p>
                                                        Cada vez que pedí de Fresh recibí plátanos verde amarillentos como los quería, así que vale la pena. Rara vez llegan demasiado maduros.
                                                    </p>
                                                    <!-- icon -->
                                                    <div class="d-flex justify-content-end mt-4">
                                                        <a href="#" class="text-muted">
                                                            <i class="feather-icon icon-thumbs-up me-1"></i>
                                                            Útil
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex border-bottom pb-6 mb-6 pt-4">
                                                <!-- img -->
                                                <img th:src="@{/images/avatar/avatar-8.jpg}" alt="" class="rounded-circle avatar-lg" />
                                                <div class="ms-5 flex-grow-1">
                                                    <h6 class="mb-1">Sandra Langevin</h6>
                                                    <!-- content -->
                                                    <p class="small">
                                                        <span class="text-muted">8 Diciembre 2022</span>
                                                        <span class="text-danger ms-3 fw-bold">Compra No Verificada</span>
                                                    </p>
                                                    <!-- rating -->
                                                    <div class="mb-2">
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star text-warning"></i>
                                                        <span class="ms-3 text-dark fw-bold">Gran producto</span>
                                                    </div>

                                                    <p>
                                                        Gran producto y empaque. La entrega podría ser más rápida.
                                                    </p>
                                                    <!-- icon -->
                                                    <div class="d-flex justify-content-end mt-4">
                                                        <a href="#" class="text-muted">
                                                            <i class="feather-icon icon-thumbs-up me-1"></i>
                                                            Útil
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>


                                <!-- row -->
                                <div class="row mt-8">
                                    <div class="col">
                                        <!-- nav -->
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link mx-1" href="#" aria-label="Previous">
                                                        <i class="feather-icon icon-chevron-left"></i>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link mx-1 active" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link mx-1" href="#">2</a></li>

                                                <li class="page-item"><a class="page-link mx-1" href="#">...</a></li>
                                                <li class="page-item"><a class="page-link mx-1" href="#">12</a></li>
                                                <li class="page-item">
                                                    <a class="page-link mx-1" href="#" aria-label="Next">
                                                        <i class="feather-icon icon-chevron-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Libs JS -->
            <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->

            <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

            <!-- Theme JS -->
            <script th:src="@{/js/theme.min.js}"></script>

            <script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
            <script th:src="@{/js/vendors/chart.js}"></script>


    </body>
</html>
