<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Codescandy" name="author">
        <title>Foro</title>
        <!-- Favicon icon-->

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">
        <!-- ... otros meta tags y enlaces ... -->

        <!-- Libs CSS -->
        <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet">
        <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
        <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


        <!-- Theme CSS -->
        <link rel="stylesheet" th:href="@{/css/theme.min.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <style>
            .form-control::placeholder {
                font-size: 12px; /* Cambia el tamaño del texto del placeholder */
            }
            .info-box {
                display: flex;
                padding: 20px;
                border-radius: 8px;
                margin-top: -100px;
            }
            .highlight-text {
                font-style: italic; /* Texto en cursiva */
                font-weight: bold; /* Texto en negritas */
                color:black;
                letter-spacing: 1px; /* Espaciado entre letras */
                text-align: center; /* Centrar el texto */
                font-family: 'Arial', sans-serif; /* Puedes cambiar la fuente si lo prefieres */
                font-size: 1.2em; /* Tamaño del texto ajustable */
                text-transform: uppercase; /* Convertir el texto a mayúsculas */
                margin-top: 20px;
            }
            .button-container {
                text-align: center; /* Centra el botón horizontalmente */
            }
            .table {
                width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
                text-align: center; /* Centra el contenido horizontalmente */
            }
            .table tbody td {
                color: black; /* Texto negro para el cuerpo de la tabla */
            }

            /* Botón "Útil" estilizado */
            .like-btn {
                position: relative;
                display: inline-flex;
                align-items: center;
                font-weight: normal;
                font-size: 14px;
                color: #6c757d;
                transition: color 0.3s ease;
                cursor: pointer;
            }

            .like-btn i {
                font-size: 18px;
                transition: transform 0.3s ease, color 0.3s ease;
            }

            /* Estilo cuando está marcado (like) */
            .like-btn.liked {
                color: #007bff;
                font-weight: bold;
            }

            .like-btn.liked i {
                color: #007bff;
                transform: scale(1.2);
            }

            /* Animación de rebote (bounce) cuando se hace click */
            @keyframes bounce {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.5);
                }
                100% {
                    transform: scale(1);
                }
            }

            .like-btn.liked i {
                animation: bounce 0.4s ease-out;
            }

            /* Partículas de "like" */
            .like-btn .particles {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
                display: none;
            }

            .like-btn.liked .particles {
                display: block;
            }

            .particle {
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: #007bff;
                border-radius: 50%;
                opacity: 0;
                animation: particle-animation 0.6s forwards ease-out;
            }

            @keyframes particle-animation {
                0% {
                    opacity: 1;
                    transform: translate(0, 0) scale(1);
                }
                100% {
                    opacity: 0;
                    transform: translate(var(--x), var(--y)) scale(0.6);
                }
            }

        </style>

    </head>

    <body>
            <div class="border-bottom">

                <div th:insert="~{fragments/navbarUsuarioFinal :: navbar}"></div>

            </div>
            <main>
                <!-- section-->

                <!-- section -->
                <div class="mt-8 mb-lg-14 mb-8">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row gx-10">
                            <!-- col -->
                            <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
                                <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
                                    <div class="offcanvas-header d-lg-none">
                                        <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filtros</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body ps-lg-2 pt-lg-0">
                                        <form th:action="@{/UsuarioFinal/Reviews}" method="get">
                                            <!-- Filtro de Búsqueda -->
                                            <div class="mb-8">
                                                <h5 class="mb-3">Buscar Productos</h5>
                                                <div class="mb-4">
                                                    <!-- Selector de búsqueda -->
                                                    <select id="searchCriteriaSelect" name="searchCriteria" class="form-select mb-2" onchange="updatePlaceholder()">
                                                        <option value="name" th:selected="${searchCriteria == 'name'}">Nombre del Producto</option>
                                                        <option value="provider" th:selected="${searchCriteria == 'provider'}">Proveedor</option>
                                                    </select>
                                                    <!-- Campo de búsqueda -->
                                                    <input type="text" id="searchKeywordInput" name="searchKeyword" class="form-control" placeholder="Ingrese el nombre del producto" th:value="${searchKeyword}" />
                                                </div>
                                            </div>

                                            <!-- Filtro de Calificación -->
                                            <div class="mb-8">
                                                <h5 class="mb-3">Filtrar por Calificación</h5>
                                                <div class="rating-options d-flex flex-column gap-2">
                                                    <div th:each="star : ${#numbers.sequence(5,1)}" class="form-check">
                                                        <input class="form-check-input" type="radio" name="rating" th:value="${star}" th:id="'rating' + ${star}" th:checked="${rating == star}" />
                                                        <label class="form-check-label d-flex align-items-center" th:for="'rating' + ${star}">
                    <span th:each="i : ${#numbers.sequence(1,5)}">
                        <i th:class="${i <= star} ? 'bi bi-star-fill text-warning' : 'bi bi-star text-warning'"></i>
                    </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Filtro de Fecha -->
                                            <div class="mb-8">
                                                <h5 class="mb-3">Filtrar por Fecha</h5>
                                                <div class="d-flex">
                                                    <div class="me-3">
                                                        <label for="startDate" class="form-label">Desde</label>
                                                        <input type="date" id="startDate" name="startDate" class="form-control" th:value="${#temporals.format(startDate, 'yyyy-MM-dd')}" />
                                                    </div>
                                                    <div>
                                                        <label for="endDate" class="form-label">Hasta</label>
                                                        <input type="date" id="endDate" name="endDate" class="form-control" th:value="${#temporals.format(endDate, 'yyyy-MM-dd')}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Botones de Aplicar y Borrar Filtros -->
                                            <!-- Otros filtros -->
                                            <div class="d-grid gap-2">
                                                <button type="submit" class="btn btn-primary btn-block">Aplicar Filtros</button>
                                                <a th:href="@{/UsuarioFinal/Reviews}" class="btn btn-secondary btn-block">Borrar Filtros</a>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </aside>

                            <section class="col-lg-9 col-md-12">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <h4>Reseñas</h4>
                                    <!-- Botón "Redactar reseña" -->
                                    <a th:href="@{/UsuarioFinal/Review}" class="btn btn-primary">Redactar reseña</a>
                                </div>
                                <!-- ACA PONER LOS REVIEWS -->

                                <div class="my-1" >
                                    <!-- col -->
                                    <div class="col-md-12">
                                        <div class="mb-10">
                                            <!-- Selectores de "Mostrar" y "Ordenar por" -->
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <div class="d-flex align-items-center">
                                                    <label for="pageSizeSelect" class="form-label me-2">Mostrar:</label>
                                                    <select class="form-select" id="pageSizeSelect" onchange="changePageSize()">
                                                        <option th:value="3" th:text="'3'" th:selected="${pageSize == 3}"></option>
                                                        <option th:value="5" th:text="'5'" th:selected="${pageSize == 5}"></option>
                                                        <option th:value="10" th:text="'10'" th:selected="${pageSize == 10}"></option>
                                                    </select>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <label for="sortSelect" class="form-label me-2" style="white-space: nowrap;">Ordenar por:</label>
                                                    <select class="form-select" id="sortSelect" onchange="changeSortOrder()">
                                                        <option value="recent" th:selected="${sortOrder == 'recent'}">Más recientes</option>
                                                        <option value="oldest" th:selected="${sortOrder == 'oldest'}">Más antiguos</option>
                                                        <option value="mostHelpful" th:selected="${sortOrder == 'mostHelpful'}">Más útiles</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div th:each="resena : ${listaResenas}" class="d-flex border-bottom pb-6 mb-6">
                                                <div class="reseña-avatar" style="width: 100px;">
                                                    <img th:src="@{${resena.idUsuario.foto}}" alt="" class="rounded-circle avatar-lg" />
                                                </div>

                                                <div class="ms-5 reseña-contenido" style="flex-grow: 1;">
                                                    <h6 class="mb-1" th:text="${resena.idUsuario.nombre + ' ' + resena.idUsuario.apellidoPaterno + ' ' + resena.idUsuario.apellidoMaterno}"></h6>

                                                    <p class="small">
                                                        <span class="text-muted" th:text="${#temporals.format(resena.fechaCreacion, 'dd MMMM yyyy')}"></span>
                                                    </p>

                                                    <!-- Nombre del producto y del proveedor -->
                                                    <p class="text-primary fw-bold">
                                                        Producto: <span th:text="${resena.producto.nombreProducto}"></span> -
                                                        Proveedor: <span th:text="${resena.producto.idProveedor.nombreProveedor}"></span>
                                                    </p>

                                                    <div class="mb-2" th:if="${resena.idCalidad != null}" th:with="
                                                        filledStars = ${resena.idCalidad.id},
                                                        emptyStars = ${5 - resena.idCalidad.id}">

                                                        <!-- Display filled stars -->
                                                        <span th:each="i : ${#numbers.sequence(1, filledStars)}">
                                                            <i class="bi bi-star-fill text-warning"></i>
                                                        </span>

                                                        <!-- Display empty stars if any -->
                                                        <span th:if="${emptyStars > 0}" th:each="i : ${#numbers.sequence(1, emptyStars)}">
                                                            <i class="bi bi-star text-warning"></i>
                                                        </span>

                                                        <!-- Review title -->
                                                        <span class="ms-3 text-dark fw-bold" th:text="${resena.tema}"></span>
                                                    </div>


                                                    <p th:text="${resena.opinion}"></p>

                                                    <div class="d-flex reseña-fotos mt-3">
                                                        <div th:if="${not #lists.isEmpty(resena.fotosresenas)}">
                                                            <div th:each="foto : ${resena.fotosresenas}" class="border icon-shape icon-lg border-2 me-1" style="width: 100px; height: 100px; overflow: hidden;">
                                                                <!-- Aquí pasamos la información necesaria al modal usando data-* -->
                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalResena"
                                                                   th:attr="data-usuario-nombre=${resena.idUsuario.nombre},
                                                                        data-fecha-creacion=${#temporals.format(resena.fechaCreacion, 'dd MMMM yyyy')},
                                                                        data-calificacion=${resena.idCalidad.id},
                                                                        data-tema=${resena.tema},
                                                                        data-opinion=${resena.opinion},
                                                                        data-imagen-src=@{'/UsuarioFinal/Resena/Fotos/' + ${foto.id}},
                                                                        data-producto-nombre=${resena.producto.nombreProducto},
                                                                        data-proveedor-nombre=${resena.producto.idProveedor.nombreProveedor}">
                                                                    <img th:src="@{'/UsuarioFinal/Resena/Fotos/' + ${foto.id}}" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;" />
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Botón útil y contador -->
                                                    <div class="d-flex justify-content-end mt-4">
                                                        <a href="#" class="text-muted like-btn" th:attr="data-resena-id=${resena.id}">
                                                            <i class="feather-icon icon-thumbs-up me-1"></i>
                                                            Útil (<span class="like-count" th:text="${resena.util}">0</span>)
                                                            <div class="particles">
                                                                <div class="particle" style="--x: -20px; --y: -30px;"></div>
                                                                <div class="particle" style="--x: 20px; --y: -30px;"></div>
                                                                <div class="particle" style="--x: -30px; --y: 10px;"></div>
                                                                <div class="particle" style="--x: 30px; --y: 10px;"></div>
                                                                <div class="particle" style="--x: 0px; --y: -40px;"></div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>


                                <!-- row -->
                                <!-- Pagination Controls -->
                                <!-- Paginación -->
                                <div class="row mt-8">
                                    <div class="col">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <!-- Botón "Anterior" -->
                                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                                    <a class="page-link" th:href="${currentPage > 0} ? @{/UsuarioFinal/Reviews(page=${currentPage - 1}, size=${pageSize}, searchCriteria=${searchCriteria}, searchKeyword=${searchKeyword}, rating=${rating}, startDate=${startDate}, endDate=${endDate}, sortOrder=${sortOrder})} : '#'" aria-label="Anterior">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>

                                                <!-- Enlace a la primera página -->
                                                <li class="page-item" th:classappend="${currentPage == 0} ? 'active'">
                                                    <a class="page-link" th:href="@{/UsuarioFinal/Reviews(page=0, size=${pageSize}, searchCriteria=${searchCriteria}, searchKeyword=${searchKeyword}, rating=${rating}, startDate=${startDate}, endDate=${endDate}, sortOrder=${sortOrder})}">1</a>
                                                </li>

                                                <!-- Puntos suspensivos si es necesario -->
                                                <li class="page-item disabled" th:if="${startPage > 2}">
                                                    <span class="page-link">...</span>
                                                </li>

                                                <!-- Números de página intermedios -->
                                                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i == currentPage} ? 'active'" class="page-item">
                                                    <a class="page-link" th:href="@{/UsuarioFinal/Reviews(page=${i}, size=${pageSize}, searchCriteria=${searchCriteria}, searchKeyword=${searchKeyword}, rating=${rating}, startDate=${startDate}, endDate=${endDate}, sortOrder=${sortOrder})}" th:text="${i + 1}"></a>
                                                </li>

                                                <!-- Puntos suspensivos si es necesario -->
                                                <li class="page-item disabled" th:if="${endPage < totalPages - 1}">
                                                    <span class="page-link">...</span>
                                                </li>

                                                <!-- Enlace a la última página -->
                                                <li class="page-item" th:if="${totalPages > 1}" th:classappend="${currentPage == totalPages - 1} ? 'active'">
                                                    <a class="page-link" th:href="@{/UsuarioFinal/Reviews(page=${totalPages - 1}, size=${pageSize}, searchCriteria=${searchCriteria}, searchKeyword=${searchKeyword}, rating=${rating}, startDate=${startDate}, endDate=${endDate}, sortOrder=${sortOrder})}" th:text="${totalPages}"></a>
                                                </li>

                                                <!-- Botón "Siguiente" -->
                                                <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                                                    <a class="page-link" th:href="${currentPage + 1 < totalPages} ? @{/UsuarioFinal/Reviews(page=${currentPage + 1}, size=${pageSize}, searchCriteria=${searchCriteria}, searchKeyword=${searchKeyword}, rating=${rating}, startDate=${startDate}, endDate=${endDate}, sortOrder=${sortOrder})} : '#'" aria-label="Siguiente">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>

                                    </div>
                                </div>





                            </section>
                        </div>
                    </div>
                </div>
            </main>
        <div class="modal fade" id="modalResena" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-4">
                        <div class="position-absolute top-0 end-0 me-3 mt-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5 id="modalResenaUsuario"></h5>
                                <p class="small text-muted" id="modalResenaFecha"></p>

                                <!-- Agregamos aquí el nombre del producto y proveedor -->
                                <p class="text-primary fw-bold">
                                    Producto: <span id="modalResenaProducto"></span>
                                </p>
                                <!-- Agregamos aquí el nombre del producto y proveedor -->
                                <p class="text-primary fw-bold">
                                    Proveedor: <span id="modalResenaProveedor"></span>
                                </p>

                                <div id="modalResenaCalificacion"></div>
                                <h6 class="mt-3" id="modalResenaTema"></h6>
                                <p id="modalResenaOpinion"></p>
                            </div>
                            <div class="col-md-6">
                                <img id="modalResenaImagen" src="#" alt="Imagen de la reseña" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Libs JS -->
            <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->

            <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
            <script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

            <!-- Theme JS -->
            <script th:src="@{/js/theme.min.js}"></script>

            <script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
            <script th:src="@{/js/vendors/chart.js}"></script>
        <!-- Tu script personalizado -->

            <script>
                var modalResena = document.getElementById('modalResena');
                modalResena.addEventListener('show.bs.modal', function (event) {
                    // Obtén el enlace que activó el modal
                    var button = event.relatedTarget;

                    // Extrae la información de los atributos data-* del enlace
                    var usuarioNombre = button.getAttribute('data-usuario-nombre');
                    var fechaCreacion = button.getAttribute('data-fecha-creacion');
                    var calificacion = parseInt(button.getAttribute('data-calificacion')); // Asegúrate de convertir a número entero
                    var tema = button.getAttribute('data-tema');
                    var opinion = button.getAttribute('data-opinion');
                    var imagenSrc = button.getAttribute('data-imagen-src');
                    var productoNombre = button.getAttribute('data-producto-nombre'); // Nombre del producto
                    var proveedorNombre = button.getAttribute('data-proveedor-nombre'); // Nombre del proveedor

                    // Actualiza el contenido del modal con los datos extraídos
                    var modalUsuarioNombre = modalResena.querySelector('#modalResenaUsuario');
                    var modalFechaCreacion = modalResena.querySelector('#modalResenaFecha');
                    var modalTema = modalResena.querySelector('#modalResenaTema');
                    var modalOpinion = modalResena.querySelector('#modalResenaOpinion');
                    var modalImagen = modalResena.querySelector('#modalResenaImagen');
                    var modalCalificacion = modalResena.querySelector('#modalResenaCalificacion');
                    var modalProductoNombre = modalResena.querySelector('#modalResenaProducto'); // Aquí ajusta el ID
                    var modalProveedorNombre = modalResena.querySelector('#modalResenaProveedor'); // Aquí ajusta el ID

                    // Asignar valores al modal
                    modalUsuarioNombre.textContent = usuarioNombre;
                    modalFechaCreacion.textContent = fechaCreacion;
                    modalTema.textContent = tema;
                    modalOpinion.textContent = opinion;
                    modalImagen.src = imagenSrc;
                    modalProductoNombre.textContent = productoNombre; // Mostrar nombre del producto
                    modalProveedorNombre.textContent = proveedorNombre; // Mostrar nombre del proveedor

                    // Generar las estrellas según la calificación
                    var calificacionHtml = '';
                    for (var i = 1; i <= calificacion; i++) {
                        calificacionHtml += '<i class="bi bi-star-fill text-warning"></i>';
                    }
                    for (var i = calificacion + 1; i <= 5; i++) {
                        calificacionHtml += '<i class="bi bi-star text-warning"></i>';
                    }
                    modalCalificacion.innerHTML = calificacionHtml;
                });

            </script>

        <script>
            // Seleccionar todos los botones de "Útil"
            document.querySelectorAll('.like-btn').forEach(function(btn) {
                btn.addEventListener('click', function(event) {
                    event.preventDefault(); // Evita que el enlace siga la redirección predeterminada

                    // Alternar la clase 'liked' para aplicar el efecto de me gusta
                    this.classList.toggle('liked');

                    // Si el botón ha sido marcado como "liked"
                    if (this.classList.contains('liked')) {
                        // Disparar la animación de partículas
                        this.querySelectorAll('.particle').forEach(function(particle) {
                            particle.style.animation = 'none';
                            setTimeout(function() {
                                particle.style.animation = '';
                            }, 10);
                        });
                    }
                });
            });
        </script>

        <script>
            function changePageSize() {
                const size = document.getElementById('pageSizeSelect').value;
                let params = new URLSearchParams(window.location.search);
                params.set('size', size);
                params.set('page', 0); // Reiniciar a la primera página
                window.location.search = params.toString();
            }

            function changeSortOrder() {
                const sortOrder = document.getElementById('sortSelect').value;
                let params = new URLSearchParams(window.location.search);
                params.set('sortOrder', sortOrder);
                params.set('page', 0); // Reiniciar a la primera página
                window.location.search = params.toString();
            }
        </script>
        <!-- Otros contenidos del body -->

        <script>
            // Seleccionar todos los botones de "Útil"
            document.querySelectorAll('.like-btn').forEach(function(btn) {
                btn.addEventListener('click', function(event) {
                    event.preventDefault(); // Evita que el enlace siga la redirección predeterminada

                    const resenaId = this.getAttribute('data-resena-id');

                    // Enviar la solicitud al servidor para incrementar el contador
                    fetch('/UsuarioFinal/Resena/' + resenaId + '/like', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                            // [csrfHeader]: csrfToken // Eliminar esta línea
                        },
                        body: JSON.stringify({ resenaId: resenaId })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                // Actualizar el contador en la interfaz
                                this.querySelector('.like-count').textContent = data.newUtilCount;
                                // Marcar el botón como "liked" si no lo está
                                if (!this.classList.contains('liked')) {
                                    this.classList.add('liked');
                                    // Disparar la animación de partículas
                                    this.querySelectorAll('.particle').forEach(function(particle) {
                                        particle.style.animation = 'none';
                                        setTimeout(function() {
                                            particle.style.animation = '';
                                        }, 10);
                                    });
                                }
                            } else {
                                alert('Ocurrió un error al marcar la reseña como útil.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Ocurrió un error al procesar tu solicitud.');
                        });
                });
            });

        </script>

        <script>
            function updatePlaceholder() {
                // Obtener el valor seleccionado en el selector
                var searchCriteria = document.getElementById('searchCriteriaSelect').value;
                // Obtener el campo de texto
                var searchKeywordInput = document.getElementById('searchKeywordInput');

                // Cambiar el placeholder según la opción seleccionada
                if (searchCriteria === 'name') {
                    searchKeywordInput.placeholder = 'Ingrese el nombre del producto';
                } else if (searchCriteria === 'provider') {
                    searchKeywordInput.placeholder = 'Ingrese el nombre del proveedor';
                }
            }
        </script>

    </body>
</html>

