<!DOCTYPE html>
<html lang="en">
   <head>
	   <!-- Required meta tags -->
	   <meta charset="utf-8" />
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	   <meta content="Codescandy" name="author" />
	   <title>Usuarios asignados</title>
	   <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
	   <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
	   <!-- Favicon icon-->
	   <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}" />

	   <!-- Libs CSS -->
	   <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
	   <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet" />
	   <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet" />

	   <!-- Theme CSS -->
	   <link rel="stylesheet" th:href="@{/css/theme.min.css}" />



	   <!--Prueba de logo para ver si usamos jpg o svg -->
	   <style>

		   .logoImagen{
			   height: 80px;
			   width: 250px;
		   }
		   .logoImagenCelulares{
			   height: 80px;
			   width: 220px;
		   }
	   </style>

	   <!--POP UP-->
	   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	   <style>
		   .custom-popup{
			   border-radius: 10px;
		   }
		   .swal2-styled{
			   border-radius: 8px;
		   }
		   .swal2-styled.swal2-confirm {
			   background-color: #28a745;
			   color: white;
		   }

		   .swal2-styled.swal2-cancel {
			   background-color: #dc3545;
			   color: white;
		   }
	   </style>


   </head>

   <body>

   <!-- BARRA SUPERIOR -->
   <div th:insert="~{fragments/navbarAgente :: navbarSuperior}"></div>
	<!-- NAVBAR  -->
   <div class="main-wrapper">

	   <!-- navbar -->
	   <!-- navbar vertical (para pc)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalPc('usuariosAsignados')}"></div>

	   <!-- navbar vertical (para celular)-->
	   <div th:insert="~{fragments/navbarAgente.html :: navbarVerticalCelulares('usuariosAsignados')}"></div>



	   <!-- COONTENIDO DE LA PAGINA -->
   <main class="main-content-wrapper">
	   <div class="container">
		   <!-- row -->
		   <div class="row mb-8">
			   <div class="col-md-12">
				   <!-- page header -->
				   <div>
					   <h2>Usuarios Asignados</h2>
					   <!-- breacrumb -->
					   <nav aria-label="breadcrumb">
						   <ol class="breadcrumb mb-0">
							   <li class="breadcrumb-item"><a th:href="@{/Agente}">Inicio</a></li>
							   <li class="breadcrumb-item active" aria-current="page">Lista de usuarios</li>
						   </ol>
					   </nav>
				   </div>
			   </div>
		   </div>
		   <!-- row -->
		   <div class="row">
			   <div class="col-xl-12 col-12 mb-5">
				   <div th:if="${successMessage}" class="alert alert-success"><p th:text="${successMessage}"></p></div>

				   <!-- card -->
				   <div class="card h-100 card-lg shadow-sm border">
					   <div class="p-6">
						   <div class="row justify-content-between">
							   <div class="col-md-4 col-12 mb-2 mb-md-0">
								   <!-- form -->
								   <form class="d-flex" role="search">
									   <input class="form-control" type="search" id="searchUsuario"   placeholder="Buscar Usuario" aria-label="Search" th:value="${param.busqueda}" oninput="filterTable()" />

								   </form>
							   </div>

						   </div>
					   </div>
					   <!-- card body -->
					   <div class="card-body p-0">

						   <!-- table responsive -->
						   <div class="table-responsive text-center">
							   <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">

								   <thead class="bg-light">
								   <tr>

									   <th></th>
									   <th>Nombres</th>
									   <th>Apellidos</th>
									   <th>Correo</th>
									   <th>Distrito</th>
									   <th>Opciones</th>

								   </tr>
								   </thead>
								   <tbody>


									   <tr th:each="usuarioAsignado,var: ${listaUsuariosAsignados}">
									   <!--<td><a ><img th:src="@{/images/avatar/avatar-4.jpg}" alt="" class="icon-shape icon-md" /></a>-->
									   <td th:text="${var.index+1}"></td>
									   <td th:text="${usuarioAsignado.nombre}"></td>
									   <td th:text="${usuarioAsignado.apellidoPaterno} + ' ' + ${usuarioAsignado.apellidoMaterno}"></td>
									   <td th:text="${usuarioAsignado.email}"></td>
									   <td th:text="${usuarioAsignado.distrito.nombre}"></td>
									   <td>
										   <!--
										   <div class="dropdown">
											   <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
												   <i class="feather-icon icon-more-vertical fs-5"></i>
											   </a>
											   <ul class="dropdown-menu">
												   <li>
													   <a class="dropdown-item banearUsuario btn" href="javascript:void(0);"
														  th:data-id="${usuarioAsignado.id}"
														  th:data-nombre="${usuarioAsignado.nombre}"
														  data-bs-toggle="tooltip"
														  data-bs-placement="bottom">
														   <i class="bi bi-person-fill-slash me-3"></i> Banear
													   </a>
												   </li>

												   <li>
													   <a class="dropdown-item"
														  th:href="@{'/Agente/Ordenes/Usuario?idUsuario=' + ${usuarioAsignado.id} }">
														   <i class="bi bi-cart-check me-3"></i>Ver órdenes
													   </a>
												   </li>
												   <li>
													   <a class="dropdown-item" th:href="@{/Agente/Chat}"><i class="bi bi-wechat me-3"></i>Chat </a>
												   </li>
												   <li>
													   <a class="dropdown-item" th:href="@{/Agente/verUsuarioFinal(id=${usuarioAsignado.getId()})}">
														   <i class="bi bi-eye me-3"></i> Ver perfil
													   </a>
												   </li>
											   </ul>
										   </div>
										   -->

										   <a class="btn btn-primary"
											  th:href="@{'/Agente/Ordenes/Usuario?idUsuario=' + ${usuarioAsignado.id} }">
											   <i class="bi bi-cart-check "></i>
										   </a>

										   <a class="btn btn-success" th:href="@{/Agente/Chat}"><i class="bi bi-wechat "></i> </a>

										   <a class="btn btn-secondary" th:href="@{/Agente/verUsuarioFinal(id=${usuarioAsignado.getId()})}">
											   <i class="bi bi-eye "></i>
										   </a>

										   <a class="btn btn-danger banearUsuario " href="javascript:void(0);"
											  th:data-id="${usuarioAsignado.id}"
											  th:data-nombre="${usuarioAsignado.nombre}"
											  data-bs-toggle="tooltip"
											  data-bs-placement="bottom">
											   <i class="bi bi-person-fill-slash "></i>
										   </a>




									   </td>
								   </tr>



								   </tbody>
							   </table>
						   </div>
					   </div>

					   <!-- Mostrar información de paginación y botones -->
					   <div class="d-flex flex-column align-items-center">
						   <!-- Texto de paginación centrado -->
						   <span id="paginationInfo" class="mb-2">Mostrando página [[${currentPage + 1}]] de [[${totalPages}]]</span>

						   <!-- Paginación centrada -->
						   <nav aria-label="Page navigation example">
							   <ul class="pagination justify-content-center">
								   <!-- Botón de "Previo" -->
								   <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
									   <a class="page-link" th:href="@{/Agente/UsuariosAsignados(page=${currentPage - 1})}">Previo</a>
								   </li>

								   <!-- Páginas numeradas -->
								   <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'" class="page-item">
									   <a class="page-link" th:href="@{/Agente/UsuariosAsignados(page=${i})}" th:text="${i + 1}"></a>
								   </li>

								   <!-- Botón de "Siguiente" -->
								   <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
									   <a class="page-link" th:href="@{/Agente/UsuariosAsignados(page=${currentPage + 1})}">Siguiente</a>
								   </li>
							   </ul>
						   </nav>
					   </div>

				   </div>
			   </div>
		   </div>
	   </div>



	   <!-- Modal: PERFIL DE USUARIO -->
	   <div class="modal fade " id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		   <div class="modal-dialog modal-dialog-centered " role="document">
			   <div class="modal-content">

				   <div class="modal-body">

					   <div class="text-center position-relative">

						   <a href="#!">
							   <img th:src="@{/images/avatar/avatar-4.jpg}"
									alt="Imagen del agente"
									class="mt-3 mb-3 img-fluid" style="border-radius: 8px; height: 40vh;" />
						   </a>
					   </div>
					   <hr style="border: 1px solid #949494;">
					   <div>
						   <h1 class="text-center">
							   <!-- Nombre completo del usuario -->
							   Jesus alvarado
						   </h1>
						   <div class="text-small mb-1 text-center" >
							   <h5  class="text-decoration-none" style="color: #696969"><small>a20211688@pucp.edu.pe</small></h5>
							   <h5  class="text-decoration-none" style="color: #696969"><small>Total gastado: S/. 1100.00</small></h5>
							   <h5  class="text-decoration-none" style="color: #696969"><small>Total de órdenes: 5</small></h5>

						   </div>
					   </div>


				   </div>

				   <div class="modal-footer">
						<a href="ordenesDeUsuario.html"><button type="button" class="btn btn-primary" >Ver órdenes</button></a>
					   <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>

				   </div>
			   </div>
		   </div>
	   </div>
	   <!--POP UP BANEAR USUARIOS-->
	   <script>
		   <!-- POP UP BANEAR USUARIOS -->
		   document.querySelectorAll('.banearUsuario').forEach(button => {
			   button.addEventListener('click', function (event) {
				   event.preventDefault();  // Evita la redirección automática

				   // Obtenemos el ID de la orden
				   const usuarioId = this.getAttribute('data-id');

				   // SweetAlert para seleccionar la razón de cancelación
				   Swal.fire({
					   title: 'Banear usuario',
					   text: '¿Realmente desea banear a este usuario?',
					   input: 'select',
					   inputOptions: {
						   'Mal comportamiento': 'Mal comportamiento',
						   'Datos falsos': 'Datos falsos',
						   'Pagos incompletos': 'Pagos incompletos'
					   },
					   inputPlaceholder: 'Seleccione un motivo',
					   showCancelButton: true,
					   confirmButtonText: 'Banear',
					   cancelButtonText: 'Cancelar',
					   inputValidator: (value) => {
						   if (!value) {
							   return 'Debes seleccionar un motivo.';
						   }
					   }
				   }).then((result) => {
					   if (result.isConfirmed) {
						   const razonEliminacion = result.value;  // Obtener la razón seleccionada

						   // Redirigir al controlador con el ID y la razón de eliminación como parámetros
						   window.location.href = `/Agente/banear?idUsuario=${usuarioId}&razonBaneado=${razonEliminacion}`;
					   }
				   });
			   });
		   });



		   function filterTable() {
			   const input = document.getElementById("searchUsuario");
			   const filter = input.value.toLowerCase();
			   const table = document.querySelector("table tbody");
			   const rows = table.getElementsByTagName("tr");

			   for (let i = 0; i < rows.length; i++) {
				   const cells = rows[i].getElementsByTagName("td");
				   let match = false;

				   for (let j = 0; j < cells.length; j++) {
					   if (cells[j].innerText.toLowerCase().includes(filter)) {
						   match = true;
						   break;
					   }
				   }
				   rows[i].style.display = match ? "" : "none";
			   }
		   }

		   $(document).ready(function () {
			   // Función para manejar clic en las páginas
			   $('a.page-link').on('click', function () {
				   const page = $(this).data('page');
				   if (page !== undefined) {
					   window.location.href = '/UsuariosAsignados?page=' + page;
				   }
			   });

			   // Función para manejar clic en "Previo"
			   $('#prevPage').on('click', function () {
				   const currentPage = parseInt($('li.active a').data('page'));
				   if (currentPage > 0) {
					   window.location.href = '/UsuariosAsignados?page=' + (currentPage - 1);
				   }
			   });

			   // Función para manejar clic en "Siguiente"
			   $('#nextPage').on('click', function () {
				   const currentPage = parseInt($('li.active a').data('page'));
				   const totalPages = parseInt([[${totalPages}]]);
				   if (currentPage < totalPages - 1) {
					   window.location.href = '/UsuariosAsignados?page=' + (currentPage + 1);
				   }
			   });
		   });


	   </script>


   </main>



	</div>

   <!-- POP UPS EXITOSOS -->
   <script>
	   const urlParams = new URLSearchParams(window.location.search);
	   if (urlParams.has('usuarioBaneado')) {
		   Swal.fire('Usuario baneado', 'Se ha baneado al usuario exitosamente', 'success');

	   }

   </script>

   	<!-- LIBRERIAS -->
	<div>
		<!-- Javascript-->
		<!-- Libs JS -->
		<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
		<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

		<!-- Theme JS -->
		<script th:src="@{/js/theme.min.js}"></script>

		<script th:src="@{/js/vendors/jquery.min.js}"></script>
		<script th:src="@{/libs/slick-carousel/slick/slick.min.js}"></script>
		<script th:src="@{/js/vendors/slick-slider.js}"></script>
		<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
		<script th:src="@{/js/vendors/tns-slider.js}"></script>
		<script th:src="@{/js/vendors/zoom.js}"></script>

		<script th:src="@{/js/vendors/countdown.js}"></script>
		<script th:src="@{/libs/sticky-sidebar/dist/sticky-sidebar.min.js}"></script>
		<script th:src="@{/js/vendors/sticky.js}"></script>
		<script th:src="@{/js/vendors/modal.js}"></script>

	</div>

   </body>
</html>
